
@{
    ViewBag.Title = "meet_the_team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/Home/Index">Home</a></li>
                        <li class="active">Meet The Team</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-white pinside30">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-9 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">Meet</span> The Team</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-white pinside40">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="mb40 ">
                                <img src="~/Assets/images/team/Team.jpg" alt="Borrow - Loan Company Website Template" class="img-fluid mb30">
                                <p class="lead">We love our team. And apparently, they love us back. Watch their stories about how they helped them get ahead. We look forward to working with you for all of your lending needs.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="team-block mb30">
                                <div class="team-img mb30"> <img src="~/Assets/images/team/PM3_0538.jpg" alt="Borrow - Loan Company Website Template" class="img-fluid"> </div>
                                <div class="team-content text-center">
                                    <h3>Bryan</h3>
                                    <small class="designation">Director & Finance Broker</small>
                                    <p class="text-justify">
                                        Bryan along with his wife Lorraine head up Priority in Tamworth and Newcastle.<br />From his early twenties, Bryan has worked in the Financial Services Sector and studied Accounting. He spent much of this in managerial roles with a large corporate finance company in Sydney. Immediately prior to establishing the business in 2001, Bryan spent 13 years as the Accountant/Business Manager of Calrossy Anglican School in Tamworth.  “Treat people the way you would like to be treated” is always Bryan’s
                                        philosophy and this has been instilled in Bryan’s work and in Priority’s working culture.<br />Through his many years of experience, Bryan can claim to be well versed in all facets of residential, leasing, business and commercial loans and his accounting background is an asset to the Priority team.<br />In his spare time, Bryan enjoys a swing on the golf course, water skiing, boating or simply spending time with Lorraine and his adult children, their spouses and has a huge soft spot for his lovely grandchildren in Newcastle.
                                    </p>

                                    <p class="" style="margin: 0;">
                                        <span class="highlight">e.</span>
                                        <a class="tel" href="mailto:info@yourpriority.com.au">info@yourpriority.com.au</a>
                                    </p>
                                    <p class="" style="margin: 0;">
                                        <span class="highlight">t.</span>
                                        <a class="tel" href="tel:0267669727">(02) 6766 9727</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="team-block mb30">
                                <div class="team-img mb30"> <img src="~/Assets/images/team/lorraine.jpg" alt="Borrow - Loan Company Website Template" class="img-fluid"> </div>
                                <div class="team-content text-center">
                                    <h3>Lorraine</h3>
                                    <small class="designation">Office Manager</small>
                                    <p class="text-justify">
                                        Lorraine began in finance at the tender age of 16 years, at Custom Credit in Tamworth. She gained invaluable experience greeting customers and helping people with their needs. Lorraine followed on as private secretary and personal assistant to the NSW Manager before devoting her time to her favourite role as mother of three boys. Along the way, she also worked in two Preschools for over eleven years,
                                        which now helps in communicating with children in the office.<br />With her Secretarial background in Finance,
                                        Lorraine has helped to develop and operate the business; "Look after the customer" has been her main mission
                                        in the beginning and she still echoes it today. Despite many varying roles across the business, Lorraine
                                        now enjoys the role of office manager and compliance officer.<br />These days, Lorraine loves to relax by spending quality time with Bryan and travelling to see their loving family in Newcastle. Of course, she adores her beautiful grandchildren and cherishes every second she spends with them. ‘Born and bred’ in Tamworth, Lorraine met Bryan at an early age and both went to
                                        school in Tamworth. She is proud to call this town, home.
                                    </p>
                                    <p class="" style="margin: 0;">
                                        <span class="highlight">e.</span>
                                        <a class="tel" href="mailto:info@yourpriority.com.au">info@yourpriority.com.au</a>
                                    </p>
                                    <p class="" style="margin: 0;">
                                        <span class="highlight">t.</span>
                                        <a class="tel" href="tel:0267669727">(02) 6766 9727</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="team-block mb30">
                                <div class="team-img mb30"> <img src="~/Assets/images/team/craig.jpg" alt="Borrow - Loan Company Website Template" class="img-fluid"> </div>
                                <div class="team-content text-center">
                                    <h3>Craig</h3>
                                    <small class="designation">Finance Broker</small>
                                    <p class="text-justify">
                                        Craig joined Priority in 2010 after spending time working for a major bank. Craig wanted the freedom to really help his clients achieve the best outcome when they look at structuring their finance.  Craig’s range of experience in Residential lending, Investment property lending, Commercial lending and equipment leases
                                        allows him to help with all facets of your finance needs.<br />Craig is a local man and enjoys spending his spare time with his young family or running around the hockey pitch
                                        (even if it is more of a meander these days).<br />Craig enjoys helping people achieve their property dreams whether you are a first home buyer, need a bigger home or an avid investor Craig would love to
                                        help your dreams come true.
                                    </p>
                                    <p class="" style="margin: 0;">
                                        <span class="highlight">e.</span>
                                        <a class="tel" href="mailto:info@yourpriority.com.au">info@yourpriority.com.au</a>
                                    </p>
                                    <p class="" style="margin: 0;">
                                        <span class="highlight">t.</span>
                                        <a class="tel" href="tel:0267669727">(02) 6766 9727</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="team-block mb30">
                                <div class="team-img mb30"> <img src="~/Assets/images/team/chris.jpg" alt="Borrow - Loan Company Website Template" class="img-fluid"> </div>
                                <div class="team-content text-center">
                                    <h3>Chris</h3>
                                    <small class="designation">Finance Broker</small>
                                    <p class="text-justify">
                                        Chris was born in Sydney NSW but as a child followed his family throughout the state as they owned and operated several rural properties before
                                        eventually settling in Tamworth. <br />Professionally Chris followed a career in sales and media before studying to become a fully qualified mortgage broker, joining the Priority team at the start of 2013. Chris believes achieving positive financial outcomes for his clients is the most rewarding aspect of his role at Priority – “Purchasing a home or real estate asset is the biggest thing many Australians will do in their lives. Helping that dream become a reality and the satisfaction that
                                        comes through that is the reason I enjoy coming to work every day”.<br />Personally, Chris loves spending time with his young family who are all dedicated basketball fans working towards their next American adventure together.
                                    </p>
                                    <p class="" style="margin: 0;">
                                        <span class="highlight">e.</span>
                                        <a class="tel" href="mailto:info@yourpriority.com.au">info@yourpriority.com.au</a>
                                    </p>
                                    <p class="" style="margin: 0;">
                                        <span class="highlight">t.</span>
                                        <a class="tel" href="tel:0267669727">(02) 6766 9727</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="team-block mb30">
                                <div class="team-img mb30"> <img src="~/Assets/images/team/Alisa.jpg" alt="Borrow - Loan Company Website Template" class="img-fluid"> </div>
                                <div class="team-content text-center">
                                    <h3>Alisa</h3>
                                    <small class="designation">Finance Broker & PA to Bryan</small>
                                    <p class="text-justify">
                                        Alisa is originally from Sydney and moved to Tamworth as a teenager with her family.  She joined the Priority Team in December 2014 as Personal Assistant to Bryan Coleman. Alisa has since undertaken her Diploma in Finance and Mortgage Broking Management and is now an approved Finance Broker.
                                        Prior to this Alisa worked for over 12 years in the Retail Banking Industry.<br />Alisa enjoys finding solutions to assist her clients with their finance matters.  "Purchasing your Dream Home or Investment Property is one of the biggest purchases you make in life, I like that I can manage the process from application to settlement
                                        ensuring the experience is an easy one for the customer".<br />In her spare time, Alisa enjoys spending time with her husband and two sons and being involved in the many activities that having teenagers creates!
                                    </p>
                                    <p class="" style="margin: 0;">
                                        <span class="highlight">e.</span>
                                        <a class="tel" href="mailto:info@yourpriority.com.au">info@yourpriority.com.au</a>
                                    </p>
                                    <p class="" style="margin: 0;">
                                        <span class="highlight">t.</span>
                                        <a class="tel" href="tel:0267669727">(02) 6766 9727</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="team-block mb30">
                                <div class="team-img mb30"> <img src="~/Assets/images/team/PM3_1278.jpg" alt="Borrow - Loan Company Website Template" class="img-fluid"> </div>
                                <div class="team-content text-center">
                                    <h3>Tyler</h3>
                                    <small class="designation">Finance Broker</small>
                                    <p class="text-justify">
                                        Tyler is the son of Bryan and Lorraine Coleman, founders of Priority. Growing up in Tamworth NSW, Tyler has seen his parents help the community with their finance needs since the beginning. He has always admired their perseverance and dedication to always putting the customer's needs first. He could not be more proud to now serve beside them and their dedicated team,
                                        assisting his community reach their dreams.<br />Tyler began working part-time for Priority in 2014 when he started his tertiary education at the University of Newcastle. He has since completed a Bachelor of Business, Bachelor of Commerce and a Diploma of Finance and Mortgage Broking Management. He now works full-time as a
                                        Mortgage Broker in our Newcastle Office.<br />On the weekends, you will often find Tyler searching the streets of Newcastle for the newest cafes and trending restaurants, reading a book in one of the city's picturesque parks or beaches or spending time with friends and family. His love for the outdoors means that he is always planning a camping trip or travelling
                                        to see new places at any chance he gets.<br />Although he loves living in Newcastle, Tamworth will always occupy a special place in his heart.
                                    </p>
                                    <p class="" style="margin: 0;">
                                        <span class="highlight">e.</span>
                                        <a class="tel" href="mailto:info@yourpriority.com.au">info@yourpriority.com.au</a>
                                    </p>
                                    <p class="" style="margin: 0;">
                                        <span class="highlight">t.</span>
                                        <a class="tel" href="tel:0267669727">(02) 6766 9727</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="team-block mb30">
                                <div class="team-img mb30"> <img src="~/Assets/images/team/blake.jpg" alt="Borrow - Loan Company Website Template" class="img-fluid"> </div>
                                <div class="team-content text-center">
                                    <h3>Blake</h3>
                                    <small class="designation">Finance Broker</small>
                                    <p class="text-justify">
                                        You could say Blake has been involved in Priority since its inception in 2001 - albeit mainly as an observer for the first 10 years as a son of the proprietors. Nevertheless, Blake has watched the business
                                        grow steadily over this time and has learned a great deal because of it.<br />
                                        Blake
                                        Finance Broker

                                        You could say Blake has been involved in Priority since its inception in 2001 - albeit mainly as an observer for the first 10 years as a son of the proprietors. Nevertheless, Blake has watched the business grow steadily over this time and has learned a great deal because of it.

                                        In 2011, shortly after completing a Bachelor of Commerce at the University of Newcastle, Blake added a Diploma in Financial Services (Mortgage Broking)
                                        to his qualifications and subsequently joined the team temporarily to work as a Broker at Priority.<br />Since this time, Blake has had the opportunity to work in a number of institutions within the financial industry and we are delighted that he has now returned to Priority to continue his career as a
                                        fully qualified Mortgage Broker within the Newcastle & Central Coast region.<br />Blake has a strong passion for helping people and feels there is nothing more personally fulfilling than to be a part of the process of a customer achieving their dreams. Blake's experience ranges from home mortgages and commercial
                                        lending through to equipment finance and many other forms of finance.<br />In his spare time Blake enjoys dirt bike riding, boating and fishing, or simply walking his pet dog Harley.<br />Blake is always up for a chat, so feel free to give him a buzz today!
                                    </p>
                                    <p class="" style="margin: 0;">
                                        <span class="highlight">e.</span>
                                        <a class="tel" href="mailto:info@yourpriority.com.au">info@yourpriority.com.au</a>
                                    </p>
                                    <p class="" style="margin: 0;">
                                        <span class="highlight">t.</span>
                                        <a class="tel" href="tel:0267669727">(02) 6766 9727</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

