
@{
    ViewBag.Title = "Priority_History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .grey-paragraph {
        background-color: #f1f1f2;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }
    .red-paragraph {
        background-color: #ed193d;
        color: #FFF !important;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .menu-li {
        list-style: none;
        padding: 10px;
        padding-left: 0px;
        border-bottom: 1px;
        border-bottom: 2px solid rgb(230, 230, 230);
    }

    .menu-li-list {
        list-style: none;
        padding: 10px 0;
    }

    .menu-ul {
        padding-top: 45px;
        padding-bottom: 40px;
        padding-right: 15px;
        padding-left: 15px;
    }


    .highlight {
        color: #ed1a3d;
    }

    .not-highlight {
        color: #00577f;
    }

    .bold-font {
        font-weight: 600;
    }
    .f-weight {
        font-weight: 800;
    }
</style>
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/Home/Index">Home</a></li>
                        <li class="active"><a href="/About/Index">About</a></li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-grayblack pinside30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">A</span>bout </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="wrapper-content bg-grayblack">
                    <ul class="menu-ul">
                        <!--rm wsp-->
                        <li class="menu-li"><a href="/About/Priority_History">The Priority Story</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="/About/meet_the_team">Meet the Team</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="/About/Lenders">Our Lenders</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="wrapper-content bg-grayblack">
                    <div class="section-scroll pinside60 highlight" id="section-about ">
                        <h3><span class="highlight f-weight">Bryan and Lorraine Coleman proudly opened the doors to Priority Home Loans in 2001 and have been serving clients all over Australia since.</span></h3>
                        <div class="row" style="padding-bottom: 10px">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-box-color">
                                <p>We proudly opened Coleman Finance in March 2001, with a small one room office in Peel Street, Tamworth. We had a vision of a business that put their customer’s needs above all else. We love helping people, so let’s make that our mission. The name was soon changed to Priority Home Loans and so started the Priority Story.</p>

                                <p>It did not take long for Priority Home Loans to outgrow its cozy home on the corner of Peel Street and White Street, soon moving to accommodate extra staff and increasing clientele. Two offices later, we found a permanent home for the Priority Tamworth office. It was an old cottage at 214 Marius Street, and after renovating, became the perfect place to grow even more.</p>

                                <p>It was around this time that we met a young girl named Kate. Kate became an integral part of Priority’s humble beginnings, always devoted to our business. We are so grateful for the eleven years she spent working with us, and we still value her friendship very much.</p>

                                <p>Fast forward over seventeen years and Priority’s values remain unhinged.</p>

                                <p>Our ‘small’ business has now grown from a team of two, to a talented team of nine across two offices in Tamworth and Newcastle (Hunter Coast). Tamworth has four brokers – Bryan, Alisa, Craig and Chris, and three administration staff – Lorraine, Kay and Larissa. Newcastle has two brokers – Blake and Tyler.</p>

                                <p class="black-paragraph" style="text-align:center">We have always been proud of how Priority has established professional and morally good ethics and instilled this into all staff and customers, believing in our old motto ‘look after the customer’.</p>

                                <p>These values have helped us mature and gain a good reputation through the ever-changing finance requirements. Our valued employees have come to us with many years of experience – together with our staff, Priority encompass 98 years combined </p>


                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-box-color">
                                <p>experience! Our staff continue to give 110% everyday, working as a team and enjoying friendly staff morale. They always look after their customers individually and with the upmost respect. We could not ask for a better band to work with.</p>

                                <p>Time and time again, over the years, we have been complimented on the way Priority staff treat their clients. We continue to receive referrals from our valued customers and it is so lovely to see the clients from years ago coming back for their finance needs. Many have brought their adult children to see if we can help them or in some cases, guide them to plan so they may one day be in a position to achieve their dreams. We have loved every second.</p>

                                <p class="black-paragraph" style="text-align:center">It has been some very rewarding eighteen years and we are beyond excited (as business owners and parents) to be expanding our team to include our two sons.</p>

                                <p>The Priority vision lives on with two offices and a team that is extremely passionate about helping people with their finance. Our treasured staff have a great sense of pride in their work and we are extremely grateful to have a wonderful team striving to help our customers fulfil their dreams.</p>

                                <img alt="Bryan and Lorraine Coleman" src="~/Assets/images/PM3_2017.jpg" style="height:286px; width:430px">

                                <p><em>Bryan and Lorraine Coleman (Owners &amp; Directors)</em></p>
                            </div>
                        </div>
                        <h3><span class="highlight f-weight">Priority can assist with home loans, investment loans and vehicle finance, through to commercial assets, business loans or even refinancing. <a href="/Contact/Index" target="_blank"><span class="">Contact us</span></a>&nbsp;to find out how we can help you.</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

