
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header-faq">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">FAQs</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-white pinside30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">FA</span>Qs</h1>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="wrapper-content bg-white pinside40">
                    <div class="">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="section-title mb30">
                                    <h1>Frequently Asked Questions</h1>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 st-accordion">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">How can Priority Home Loans help me more than going direct to a lender?</a> </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <p>Convenience, experience and a wider choice.<br>Our leading loan consultants have a wide range of financial institutions on their lending panel, thus they can offer you many loan products to choose from at the one time, while one lender can only offer a limited range of its own loans. Finding the most suitable loan available on your own can be difficult and time consuming. Priority Home Loans normally do not charge for their financial services.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Can my loan be arranged quickly?</a> </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="panel-body">Yes, firstly, a loan consultant saves the time and hassle of knocking on the doors of an endless number of lenders. Secondly, Priority Home Loans handles all the paperwork and their experience saves you time. Thirdly, when time is of the essence, the loan consultant knows which lenders process loans quickly and efficiently.</div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Will I have to pay up front fees?</a> </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="panel-body">
                                                Depending on the property loan product you select, you may need to pay fees up front to cover the loan application and/or valuation of the property. Reputable loan consultants will not normally charge fees for their service to the client.<br>
                                                <strong style="color: #00567f">We will advise you beforehand if you will need to pay fees.</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseseven" aria-expanded="false" aria-controls="collapseThree">How is Priority Home Loans paid?</a> </h4>
                                        </div>
                                        <div id="collapseseven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="panel-body">
                                                Priority Home Loans are paid from standard commissions paid by the lender at loan settlement. The same commission rate is applied regardless of loan product or lender chosen by the borrower. We are also paid (in most cases) an ongoing fee that assists us to look after you after the loan has settled.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingFour">
                                            <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsesix" aria-expanded="false" aria-controls="collapseFour">Will it cost me more than going direct?</a> </h4>
                                        </div>
                                        <div id="collapsesix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                            <div class="panel-body">No. A number of banks and other financial institutions support the services provided by reputable loan consultants. Using loan consultants such as Priority Home Loans saves the lenders costs they could incur themselves in promotion and providing equal localised face-to-face customer service.</div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingFour">
                                            <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">What does it mean to ‘go guarantor’?</a> </h4>
                                        </div>
                                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                            <div class="panel-body">
                                                A guarantor is a third party providing additional financial security to a loan application. This is done by providing a financial guarantee that the loan applicant will repay the loan. This guarantee can be released at any time and the guarantor holds no responsibility once the guarantee is dropped.<br>
                                                This can become very useful when trying to reduce your loan-value ratio (LVR) and can reduce the cost of lenders mortgage insurance dramatically. Usually a guarantor must be a direct family member such as a parent or spouse.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingFour">
                                            <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFour">What is the LVR?</a> </h4>
                                        </div>
                                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                            <div class="panel-body">
                                                LVR is an acronym for Loan-Value Ratio, and represents the percentage of the security you are going to borrow. I.e. LVR = Borrowing amount / Value of security.<br>
                                                LVR is important in your loan application and to the lender. The lower your LVR, the lower the risk to the lender. If your LVR is high (>80%), you will be required to purchase mortgage insurance. This can be very expensive.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-space60">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="section-title mb30">
                                    <h1><a href="#" target="_blank"><span class="highlight">Contact us</span></a> if you would like to know more.</h1>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 st-accordion">
                                <div class="links">
                                    <h3 class="highlight">Useful Links</h3>


                                    <div data-edit="true" data-edit_type="rich" data-edit_field="content" data-content_type="page" data-id="4422" data-csrf="LEAN0R" data-secure-uploads="false">
                                        <ul>
                                            <li>Your credit file: get a&nbsp;<a href="http://www.mycreditfile.com.au/home/free-credit-file.dot" target="_blank">free copy of your credit file</a>&nbsp;from Equifax</li>
                                            <li>Financial tips and advice:&nbsp;<a href="https://www.moneysmart.gov.au/?referrer=fido.gov.au" target="_blank">Money Smart</a>&nbsp;from the Australian Securities &amp; Investment Commission (ASIC)&nbsp;</li>
                                            <li>Loan Essentials: from&nbsp;<a href="http://www.essentialsofborrowing.com.au/" target="_blank">Mortgage &amp; Finance Association of Australia</a>&nbsp;(MFAA)</li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

