
@{
    ViewBag.Title = "Business_Loans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .grey-paragraph {
        background-color: #f1f1f2;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .zero {
        margin: 0px;
        padding: 0px;
    }
    .highlight {
        color: #ed1a3d;
    }

    .not-highlight {
        color: #00577f;
    }

    .bold-font {
        font-weight: 600;
    }
</style>
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="index.html">Our Services</a></li>
                        <li class="active">Business Loans</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-white pinside30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">Business </span>Loans</h1>
                        </div>
                        @*<div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="btn-action"> <a href="#" class="btn btn-default">How To Apply</a> </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                @*<div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Give me call back</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Emi Caculator</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-white ">
                    <div class="about-section pinside40">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 zero">
                                <p>
                                    There are so many opportunities you can take advantage of if you have the right finance in place. If you’re looking at expanding your business, finding new or additional premises, or investing in the latest and most innovative equipment, it’s important to have a trusted partner who can work with you to find the loan you need.<br>
                                    <br>
                                    Whether you’re looking for business lending, commercial property funding or equipment finance, Priority&nbsp;can help. Commercial finance can be complex and guidance and advice can make a big difference. As a commercial finance specialist, we:
                                </p>
                                <ul>
                                    <li>Help you access a range of commercial lenders</li>
                                    <li>Support you through the application process</li>
                                    <li>Offer flexible finance arrangements that suit you</li>
                                </ul>
                                <p>I can also provide real insight into industry trends, lenders, products and purchase processes, so you can confidently move ahead with your plans.</p>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.content end -->
