
@{
    ViewBag.Title = "Commercial_and_Leasing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .red-paragraph {
        background-color: #ed193d;
        color: #FFF !important;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .zero {
        margin: 0px;
        padding: 0px;
    }
</style>
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="index.html">Our Services</a></li>
                        <li class="active">Commercial & Leasing</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-white pinside30">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-9 col-sm-12 col-12">
                            <h1 class="page-title">Commercial & Leasing</h1>
                        </div>
                        @*<div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="btn-action"> <a href="#" class="btn btn-default">How To Apply</a> </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                @*<div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Give me call back</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Emi Caculator</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-white ">
                    <div class="about-section pinside40">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 zero">
                                <p class="red-paragraph" style=" text-align: center">A Priority home loan is one that is well-researched and compared with all our lenders to ensure it caters for your individual needs.</p>
                                <p>Our specialist mortgage advisors are trained with all current industry knowledge and qualifications, remaining up to date with products from the entire market.</p>
                                <p><fontsninja-text id="fontsninja-text-206" class="fontsninja-family-1632">You are our first Priority. So to begin with, we will want to meet with you (or chat to you over the phone) to learn a little bit about yourself and your financial position. Your Priority mortgage advisor will then research your possibilities and find the best finance options available to you. We will then present you with the options and help you to understand the differences between them.</fontsninja-text></p>
                                <p><fontsninja-text id="fontsninja-text-207" class="fontsninja-family-1632">After selecting your tailored finance plan, we have your application covered. Our team will do all the paperwork for you and guide you through our hassle-free process. After settlement, we will always be here to assist in any post-settlement requirements.</fontsninja-text></p>
                                <p>&nbsp;</p>
                                <h3><img alt="Prioritytick" src="//keo-cms.appspot.com.storage.googleapis.com/sites/priorityhl/assets/d62f1ac4-9f4b-4538-af1e-c9532669feb4/priority-profile.png" style="height:20px; width:20px"><fontsninja-text id="fontsninja-text-209" class="fontsninja-family-1632">&nbsp; &nbsp;</fontsninja-text><span class="highlight"><fontsninja-text id="fontsninja-text-211" class="fontsninja-family-1632">Get the right deal. &nbsp; &nbsp;&nbsp;</fontsninja-text></span><fontsninja-text id="fontsninja-text-209" class="fontsninja-family-1632">We compare over 35 lenders.</fontsninja-text></h3>
                                <h3><img alt="Prioritytick" src="//keo-cms.appspot.com.storage.googleapis.com/sites/priorityhl/assets/d62f1ac4-9f4b-4538-af1e-c9532669feb4/priority-profile.png" style="height:20px; width:20px"><fontsninja-text id="fontsninja-text-212" class="fontsninja-family-1632">&nbsp; &nbsp;</fontsninja-text><span class="highlight"><fontsninja-text id="fontsninja-text-214" class="fontsninja-family-1632">All the legwork done for you.</fontsninja-text></span><fontsninja-text id="fontsninja-text-212" class="fontsninja-family-1632">&nbsp; &nbsp; &nbsp;We do all your paperwork.</fontsninja-text></h3>
                                <h3><img alt="Prioritytick" src="//keo-cms.appspot.com.storage.googleapis.com/sites/priorityhl/assets/d62f1ac4-9f4b-4538-af1e-c9532669feb4/priority-profile.png" style="height:20px; width:20px"><fontsninja-text id="fontsninja-text-215" class="fontsninja-family-1632">&nbsp; &nbsp;</fontsninja-text><span class="highlight"><fontsninja-text id="fontsninja-text-217" class="fontsninja-family-1632">Expert advice.</fontsninja-text><strong>&nbsp; &nbsp; &nbsp;</strong></span><fontsninja-text id="fontsninja-text-215" class="fontsninja-family-1632">Our advisors are local and are a friendly face to ask questions.</fontsninja-text></h3>
                                <h3><img alt="Prioritytick" src="//keo-cms.appspot.com.storage.googleapis.com/sites/priorityhl/assets/d62f1ac4-9f4b-4538-af1e-c9532669feb4/priority-profile.png" style="height:20px; width:20px"><fontsninja-text id="fontsninja-text-219" class="fontsninja-family-1632">&nbsp;&nbsp;&nbsp;</fontsninja-text><span class="highlight"><fontsninja-text id="fontsninja-text-221" class="fontsninja-family-1632">We are paid by the lender. &nbsp; &nbsp;&nbsp;</fontsninja-text></span><fontsninja-text id="fontsninja-text-219" class="fontsninja-family-1632">In the majority of cases, there is no cost to you.</fontsninja-text></h3>
                                <p><a href="https://threebestrated.com.au/mortgage-brokers-in-tamworth-nsw"><img alt="Best Mortgage brokers in Tamworth" src="https://threebestrated.com.au/awards/mortgage_brokers-tamworth-2019-clr.svg" style="width:200px"></a></p>
                                <p><a href="https://threebestrated.com.au/mortgage-brokers-in-tamworth-nsw"><img alt="Best Mortgage brokers in Tamworth" src="https://threebestrated.com.au/awards/mortgage_brokers-tamworth-2019-clr.svg" style="width:200px"></a></p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.content end -->
