
@{
    ViewBag.Title = "Commercial_and_Leasing";
    Layout = "~/Views/Shared/_SubPageLayout.cshtml";
}
<style>
    .grey-paragraph {
        background-color: #f1f1f2;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .zero {
        margin: 0px;
        padding: 0px;
    }
    .highlight {
        color: #ed1a3d;
    }

    .not-highlight {
        color: #00577f;
    }

    .bold-font {
        font-weight: 600;
    }
</style>
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="index.html">Our Services</a></li>
                        <li class="active">Commercial & Leasing</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-white pinside30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">Commercial</span> & Leasing</h1>
                        </div>
                        @*<div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="btn-action"> <a href="#" class="btn btn-default">How To Apply</a> </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                @*<div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Give me call back</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Emi Caculator</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-white ">
                    <div class="about-section pinside40">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 zero">
                                <p class="grey-paragraph" style=" text-align: center">Priority Commercial gives you access to Australia’s leading commercial lenders and a dedicated broker to discuss the many options available to you.</p>
                                <p>We will liaise with your accountant to insure the outcome is the most appropriate to your circumstances and goals. Our expert team provide commercial and business loans from simple through to complex structures, making the process as simple and easy for you as possible.</p>
                                <p>Priority can assist with equipment finance, asset finance, equipment leases, chattel mortgages for any depreciable asset for business purposes as well as providing business loans and commercial loans for any business need or new venture.</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.content end -->
