
@{
    ViewBag.Title = "Construction_Loans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .grey-paragraph {
        background-color: #f1f1f2;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .red-paragraph {
        background-color: #ed193d;
        color: #FFF !important;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }
    
    .zero {
        margin: 0px;
        padding: 0px;
    }
    .highlight {
        color: #ed1a3d;
    }

    .not-highlight {
        color: #00577f;
    }

    .bold-font {
        font-weight: 600;
    }
</style>
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="index.html">Our Services</a></li>
                        <li class="active">Construction Loans</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-white pinside30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">Construction</span> Loans</h1>
                        </div>
                        @*<div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="btn-action"> <a href="#" class="btn btn-default">How To Apply</a> </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                @*<div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Give me call back</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Emi Caculator</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-white ">
                    <div class="about-section pinside40">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 zero">
                                <p class="grey-paragraph" style=" text-align: center">BConstruction loans need to be planned and structured correctly to ensure you have adequate funds throughout construction.</p>
                                <p>This can be difficult to arrange so let Priority help.</p>
                                <p>Construction loans are really a version of a standard home loan which rolls out in stages as the different phases of your land purchase through to your house construction unfold. While you can readily get a loan for land purchase alone, if you are buying land with a view to construction and require funds for the land purchase, most lenders will try to set up the entire approval process for you from the outset.</p>
                                <p>Your borrowing options are pretty much as broad as the home loan options available and your choices will naturally be driven by your personal situation.</p>
                                <p><span class="highlight">There are typically five loan stages:</span></p>
                                <ol>
                                    <li>
                                        <p>Pre-approval for your land and house purchase</p>
                                    </li>
                                    <li>
                                        <p>Land purchase and formal approval for your land settlement</p>
                                    </li>
                                    <li>
                                        <p>Builder selection and formal loan approval for the construction portion of your loan</p>
                                    </li>
                                    <li>
                                        <p>Construction commencement and loan drawdown</p>
                                    </li>
                                    <li>
                                        <p>&nbsp;Construction completion and switch to principle and interest home loan (if applicable)</p>
                                    </li>
                                </ol>
                                <p><span class="highlight">Construction Pre-approval</span></p>
                                <p>When you sit down with dedicated Priority advisor, we will go through your unique situation with you in detail to get a clear understanding of your current financial position and future plans.</p>
                                <p>We will recommend a lender and a suitable home loan product. The final decision about which lender you go with is completely up to you and once made, we will cover what you need to do and when you need to do it in order to get through the process successfully!</p>

                                <p class="red-paragraph" style=" text-align: center">We will prepare your home loan application with you, and along with your supporting documentation, submit it to your chosen lender for a conditional approval.</p>
                                <p><span class="highlight">Land Purchase</span></p>
                                <p>Most lenders will require a commitment to a time frame within which construction will commence if you seek funding to assist with the purchase of land alone.&nbsp;</p>
                                <p><span class="highlight">Construction Loan Approval</span></p>
                                <p>For construction approval, you will be required to present:</p>
                                <ol>
                                    <li>
                                        <p>your fixed-price building contract with a licensed builder, including proof of builder’s insurance, current for the construction period.&nbsp; (If you are a owner builder, you will be required to present detailed costings including quotes and all relevant insurances)</p>
                                    </li>
                                    <li>
                                        <p>your council approved plans and specifications of the proposed residence</p>
                                    </li>
                                    <li>
                                        <p>construction loans require a level of flexibility and are therefore usually variable rate loans and typically interest only</p>
                                    </li>
                                </ol>
                                <p><span class="highlight">Progress Payments</span></p>
                                <p>Once progress payments commence, your lender will normally require inspections at each payment release point. Your building contract should nominate the number of progress payments for the construction.</p>
                                <p>During the construction period, you would typically make repayments monthly on an interest-only basis, and many lenders now give you the option of making additional repayments.</p>
                                <p><span class="highlight">Construction Completion Loan Switch</span></p>
                                <p>Once construction is complete, you will then typically finalise how you want to repay your loan. You might then switch to a different loan or choose to repay your loan in monthly, fortnightly or weekly instalments.</p>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
