
@{
    ViewBag.Title = "First_Home_Buyers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .grey-paragraph {
        background-color: #f1f1f2;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }
    .red-paragraph {
        background-color: #ed193d;
        color: #FFF !important;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .zero {
        margin: 0px;
        padding: 0px;
    }
    .highlight {
        color: #ed1a3d;
    }

    .not-highlight {
        color: #00577f;
    }

    .bold-font {
        font-weight: 600;
    }
</style>
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="index.html">Our Services</a></li>
                        <li class="active">First Home Buyers</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-white pinside30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">First</span> Home Buyers</h1>
                        </div>
                        @*<div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="btn-action"> <a href="#" class="btn btn-default">How To Apply</a> </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                @*<div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Give me call back</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Emi Caculator</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-white ">
                    <div class="about-section pinside40">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 zero">
                                <p class="grey-paragraph" style=" text-align: center">Buying your first home is one of the biggest decisions you will ever make.</p>
                                <p>For many, it can be quite an emotional and stressful process as you negotiate with real estate agents, banks, solicitors, accountants, governments etc.</p>
                                <p>Priority take time to talk to First Home Buyers about loan options and structures. We can assist with related third parties (such as guarantors) and ensure the property purchase is as easy and stress free as possible.</p>
                                <p>Before you begin to look for properties, speak to a Priority consultant to understand the process and find out if you are in a position to buy your first home.&nbsp;</p>
                                <p class="red-paragraph" style=" text-align: center">If you are not quite ready, Priority can guide you into a position to make that big step out in the market place.</p>
                                <p>Our specialist mortgage advisors are trained with all current industry knowledge and qualifications, remaining up to date with products from the entire market. A Priority home loan is one that is well-researched and compared with all our lenders to ensure it caters for your individual needs.</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

