
@{
    ViewBag.Title = "Home_Loans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .zero {
        margin: 0px;
        padding: 0px;
    }

    .not-highlight {
        color: #00577f;
    }

    .bold-font {
        font-weight: 600;
    }

</style>
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/OurService/Our_Services">Our Services</a></li>
                        <li class="active">Home Loans</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-grayblack pinside30">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-9 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">Home</span> Loans</h1>
                        </div>
                        @*<div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="btn-action"> <a href="#" class="btn btn-default">How To Apply</a> </div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
                @*<div class="sub-nav" id="sub-nav">
                    <ul class="nav nav-justified">
                        <li class="nav-item">
                            <a href="contact-us.html" class="nav-link">Give me call back</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Emi Caculator</a>
                        </li>
                    </ul>
                </div>*@
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-grayblack ">
                    <div class="about-section pinside40">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 zero">
                                <p class="black-paragraph" style="text-align:center">A Priority home loan is one that is well-researched and compared with all our lenders to ensure it caters for your individual needs.</p>
                                <p >Our specialist mortgage advisors are trained with all current industry knowledge and qualifications, remaining up to date with products from the entire market.</p>
                                <p >You are our first Priority. So to begin with, we will want to meet with you (or chat to you over the phone) to learn a little bit about yourself and your financial position. Your Priority mortgage advisor will then research your possibilities and find the best finance options available to you. We will then present you with the options and help you to understand the differences between them.</p>
                                <p >After selecting your tailored finance plan, we have your application covered. Our team will do all the paperwork for you and guide you through our hassle-free process. After settlement, we will always be here to assist in any post-settlement requirements.</p>
                                <h3 class=" not-highlight"><img alt="Prioritytick" src="~/Assets/images/priority-profile.png" style="height:20px; width:20px">&nbsp; &nbsp;<span class="highlight">Get the right deal. &nbsp; &nbsp;&nbsp;</span>We compare over 35 lenders.</h3>
                                <h3 class="not-highlight"><img alt="Prioritytick" src="~/Assets/images/priority-profile.png" style="height:20px; width:20px">&nbsp; &nbsp;<span class="highlight">All the legwork done for you.</span>&nbsp; &nbsp; &nbsp;We do all your paperwork.</h3>
                                <h3 class=" not-highlight"><img alt="Prioritytick" src="~/Assets/images/priority-profile.png" style="height:20px; width:20px">&nbsp; &nbsp;<span class="highlight">Expert advice.<strong>&nbsp; &nbsp; &nbsp;</strong></span>Our advisors are local and are a friendly face to ask questions.</h3>
                                <h3 class="not-highlight"><img alt="Prioritytick" src="~/Assets/images/priority-profile.png" style="height:20px; width:20px">&nbsp;&nbsp;&nbsp;<span class="highlight">We are paid by the lender. &nbsp; &nbsp;&nbsp;</span>In the majority of cases, there is no cost to you.</h3>
                                <p>&nbsp;</p>
                                <p class="d-flex"><a href="https://threebestrated.com.au/mortgage-brokers-in-tamworth-nsw"><img alt="Best Mortgage brokers in Tamworth" src="~/Assets/images/mortgage_brokers-tamworth-2019-clr.svg" class="image-award"></a>
                                <a href="https://threebestrated.com.au/mortgage-brokers-in-newcastle-nsw"><img alt="Best Mortgage brokers in Newcastle" src="~/Assets/images/mortgage_brokers-newcastle-2019-clr.svg" class="image-award"></a></p>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.content end -->
