
@{
    ViewBag.Title = "Investment_Loans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .grey-paragraph {
        background-color: #f1f1f2;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .red-paragraph {
        background-color: #ed193d;
        color: #FFF !important;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .zero {
        margin: 0px;
        padding: 0px;
    }
    .highlight {
        color: #ed1a3d;
    }

    .not-highlight {
        color: #00577f;
    }

    .bold-font {
        font-weight: 600;
    }
</style>
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="index.html">Our Services</a></li>
                        <li class="active">Investment Loans</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-white pinside30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">Investment</span> Loans</h1>
                        </div>
                        @*<div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="btn-action"> <a href="#" class="btn btn-default">How To Apply</a> </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                @*<div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Give me call back</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Emi Caculator</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-white ">
                    <div class="about-section pinside40">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 zero">
                                <p>When it comes to investing in property, you need to consider all aspects of your financial situation. This includes depreciation, tax benefits, finance structure and capital gains just to name a few. Priority can assist and help you to understand the many facets of an investment loan.</p>
                                <p>This requires co-operation and contribution from your advisers including your accountant, financial planner and, of course, your broker.&nbsp;</p>
                                <p class="grey-paragraph" style="text-align: center">At Priority, we work with your advisers to ensure the best outcome for your financial circumstances.</p>
                                <p>Our specialist mortgage advisors are trained with all current industry knowledge and qualifications, remaining up to date with products from the entire market. A Priority investment loan is one that is well-researched and compared with all our lenders to ensure it caters for your individual needs.</p>
                                <p>&nbsp;</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
