
@{
    ViewBag.Title = "Our_Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .red-paragraph {
        background-color: #ed193d;
        color: #FFF !important;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }
    .menu-li {
        list-style: none;
        padding: 10px;
        padding-left: 0px;
        border-bottom: 1px ;
        border-bottom: 2px solid rgb(230, 230, 230);
    }
    .menu-li-list {
        list-style: none;
    }
    .menu-ul {
        padding-top: 60px;
        padding-bottom: 60px;
        padding-right: 15px;
        padding-left: 15px;
    }

        
    
    .embeddedContent[data-align='center'], .embeddedContent[data-align='center'] iframe, .embeddedContent[data-align='center'] embed, .embeddedContent[data-align='center'] object {
        margin: 0 auto;
    }

    .embeddedContent iframe, .embeddedContent embed, .embeddedContent object {
        display: block;
        max-width: 100%;
    }

    iframe {
        width: 100%;
    }

    .embeddedContent[data-align='center'], .embeddedContent[data-align='center'] iframe, .embeddedContent[data-align='center'] embed, .embeddedContent[data-align='center'] object {
        margin: 0 auto;
    }

    .embeddedContent[data-align="none"] iframe, .embeddedContent[data-align="none"] embed, .embeddedContent[data-align="none"] object, .embeddedContent.KMS-video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .embeddedContent iframe, .embeddedContent embed, .embeddedContent object {
        display: block;
        max-width: 100%;
    }

    iframe {
        width: 100%;
    }

    audio, canvas, iframe, img, svg, video {
        vertical-align: middle;
        border: 0;
    }
</style>
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Our Services</a></li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-white pinside30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="page-title">Our Services</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="wrapper-content bg-white">
                    <ul class="menu-ul">
                        <!--rm wsp-->
                        <li class="menu-li"><a href="Home-Loans">Home Loan</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="Commercial-and-Leasing">Commercial &amp; Leasing</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="business-loans">Business Loans</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="Pre-approvals">Pre-approvals</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="Refinancing">Refinancing</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="First-Home-Buyers">First Home Buyers</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="Investment-Loans">Investment Loans</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="Construction-Loans">Construction Loans</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="Deposit-Bonds">Deposit Bonds</a></li>
                        <!--rm wsp-->
                        <li class="menu-li-list" ><a href="Car-and-Equipment-Finance">Car and Equipment</a></li>
                        <!--rm wsp-->
                    </ul>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="wrapper-content bg-white">
                    <div class="section-scroll pinside60" id="section-about">
                        <h3><span class="highlight"><img alt="Prioritytick" src="//keo-cms.appspot.com.storage.googleapis.com/sites/priorityhl/assets/d62f1ac4-9f4b-4538-af1e-c9532669feb4/priority-profile.png" style="float:left; height:20px; width:20px">&nbsp; &nbsp;Get the right deal. &nbsp; &nbsp;&nbsp;</span>We compare over 35 lenders.</h3>

                        <h3><img alt="Prioritytick" src="//keo-cms.appspot.com.storage.googleapis.com/sites/priorityhl/assets/d62f1ac4-9f4b-4538-af1e-c9532669feb4/priority-profile.png" style="height:20px; width:20px">&nbsp; <span class="highlight">&nbsp;All the legwork done for you.&nbsp;</span> &nbsp; &nbsp;We do all your paperwork.</h3>

                        <h3><span class="highlight"><img alt="Prioritytick" src="//keo-cms.appspot.com.storage.googleapis.com/sites/priorityhl/assets/d62f1ac4-9f4b-4538-af1e-c9532669feb4/priority-profile.png" style="float:left; height:20px; width:20px">&nbsp; &nbsp;Expert advice.<strong>&nbsp; &nbsp; &nbsp;</strong></span>Our advisors are local and are a friendly face to ask questions.</h3>

                        <h3><span class="highlight"><img alt="Prioritytick" src="//keo-cms.appspot.com.storage.googleapis.com/sites/priorityhl/assets/d62f1ac4-9f4b-4538-af1e-c9532669feb4/priority-profile.png" style="float:left; height:20px; width:20px">&nbsp; &nbsp;We are paid by the lender. &nbsp; &nbsp;&nbsp;</span>In the majority of cases, there is no cost to you.</h3>

                        <p style="text-align:center">&nbsp;</p>

                        <p>Looking for finance is daunting. Which lender do I choose? Why are there different products? What is an interest rate and how do they work with annual or monthly fees?</p>

                        <p>Priority Home Loans have over 98 years’ combined experience in the finance industry and hold strong relationships with over 35 lenders. We negotiate tailored finance for our clients, making the process as simple and easy as possible to ensure peace of mind. <em>You</em> are <em>our</em> Priority.</p>

                        <p class="red-paragraph" style="text-align:center">You are our Priority.</p>

                        

                        <h3 style="text-align:center">&nbsp;</h3>

                        <div class="embeddedContent oembed-provider-youtube" data-align="center" data-oembed="https://www.youtube.com/watch?v=g0xO-LYeyZM&amp;feature=youtu.be" data-oembed_provider="youtube" data-resizetype="noresize" style="text-align:center"><iframe allowfullscreen="true" allowscriptaccess="always" frameborder="0" height="349" scrolling="no" src="//www.youtube.com/embed/g0xO-LYeyZM?wmode=transparent&amp;jqoemcache=SkIKb" width="425"></iframe></div>

                        <h3 style="text-align:center">&nbsp;</h3>

                        <p><span class="highlight"><strong>Website Links</strong></span></p>

                        <ul>
                            <li><a href="https://www.fastgroup.com.au/" target="_blank">FAST</a></li>
                            <li><a href="https://www.mfaa.com.au/" target="_blank">Mortgage and Finance Association of Australia</a> (MFAA)</li>
                            <li><a href="https://www.aligroup.com.au/" target="_blank">ALI Insurance</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

