
@{
    ViewBag.Title = "Pre_approvals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .highlight {
        color: #ed193d;
    }
    .red-paragraph {
        background-color: #ed193d;
        color: #FFF !important;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .zero {
        margin: 0px;
        padding: 0px;
    }
    .highlight {
        color: #ed1a3d;
    }

    .not-highlight {
        color: #00577f;
    }

    .bold-font {
        font-weight: 600;
    }
</style>
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/OurService/Our_Services">Our Services</a></li>
                        <li class="active">Pre-approvals</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-white pinside30">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-9 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">Pre</span>-approvals</h1>
                        </div>
                        @*<div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="btn-action"> <a href="#" class="btn btn-default">How To Apply</a> </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                @*<div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Give me call back</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Emi Caculator</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-white ">
                    <div class="about-section pinside40">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 zero">
                                <p class="text-dark">You do not need to find a house before organising finance.</p>
                                <p class="text-dark">In fact, there are many advantages to talking to your Priority broker before you start looking at properties. Some lenders provide a pre-approval service which may include some conditions. This is a great service that can save you mountains of time when you do find that perfect house, and gives you the freedom to make an offer on a house knowing that your finance is already sorted.</p>
                                <p class="gold-paragraph" style="text-align: center">The Priority team will create your tailored finance plan before you buy, and be ready to put that plan into action when the time comes. This makes the process quick and easy, giving you the peace of mind and a smooth transition into your new home.</p>
                                <p class="text-dark">Our specialist mortgage advisors are trained with all current industry knowledge and qualifications, remaining up to date with products from the entire market. A Priority home loan is one that is well-researched and compared with all our lenders to ensure it caters for your individual needs.</p>
                                
                                <p class="text-dark">Find out more about Pre-Approvals <span class="highlight bold-font"><a href="/OurService/What_Comes_First" target="_blank">here</a></span>.</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.content end -->
