
@{
    ViewBag.Title = "Refinancing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .highlight {
        color: #ed193d;
    }

    .red-paragraph {
        background-color: #ed193d;
        color: #FFF !important;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .zero {
        margin: 0px;
        padding: 0px;
    }
    .highlight {
        color: #ed1a3d;
    }

    .not-highlight {
        color: #00577f;
    }

    .bold-font {
        font-weight: 600;
    }
</style>
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="index.html">Our Services</a></li>
                        <li class="active">Refinancing</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-white pinside30">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-9 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">Refi</span>nancing</h1>
                        </div>
                        @*<div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="btn-action"> <a href="#" class="btn btn-default">How To Apply</a> </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                @*<div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Give me call back</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Emi Caculator</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-white ">
                    <div class="about-section pinside40">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 zero">
                                <p><span class="highlight">A mortgage refinance is the process of taking out a new loan, and using the proceeds to pay off your old one.&nbsp; </span></p>
                                <p>Generally, you would do this to make a change in the structure of your debt in order to get more money, a lower monthly payment, or a shorter pay-off schedule. At Priority, we detail any benefits from any changes in your financial structure before you embark on the process.</p>
                                <p><span class="highlight">Why Refinance?</span></p>
                                <p>You would trade-up your mortgage for the same reason that you would trade-up your job, car, or living arrangement because circumstances change. What your need out of a mortgage today may be different from what you needed five years ago. There are many reasons why people refinance their home loans including:</p>
                                <ul>
                                    <li>
                                        <p>roll all your debts into one</p>
                                    </li>
                                    <li>
                                        <p>take advantage of a cheaper interest rate or lower fees</p>
                                    </li>
                                    <li>
                                        <p>take advantage of other features offered by other products</p>
                                    </li>
                                    <li>
                                        <p>switch from a fixed to variable rate loan, or vice-versa</p>
                                    </li>
                                    <li>
                                        <p>access the equity in your home to use for renovations, holidays, other investments</p>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

