
@{
    ViewBag.Title = "What_Comes_First";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .p-15 {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
    }
    .highlight {
        color: #ed193d;
    }

    .red-paragraph {
        background-color: #ed193d;
        color: #FFF !important;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .zero {
        margin: 0px;
        padding: 0px;
    }

    .highlight {
        color: #ed1a3d;
    }

    .not-highlight {
        color: #00577f;
    }

    .bold-font {
        font-weight: 600;
    }
</style>
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/OurService/Our_Services">Our Services</a></li>
                        <li><a href="/OurService/Pre_approvals">Pre-approvals</a></li>
                        <li class="active">What Comes First</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-grayblack pinside30">
                    <div class="row ">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">What Comes First?</span>The Property or the Loan?</h1>
                        </div>
                        @*<div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="btn-action"> <a href="#" class="btn btn-default">How To Apply</a> </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                @*<div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Give me call back</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Emi Caculator</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-grayblack ">
                    <div class="about-section pinside40">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 zero">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <img class="" src="~/Assets/images/Buy with confidence.png" alt="What Comes First? The Property or the Loan?">
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <p>It’s easy to get carried away with the fun part of buying a property – looking at houses. But delaying the less compelling task of arranging finance will weaken your negotiating position on both the property and the loan.</p>
                                        <p>Looking for a property to purchase is an exciting time. Choices regarding location, size, number of rooms and local amenities often see house hunters carried away in a deluge of daydreams and anticipation.</p>
                                        <p>But, before you get carried away, it’s important to check off the essentials first. Although organising your finances may seem drab in comparison to perusing sales listings, gaining <span class="highlight"><a href="/OurService/Pre_approvals" target="_blank">pre-approval</a></span> with a lender will give you confidence about how much you can afford to borrow.</p>


                                    </div>
                                    <p class="p-15">“First and foremost you need to determine if you’re eligible to borrow money from a lender,” says the finance broker. “Your ability to repay the loan will need to be assessed – you don’t what to find out after you’ve [made an offer] that your credit history or deposit is not up to scratch.”</p>
                                </div>
                                <p class="red-paragraph" style="text-align:center">Arranging finance before finding the perfect property will put you in a good position when it comes time to make an offer. When you do find the house you have always wanted, you can present to the seller and estate agent as a prepared applicant who is serious and reliable.</p>
                                <p>“It shows you mean business, and gives them peace of mind that your financing will not fall through. Don’t be afraid to let the selling agent know you have conditional loan approval in place,” the finance broker advises.</p>
                                <p>Sellers are most interested in completing their sale fuss-free and with steadfast funding, and showing that you are capable of both will help put you at the top of a potentially competitive list of applicants.</p>
                                <p>In the instance that you find and secure purchase of a home without having your loan pre-approved by a lender, there are a few pitfalls that you risk running into.</p>
                                <p>“If you don’t have financing to pay for your property, you run the risk of forfeiting your initial 10 per cent non-refundable deposit you need to put down to secure the property. This may differ depending on what state you live in, but the point is it always pays to be organised and have pre-approval in place,” the Finance Broker says.</p>
                                <p>Saving home loan applications to the last minute also leaves less time to find the most suitable loan and have it approved ahead of settlement.</p>
                                <p>“Arranging financing as an afterthought also adds immense pressure to the process of shopping around for the right loan and gathering the paperwork to prove you can service the loan,” the finance broker explains.“You don’t want to rush this process.”</p>
                                <p>&nbsp;</p>
                                <p>The first step towards finding your new home is speaking to one of Priority Home Loans <span class="highlight"><a href="/Contact/Index" target="_blank">Mortgage Brokers in Tamworth</a></span> or <span class="highlight"><a href="/Contact/Index" target="_blank">Mortgage Brokers in Newcastle</a></span>&nbsp;to sort out the finances.</p>
                                <a class="red-button" href="/Resources/News">Back to News</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>





