
@{
    ViewBag.Title = "Testimonial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .right {
        float: right;
    }
    .red-button {
        background-color: #ed193d;
        display: inline-block;
        color: #FFF !important;
        padding: 10px 10%;
        font-weight:bold;
    }
    .border-c {
        border-radius: 20px;
        border: 1px solid transparent!important;
    }
    .grey-paragraph {
        background-color: #f1f1f2;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .red-paragraph {
        background-color: #ed193d;
        color: #FFF !important;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .zero {
        margin: 0px;
        padding: 0px;
    }

    .embeddedContent {
        display: block;
        max-width: 100%;
    }

    .embeddedContent[data-align='center'], .embeddedContent[data-align='center'] iframe, .embeddedContent[data-align='center'] embed, .embeddedContent[data-align='center'] object {
        margin: 0 auto;
    }

    .embeddedContent iframe, .embeddedContent embed, .embeddedContent object {
        display: block;
        max-width: 100%;
    }

    iframe {
        width: 100%;
    }

    .highlight {
        color: #ed1a3d;
    }

    .not-highlight {
        color: #00577f;
    }

    .bold-font {
        font-weight: 600;
    }
    .p-margin {
        margin: 0 0 14px;
        line-height: 1.2;
        font-weight: 400;
        font-size: 16px;
    }
    .weight {
        font-weight: 800;
    }
</style>
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="index.html">Why Use Priority</a></li>
                        <li class="active">Testimonials</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-white pinside30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="page-title">Testimonials</h1>
                        </div>
                        @*<div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="btn-action"> <a href="#" class="btn btn-default">How To Apply</a> </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                @*<div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Give me call back</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Emi Caculator</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-white ">
                    <div class="about-section pinside40">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 zero ">
                                <div class="grey-paragraph border-c not-highlight ">
                                    <p class="p-margin">Thank you so much for your thorough and comprehensive assistance and advice in purchasing our investment property.&nbsp;</p>
                                    <p class="p-margin">You went above and beyond&nbsp;for us.&nbsp;</p>
                                    <p class="p-margin">Thank you.</p>
                                    <h4 class="weight not-highlight" >Alex &amp; Anna</h4>
                                </div>
                                
                                <div class="grey-paragraph border-c not-highlight">
                                    <p class="p-margin">Priority Home Loans were there when we bought our first home 14 odd years ago.&nbsp;</p>
                                    <p class="p-margin">Since this time they have been part of our growing family buying and selling 12 houses,&nbsp; they have also been valuable and supportive when starting our business and steered us in the right direction.&nbsp;</p>
                                    <p class="p-margin">The team are knowledgeable, helpful and friendly and have assisted us in structuring our loans to ensure we have been able to live life as well as save and invest.</p>
                                    <h4 class="weight not-highlight">Andrew &amp; Sally</h4>
                                </div>
                                
                                <div class="grey-paragraph border-c not-highlight">
                                    <p class="p-margin">The Priority Home Loans team have been assisting us for over 10 years with all our finance needs.&nbsp;</p>
                                    <p class="p-margin">What makes Priority Home Loans special to us, is the personal professional service that they have given over those 10 years.&nbsp;</p>
                                    <p class="p-margin">Importantly, the team are honest, trusting, reliable and have a genuine care of their customers in all finance matters.</p>
                                    <h4 class="weight not-highlight">Callum &amp; Melinda </h4>
                                </div>
                                
                                <div class="grey-paragraph border-c not-highlight">
                                    <p class="p-margin">From the outset staff could not be faulted on their knowledge, availability, reassurance and generally cared about our needs.&nbsp;</p>
                                    <p class="p-margin">They answered questions promptly and professionally.</p>
                                    <h4 class="weight not-highlight">Dianne</h4>
                                </div>
                                
                                <div class="grey-paragraph border-c not-highlight">
                                    <p class="p-margin">I would like to take this opportunity to say thank you sincerely for your assistance in helping me with my home loan application.&nbsp;</p>
                                    <p class="p-margin">You were a life saver when all hope had been lost.&nbsp; I am so grateful to your whole team for helping me and steering me in the right direction and could not believe that this was ‘out of the kindness of your heart’ as you were not getting paid for it.&nbsp;</p>
                                    <p class="p-margin">May your business flourish and spread to all parts of Australia for others like me to benefit from your services. Trust me I have learned from my mistakes and I will be the first one to refer others to you and to point them in the right direction being Priority Home Loans for their financial needs.</p>
                                    <h4 class="weight not-highlight">Emily</h4>
                                </div>
                                
                                <div class="grey-paragraph border-c not-highlight">
                                    <p class="p-margin">Getting your first home loan is very daunting, however, Priority Home Loans just make everything seem so simple and they found an amazing interest rate that I would never have found if I didn’t go through them.</p>
                                    <h4 class="weight not-highlight">Jake</h4>
                                </div>
                                
                                <div class="grey-paragraph border-c not-highlight">
                                    <p class="p-margin">Priority Home Loans has been our financial needs adviser from the start when we were renting our first home.&nbsp;</p>
                                    <p class="p-margin">We were able to buy our First Home from advice given from Priority Home Loans and from those early days till now we have listened to their advice and we have now been able to structure our profile to obtain investment homes.&nbsp;</p>
                                    <p class="p-margin">Priority Home Loans&nbsp; sends us letters to review our loans and our structures and that is very helpful to us.</p>
                                    <h4 class="weight not-highlight">Jamie &amp; Sophie</h4>
                                </div>
                                
                                <div class="grey-paragraph border-c not-highlight">
                                    <p class="p-margin">I cannot recommend Priority Home Loans enough.&nbsp;</p>
                                    <p class="p-margin">One of the brokers I dealt with was a whiz and a gentleman to boot.&nbsp; He made the process so simple and was a strong advocate in getting us the best deal possible for our needs.&nbsp; He made a complex system easy to understand and never cringed at our millions of questions.&nbsp;</p>
                                    <p class="p-margin">The whole team is a delight to visit and we cannot thank them enough.</p>
                                    <h4 class="weight not-highlight">Jenna</h4>

                                </div><div class="grey-paragraph border-c not-highlight">
                                    <p class="p-margin">Being single, self- employed and not having a lot of time meant that I needed Priority Home Loans to help me.&nbsp;</p>
                                    <p class="p-margin">I had been stung before and I needed trustworthy people to help and to assist me to achieve not only a great home loan but also to help with my business needs.</p>
                                    <p class="p-margin">Thank you so much I am so grateful.</p>
                                    <h4 class="weight not-highlight">Kylie</h4>
                                </div>
                                
                                <div class="grey-paragraph border-c not-highlight">
                                    <p class="p-margin">Hi Bryan &amp; Lorraine,</p>
                                    <p class="p-margin">Our settlement went through today, Phill &amp; I just wanted to say a massive thank you to your team especially Blake (and whoever else I missed). He was great, he kept us constantly updated throughout the entire process and answered all our stupid questions. We were very happy with him.</p>
                                    <p class="p-margin">Thank you again for helping us achieve a massive milestone in our lives. We will&nbsp;definitely be telling people about Priority Home Loans.</p>
                                    <h4 class="weight not-highlight">Phill &amp; Liz</h4>
                                </div>
                                
                                <div class="grey-paragraph border-c not-highlight">
                                    <p class="p-margin">I couldn’t have been more pleased with the service and help we received when purchasing our first home.</p>
                                    <p class="p-margin">I would highly recommend the whole team at Priority Home Loans.</p>
                                    <h4 class="weight not-highlight">Sally-Anne </h4>
                                </div>
                                
                                <div class="grey-paragraph border-c not-highlight">
                                    <p class="p-margin">Hi Tyler, we just wanted to thank you again for your assistance with the purchase of our property. We are very appreciative of all the guidance and assistance from yourself and your team. You made the process so very easy and stress free for us, and we will gladly recommend you to anyone who asks.</p>
                                    <p class="p-margin">We look forward to working with you in the future.</p>
                                    <p class="p-margin">All the best,</p>
                                    <h4 class="weight not-highlight">Stacey &amp; Jordan</h4>
                                </div>
                                <div>
                                    <a class="red-button float-right" href="/content/testimonial/?page=2">Next</a>
                                </div>


                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>
        var someElement= document.getElementsByTagName("p");
        someElement.className += "p-margin";
    </script>
</div>
    

