
@{
    ViewBag.Title = "_How_To_Refinance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .red-button {
        background-color: #ed193d;
        display: inline-block;
        color: #FFF !important;
        padding: 10px 10%;
        font-weight: bold;
    }

    .pa-margin {
        margin: 0px 0 13px;
        line-height: 1.2;
        font-weight: 100;
    }

    .grey-paragraph {
        background-color: #f1f1f2;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .red-paragraph {
        background-color: #ed193d;
        color: #FFF !important;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .zero {
        margin: 0px;
        padding: 0px;
    }

    .highlight {
        color: #ed1a3d;
    }

    .not-highlight {
        color: #00577f;
    }

    .bold-font {
        font-weight: 600;
    }

    .bolder-font {
        font-weight: 800;
    }
</style>


<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/OurService/Our_Services">Our Services</a></li>
                        <li class=""><a href="/Resources/News">Blog</a></li>
                        <li class="active">How to Refinance To Renovate</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-white pinside30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">How to</span>  Refinance To Renovate</h1>
                        </div>
                        @*<div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="btn-action"> <a href="#" class="btn btn-default">How To Apply</a> </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                @*<div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Give me call back</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Emi Caculator</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-white ">
                    <div class="about-section pinside40">
                        <div class="row not-highlight">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 zero">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                                        <img class="display-left graphic" src="~/Assets/images/How to refinance to renovate- 17.8.21.jpg" alt="How to Refinance To Renovate">
                                    </div>
                                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
                                        <p class="pa-margin">Refinancing your assets to renovate a property is a significant decision that will hopefully improve your standard of living or add substantial value to your property. &nbsp;Refinancing isn’t as straightforward as you might expect. The type of renovation proposed goes a long way to dictating the loan required. If the wrong loan is chosen, you could be left with a pile of unexpected debt.</p>
                                        <p class="pa-margin">&nbsp;</p>
                                        <p class="pa-margin"><span class="bold-font">Know your budget</span></p>
                                        <p class="pa-margin">&nbsp;</p>
                                        <p class="pa-margin">Before considering <a class="not-highlight bold-font" href="/OurService/Refinancing">refinancing</a>, we reccommend you&nbsp;have a clear idea of your budget.</p>
                                        <p class="pa-margin">&nbsp;</p>
                                        <p class="pa-margin">If you underestimate your budget, you run the risk of getting knocked back from your lender.</p>
                                        <p class="pa-margin">&nbsp;</p>
                                        <p class="pa-margin">“I know a lot of homeowners who have estimated a budget of say $100,000 to do renovations, only to discover it will cost a lot more. This means you may have to reapply for the loan, which banks generally don’t like” our broker notes.</p>
                                        <p class="pa-margin">&nbsp;</p>
                                    </div>
                                </div>

                                <p class="pa-margin">&nbsp;</p>
                                <p class="pa-margin">"Be conservative with your projection. If you think you need $100,000, we recommend to apply for $150,000 just in case, if you can afford it. The key is stick to your budget."</p>
                                <p class="pa-margin">&nbsp;</p>
                                <p class="pa-margin">The next step is to speak to your broker to determine which loan will suit your needs and objectives.</p>
                                <p class="pa-margin">&nbsp;</p>
                                <p class="pa-margin"><span class="bolder-font">Line of credit loan (Home equity loan)</span></p>
                                <p class="pa-margin">&nbsp;</p>
                                <p class="pa-margin">Also known as an equity loan, to be eligible, one must be looking to make upgrades to the cosmetic domain of their property.</p>
                                <p class="pa-margin">&nbsp;</p>
                                <p class="pa-margin">Installing a new bathroom or kitchen, painting the interior or exterior of the house and other basic construction falls under a line of credit loan.</p>
                                <p class="pa-margin">&nbsp;</p>
                                <p class="pa-margin">These renovations, more often than not, do not supersede the costs of structural changes, so homeowners can call on up to 80 per cent of their Loan-to-Value Ratio (LVR).</p>
                                <p class="pa-margin">&nbsp;</p>
                                <p class="pa-margin">A line of credit loan is a “revolving door” of credit that combines your home loan, daily spending and savings into one loan.</p>
                                <p class="pa-margin">&nbsp;</p>
                                <p class="pa-margin">To calculate the value you can borrow, subtract your current loan balance from your property value and then multiply by 80 per cent. For example, if your property is worth $500,000, and you have $250,000 left on your loan, your home equity is $250,000. You then multiply this total by 80 per cent. If you’re uncertain of your home value, contact one of our finance brokers who can assist you to arrange for an appraisal or valuation.&nbsp;</p>
                                <p class="pa-margin">&nbsp;</p>
                                <p class="pa-margin">If you choose a line of credit home loan, it essentially works as a large credit card. You can use it to purchase cars, cosmetic renovations and other investments. However, the interest-only charge starts when the equity is drawn down.</p>
                                <p class="pa-margin">&nbsp;</p>
                                <p class="pa-margin">Keep in mind, line of credit loans provide you with money that can gather interest quickly, so if you are ill disciplined with repayments or money, speak to one of our&nbsp;finance brokers for a plan that matches your unique circumstances.</p>
                                <p class="pa-margin">&nbsp;</p>
                                <p class="pa-margin"><span class="bolder-font">Construction loans</span></p>
                                <p class="pa-margin">&nbsp;</p>
                                <p class="pa-margin"><a class="bold-font not-highlight" href="/OurService/Construction_Loans" target="_blank">Construction loans</a> are suitable for structural work in your home, for example, if you’re adding a new room or making changes to the roof.</p>
                                <p class="pa-margin">&nbsp; </p>
                                <p class="pa-margin">Construction loans give homeowners the opportunity to access larger sums of money, with the amount dependent upon the expected value of the property after renovations are completed.</p>
                                <p class="pa-margin">&nbsp;</p>
                                <p class="pa-margin">The advantage of a construction loan is that the interest is calculated on the outstanding amount, not the maximum amount borrowed. This means you have more money available in your kitty, but only pay interest on the money you choose to spend. For this reason, the broker may recommend that you apply for just one loan, but leave some leeway in your borrowed kitty.</p>
                                <p class="pa-margin">&nbsp;</p>
                                <p class="pa-margin">When applying for a construction loan, council approval and a fixed price-building contract are required, which a finance broker can assist with to reduce the paperwork and stress.</p>
                                <p class="pa-margin">&nbsp;</p>
                                <p class="pa-margin">Your lender will appoint an assessor to value your construction at each stage of the renovation. This will happen before you pay your instalment. When construction is complete, speak to your mortgage broker as you may be able to refinance back to the loan of your choice.</p>
                                <p class="pa-margin">&nbsp;</p>
                                <p class="pa-margin">When looking at both these loans,&nbsp;consumers can call on other property they own to boost their overall borrowing amount if they wish.</p>
                                <p class="pa-margin">&nbsp;</p>
                                <p class="pa-margin">“Depending on the client, they can use other property to get a line of credit and a construction loan. Or they might get a typical construction loan if there is going to be an extensive framework change on the building."</p>
                                <p class="pa-margin">&nbsp;</p>
                                <p class="pa-margin"><span class="bolder-font">Broker advice</span></p>
                                <p class="pa-margin">&nbsp;</p>
                                <p class="pa-margin">If you speak to a broker they will be able to determine which loan will give you the options you seek.&nbsp;This advice is essential, as a poorly planned construction loan could cost you more down the road.</p>
                                <p class="pa-margin">&nbsp;</p>
                                <p class="pa-margin">“Consumers should ask their broker, ‘What type of loan am I eligible for?’, because if you don’t get your construction loan right, you may be jeopardising your bank security.”</p>
                                <p class="pa-margin">&nbsp;</p>
                                <p class="pa-margin">While these specific options can be discussed with your broker, if they aren’t suitable, there may be other options available to you. Speak to a <a class="not-highlight bold-font" href="/About/meet_the_team" target="_blank">Priority Home Loans Mortgage&nbsp;Broker</a> to make your grand renovation plans a reality.</p>
                                <p class="pa-margin">&nbsp;</p>

                                <p class="pa-margin"><a class="not-highlight bold-font" href="/Contact/Index" target="_blank">Priority Home Loans</a></p>
                                <p class="pa-margin">Tamworth Ph: 02 6766 9727</p>
                                <p class="pa-margin">Hunter Coast Ph: 02 4967 5256</p>
                                <p class="pa-margin">Email: info@yourpriority.com.au</p>
                                <p class="pa-margin">&nbsp;</p>
                                <a class="red-button" href="/Resources/News">Back to News</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

