
@{
    ViewBag.Title = "_How_Rba_Rate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .red-button {
        background-color: #ed193d;
        display: inline-block;
        color: #FFF !important;
        padding: 10px 10%;
        font-weight: bold;
    }

    /*.pa-margin {
        margin: 0px 0 13px;
        line-height: 1.2;
        font-weight: 100;
    }*/

    .grey-paragraph {
        background-color: #d49f24;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .red-paragraph {
        background-color: #ed193d;
        color: #FFF !important;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .zero {
        margin: 0px;
        padding: 0px;
    }

    .highlight {
        color: #ed1a3d;
    }

    .not-highlight {
        color: #00577f;
    }

    .bold-font {
        font-weight: 600;
    }

    .bolder-font {
        font-weight: 800;
    }
</style>


<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/OurService/Our_Services">Our Services</a></li>
                        <li><a href="/Resources/News">Blog</a></li>
                        <li class="active">How RBA rate changes affect your interest rate</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-grayblack pinside30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">How RBA rate</span> changes affect your interest rate</h1>
                        </div>
                        @*<div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="btn-action"> <a href="#" class="btn btn-default">How To Apply</a> </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                @*<div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Give me call back</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Emi Caculator</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-grayblack ">
                    <div class="about-section pinside40">
                        <div class="row not-highlight">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 zero">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <img class="display-left graphic" src="~/Assets/images/Depreciation schedule.jpg" alt="Your Property Investing Checklist">
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <p class="grey-paragraph" style="text-align: center;">
                                            With the RBA setting the official cash rate at all-time lows,
                                            it’s a good time to work out how this impacts the interest rate on your home loan and whether you
                                            are getting a good deal or not.
                                        </p>
                                        <p>
                                            When the interest rate on your home loan fluctuates, it can feel as though you don’t have control
                                            of your debt. Despite being frustrating, interest rate changes are a part of every loan’s lifespan
                                            and warrant your consideration.
                                        </p>
                                        <p>
                                            The interest rates that banks charge on their home loans are influenced by the Reserve Bank of
                                            Australia’s (RBA) cash rate.
                                        </p>

                                    </div>
                                </div>
                                <p>
                                    The cash rate is reviewed by the RBA on a monthly basis in order to safeguard Australia’s economic
                                    stability. The cash rate is the rate charged on loans made between the RBA and your lender. This,
                                    in turn, has a very strong impact on the interest rates your lender charges you.
                                </p>
                                <p>
                                    “The RBA supports the banks with liquidity facility,” explains the finance broker. “The RBA is a bank
                                    to the banks. The cash rate is effectively the rate at which the RBA will lend to the banks, and what
                                    the banks effectively use as a reference rate for other things.”
                                </p>

                                <p>
                                    When the cash rate is changed by the RBA, lenders decide whether or not to mirror the new rate in the
                                    interest they charge their mortgagees.
                                </p>
                                <p>
                                    This is entirely up to the lender in question and depends on the market and how the lender is performing
                                    at the time of the cash rate change.
                                </p>
                                <p>
                                    “If you look at the mortgage market, specifically by itself, it is very competitive,” the broker says.
                                    “It is about the lender trying to get the right outcome on the deposit side of the balance sheet within
                                    the context of a very, very competitive marketplace, but recognising that a reference rate has changed
                                    and, therefore, looking at where they stand.”
                                </p>
                                <p class="grey-paragraph" style="text-align: center">
                                    Some lenders choose to shift their interest rate changes
                                    higher than the RBA’s cash rate change and, in these instances, other lenders may be offering lower interest
                                    rates than the one you currently have.
                                </p>
                                <p>
                                    Keeping track of how your lender manages cash rate changes and where that leaves you as the person paying the
                                    interest can be time consuming, and is made more difficult by fees, charges and the flexibility offered by
                                    different loan products, which all need to be weighed alongside the interest rate.
                                </p>
                                <p>
                                    A simple way to regain control of your interest rate is to lock it in for a period, if you believe rates are not
                                    likely to fall further. Fixed rates offer less flexibility, but more certainty.
                                </p>
                                <p>
                                    <span class="highlight bold-font">Priority Home Loans</span> are&nbsp;familiar with the different lenders
                                    and their responses to cash rate changes. We&nbsp;can track interest rate fluctuations across
                                    our&nbsp;panel of lenders to ensure you're getting a great deal. <a href="/Contact/Index" target="_blank">Contact us</a>
                                    today to make an appointment with one of our MFAA Accredited Finance Brokers.
                                </p>

                                <p>&nbsp;</p>
                                <a class="red-button" href="/Resources/News">Back to News</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>







