
@{
    ViewBag.Title = "_What_Is_Lmi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .red-button {
        background-color: #ed193d;
        display: inline-block;
        color: #FFF !important;
        padding: 10px 10%;
        font-weight: bold;
    }

    /*.pa-margin {
        margin: 0px 0 13px;
        line-height: 1.2;
        font-weight: 100;
    }*/

    .grey-paragraph {
        background-color: #f1f1f2;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .red-paragraph {
        background-color: #ed193d;
        color: #FFF !important;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .zero {
        margin: 0px;
        padding: 0px;
    }

    .highlight {
        color: #ed1a3d;
    }

    .not-highlight {
        color: #00577f;
    }

    .bold-font {
        font-weight: 600;
    }

    .bolder-font {
        font-weight: 800;
    }
</style>


<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/OurService/Our_Services">Our Services</a></li>
                        <li><a href="/Resources/News">Blog</a></li>
                        <li class="active">What Is LMI?</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-white pinside30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="page-title">What Is LMI?</h1>
                        </div>
                        @*<div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="btn-action"> <a href="#" class="btn btn-default">How To Apply</a> </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                @*<div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Give me call back</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Emi Caculator</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-white ">
                    <div class="about-section pinside40">
                        <div class="row not-highlight">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 zero">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <img class="display-left graphic" src="~/Assets/images/Time money house.webp" alt="Five Ways To Fund A Renovation">
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <p><span class="highlight bold-font">Lenders Mortgage Insurance</span></p>
                                        <p>
                                            Not to be confused with mortgage protection insurance (which is designed to protect the borrower),
                                            LMI is insurance that covers the lender’s risk within a residential mortgage transaction should the
                                            loan go into arrears and the borrower is unable to resolve the situation satisfactorily. LMI is a
                                            fairly common practice within the industry, particularly for new home buyers who may struggle to
                                            save a deposit. It allows an additional fee to be paid by the borrower and usually applies when the
                                            loan is more than 80 percent of the purchase property’s price.
                                        </p>

                                    </div>
                                </div>
                                <p>
                                    The purpose of LMI is to ensure security for the lender in case the borrower fails to make loan repayments.
                                    Even though the actual house acts as security, the nature of the property market, like any investment class,
                                    means there is a chance that its value could decline, resulting in a financial loss for the lender.
                                </p>
                                <p>
                                    The cost of the premium is dependent on several factors, such as the loan size and property value, and most
                                    insurers are flexible when it comes to the method of payment. It can either be a one-off upfront premium payment
                                    or that premium could be included in the overall cost of the loan and included in monthly repayments. It is not
                                    transferable, which means a new loan may require a new fee depending on how much equity the borrower has.
                                </p>

                                <p><span class="highlight bold-font">What’s in it for me?</span></p>
                                <p>
                                    While it may appear that it is exclusively favourable to the lender, there is value to borrowers
                                    in paying the premium. Opting for LMI means it allows a borrower to independently purchase a property
                                    sooner than they otherwise might. LMI is the alternative to using a guarantor or having to save for a
                                    bigger deposit, both of which are not feasible options for many first home buyers.
                                </p>
                                <p>
                                    A deposit of at least 20 percent of the desired loan amount is required for a borrower not to be deemed
                                    ‘high-risk’. If you consider that the average price of a home in Sydney is $650,000, that would mean a
                                    deposit of around $130,000 is required. The beauty of LMI is that it buys time, which means borrowers
                                    with smaller deposits are able to enter the market sooner rather than later.
                                </p>
                                <p>
                                    The major benefit of LMI is that it allows the dream of homeownership to become a reality for a lot
                                    of first home buyers. To see if this is the case for you, <a class="bold-font" href="/Contact/Index" target="_blank">contact</a>&nbsp;
                                    Priority Home Loans and speak one of our <a class="bold-font" href="/About/meet_the_team" target="_blank">accredited mortgage&nbsp;brokers</a>.
                                </p>

                                <p>Hunter Coast Ph: 02 4967 5256</p>
                                <p>Tamworth Ph: 02 6766 9727</p>
                                <p>&nbsp;</p>
                                <a class="red-button" href="/Resources/News">Back to News</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

