
@{
    ViewBag.Title = "_What_Are_The_Extra_Cost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .red-button {
        background-color: #ed193d;
        display: inline-block;
        color: #FFF !important;
        padding: 10px 10%;
        font-weight: bold;
    }

    /*.pa-margin {
        margin: 0px 0 13px;
        line-height: 1.2;
        font-weight: 100;
    }*/

    .grey-paragraph {
        background-color: #f1f1f2;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .red-paragraph {
        background-color: #ed193d;
        color: #FFF !important;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .zero {
        margin: 0px;
        padding: 0px;
    }

    .highlight {
        color: #ed1a3d;
    }

    .not-highlight {
        color: #00577f;
    }

    .bold-font {
        font-weight: 600;
    }

    .bolder-font {
        font-weight: 800;
    }
</style>


<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/OurService/Our_Services">Our Services</a></li>
                        <li><a href="/Resources/News">Blog</a></li>
                        <li class="active">What are the extra costs of buying a home?</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-white pinside30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="page-title">What are the extra costs of buying a home?</h1>
                        </div>
                        @*<div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="btn-action"> <a href="#" class="btn btn-default">How To Apply</a> </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                @*<div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Give me call back</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Emi Caculator</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-white ">
                    <div class="about-section pinside40">
                        <div class="row not-highlight">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 zero">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <img class="display-left graphic" src="~/Assets/images/What are the extra costs to buying a home.jpg" alt="What are the extra costs of buying a home?">
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <p>
                                            When taking out a mortgage, many people forget to consider the associated fees and expenses.
                                            Here are some of the extra costs that you’ll need to consider when you take out a home loan.
                                        </p>
                                        <p><span class="highlight bold-font">Home loan application fees</span></p>
                                        <p>Most lenders charge a home loan application fee. This can range from loan to loan, and covers:</p>
                                        <ul>
                                            <li>Loan contracts</li>
                                            <li>Property title checks</li>
                                            <li>Credit checks</li>
                                            <li>Attending a settlement</li>
                                        </ul>

                                        
                                    </div>
                                </div>
                                <p><span class="highlight bold-font">Mortgage fees and costs</span></p>
                                <ul>
                                    <li>Mortgage establishment fees – Lenders generally charge a mortgage establishment fee – a fee for setting up a mortgage.</li>
                                    <li>Property valuation – A third party chosen by the lender, is appointed to determine the value of your land and improvements.</li>
                                    <li>Mortgage registration – Your Mortgage deed needs to be registered with the government.</li>
                                    <li>Mortgage stamp duty – Some State Governments charges stamp duty to register your mortgage.</li>
                                    <li>
                                        Lenders mortgage insurance – If you don’t have 20% of the purchase price or the value of the property,
                                        the lender will require you to pay&nbsp; for a lenders mortgage insurance policy that covers their risk
                                        in the event you default on your repayments.
                                    </li>
                                </ul>
                                <p><span class="highlight bold-font">Property fees and costs</span></p>
                                <ul>
                                    <li>Building, Pest and Electrical Inspection fees – It’s wise to have your property inspected for any structural or electrical problems and for pests (e.g. termites).</li>
                                    <li>Stamp duty – Governments charge Stamp Duty to transfer the ownership of a property.</li>
                                    <li>Registration of transfer fee – The new owner of the property needs to be registered at the Land Titles Office.</li>
                                    <li>Legal fees – You generally need to pay a Solicitor of Settlement Agent to handle the transfer of ownership of the property on your behalf</li>
                                    <li>Home &amp; contents insurance – Most homeowners insure their home and contents against a range of threats: burglary, fire, storm, etc. Lenders insist that your property is insured while you have a mortgage.</li>
                                    <li>Life and income protection insurance – Borrowers should consider protecting their incomes and themselves while they have a mortgage.</li>
                                    <li>Utility costs – Connecting electricity, gas and telephone can attract a fee.</li>
                                    <li>Council Rates – Your local council charges rates to cover garbage collection and a host of other services.</li>
                                    <li>Water Rates – The water corporation charges rates for the supply and upkeep of water to your property.</li>
                                    <li>Body corporate fees – If you buy an apartment or Strata Titled property, body corporate fees are charged, and some fees can be significant – particularly if the building is in need of a major work (e.g. concrete cancer, security upgrade, new hot water system, etc) or if there are lifts, pools and other communal facilities.</li>
                                    <li>Maintenance costs – Don’t forget to make provision for regular maintenance on your home – even if you decide not to undertake significant renovation.</li>
                                </ul>
                                <p>
                                    To learn more about the hidden costs of buying a home, <span class="highlight"><a class="bold-font" href="/Contact/Index" target="_blank">contact</a></span> Priority
                                    Home Loans to book a&nbsp;consultation with one of our MFAA Accredited Finance Brokers.
                                </p>
                                <p>&nbsp;</p>
                                <a class="red-button" href="/Resources/News">Back to News</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

