
@{
    ViewBag.Title = "_Your_First_Meeting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .red-button {
        background-color: #ed193d;
        display: inline-block;
        color: #FFF !important;
        padding: 10px 10%;
        font-weight: bold;
    }

    /*.pa-margin {
        margin: 0px 0 13px;
        line-height: 1.2;
        font-weight: 100;
    }*/

    .grey-paragraph {
        background-color: #f1f1f2;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .red-paragraph {
        background-color: #ed193d;
        color: #FFF !important;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .zero {
        margin: 0px;
        padding: 0px;
    }

    .highlight {
        color: #ed1a3d;
    }

    .not-highlight {
        color: #00577f;
    }

    .bold-font {
        font-weight: 600;
    }

    .bolder-font {
        font-weight: 800;
    }
</style>


<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/OurService/Our_Services">Our Services</a></li>
                        <li><a href="/Resources/News">Blog</a></li>
                        <li class="active">Your First Meeting With A Broker</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-grayblack pinside30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">Your First</span> Meeting With A Broker</h1>
                        </div>
                        @*<div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="btn-action"> <a href="#" class="btn btn-default">How To Apply</a> </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                @*<div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Give me call back</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Emi Caculator</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-grayblack ">
                    <div class="about-section pinside40">
                        <div class="row not-highlight">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 zero">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <img class="display-left graphic" src="~/Assets/images/pexels-sora-shimazaki-5668859.jpg" alt="Your First Meeting With A Broker">
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <p>
                                            If you’re looking for a home loan but are inexperienced with finance brokers,
                                            attending your first appointment with a broker can be a nervous experience.
                                            Getting a home loan, after all, can be quite complex for a first-timer. There
                                            are lots of brokers around and there is a lot to learn. But there are many
                                            steps you can take to be confident that your appointment will be a success.
                                        </p>
                                        <p>
                                            A good starting point is to familiarise yourself with the expectations of the
                                            first appointment between brokers and yourself. Your broker is very likely to
                                            ask you about your medium and long-term financial goals, the amount you want
                                            to borrow, comparisons of your home loan options and your understanding of the
                                            fees, costs and conditions attached to home loans. Knowing the direction the
                                            appointment will likely take lets you participate more actively in the conversation.
                                            This means you can better articulate your needs to your broker.
                                        </p>


                                    </div>
                                </div>
                                <p>
                                    It’s also recommended that you give some consideration before the meeting to
                                    the types of questions you wish to ask your broker. Questions that can be of
                                    use include such things as loan types (such as term, repayment options and
                                    interest rate types), the types of ongoing fees attached to various loans
                                    (such as early exit, late payment, break and redraw fees) and the typical
                                    timeframe for a loan settlement.
                                </p>

                                <p>
                                    These questions might pop into your head spontaneously during the meeting
                                    but preparing them in advance is a good way to refine them. By doing so,
                                    you are in a position to get more specific information from your broker.
                                </p>

                                <p>
                                    It is common practice, too, for your broker to conduct a needs assessment
                                    prior to your face-to-face appointment – so you may be asked some pre-appointment
                                    questions. To assist in answering these, you’ll need to supply information about
                                    your employment history, assets and expenses.
                                </p>

                                <p>
                                    At the appointment it will save you time and effort to prepare and then bring the
                                    required documentation with you. This can include ID, transaction histories, tax
                                    returns, rental income statements, household budgets&nbsp;and proof that you have
                                    the deposit for a property. It’s mandatory for brokers to maintain the confidentiality
                                    of information that you provide to them and only pass on information necessary to enable
                                    them to lodge your loan application or where required by law.
                                </p>

                                <p>
                                    The other preparation you can make to maximise the success of your appointment is to research
                                    your broker. Many brokers provide content on their web pages and social media. This can give
                                    you a good indication of their knowledge and expertise and highlight topics to discuss with them.
                                    You can also determine if they specialise in any types of loans that match your needs, where they
                                    are located and their panel of lenders. Finally, you should investigate their qualifications.
                                    Although brokers are only required to obtain Certificate 4 qualifications, it could be argued that
                                    the better brokers hold Diploma qualifications. Finding a diploma-qualified broker will help ensure
                                    you receive the best credit advice.
                                </p>

                                <p>
                                    Brokers can also be accredited, with accredited brokers held to higher standards.
                                    By verifying they are accredited, you can approach the meeting knowing your broker
                                    is appropriately educated, adheres to a strict and professional code of practice
                                    and is authorised to access a large range of products offered by a variety of lenders.
                                </p>

                                <p>To book your first meeting with an&nbsp;
                                    <a class="bold-font" href="/About/meet_the_team" target="_blank">accredited mortgage broker</a>, 
                                    <a class="bold-font" href="/Contact/Index" target="_blank">contact us now</a>.
                                </p>


                                <p>
                                    <a class="bold-font" href="/Home/Index" target="_blank">Priority Home Loans</a>
                                </p>

                                <p >Hunter Coast Ph: 02 4967 5256</p>
                                <p >Tamworth Ph: 02 6766 9727</p>
                                <p >&nbsp;</p>
                                <a class="red-button" href="/Resources/News">Back to News</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

