
@{
    ViewBag.Title = "_Your_Property_Invest_Checking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .red-button {
        background-color: #ed193d;
        display: inline-block;
        color: #FFF !important;
        padding: 10px 10%;
        font-weight: bold;
    }

    /*.pa-margin {
        margin: 0px 0 13px;
        line-height: 1.2;
        font-weight: 100;
    }*/

    .grey-paragraph {
        background-color: #f1f1f2;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .red-paragraph {
        background-color: #ed193d;
        color: #FFF !important;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .zero {
        margin: 0px;
        padding: 0px;
    }

    .highlight {
        color: #ed1a3d;
    }

    .not-highlight {
        color: #00577f;
    }

    .bold-font {
        font-weight: 600;
    }

    .bolder-font {
        font-weight: 800;
    }
</style>


<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/OurService/Our_Services">Our Services</a></li>
                        <li><a href="/Resources/News">Blog</a></li>
                        <li class="active">Your Property Investing Checklist</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-white pinside30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="page-title">Your Property Investing Checklist</h1>
                        </div>
                        @*<div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="btn-action"> <a href="#" class="btn btn-default">How To Apply</a> </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                @*<div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Give me call back</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Emi Caculator</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-white ">
                    <div class="about-section pinside40">
                        <div class="row not-highlight">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 zero">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <img class="display-left graphic" src="~/Assets/images/Property investing checklist.jpg" alt="Your Property Investing Checklist">
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <p>
                                            Investment in real property, such as residential real estate, is likely to be a lengthy
                                            process and one that usually involves a plan for the long term. To ensure you have considered
                                            what is required before making the big purchase, we’ve outlined steps you need to take in that process.
                                        </p>
                                        <h2><span class="highlight bolder-font">1)</span> Make The Commitment</h2>
                                        <p>
                                            A property investment must be a long term commitment in order for it to be worthwhile, so the very first
                                            step is to ‘do the numbers’ in order to evaluate your budget, potential constraints and future financial
                                            and personal obligations including the potential impact on family members.
                                        </p>

                                    </div>
                                </div>
                                <p>
                                    Consider your future as far ahead as you can.&nbsp;You need to assess your ability to maintain or improve personal
                                    income as well as your commitment and ongoing financial capability to continue to service the financial impact of
                                    the investment for a minimum of five to ten years, as that’s what generally brings premium results.&nbsp;You need
                                    to also make the commitment to ‘manage’ the investment – even if you outsource the day-to-day tasks involved including
                                    locating suitable tenants, collecting rents, paying relevant costs in rates and taxes as well as ensuring that the
                                    property’s repairs and maintenance are kept up to date.
                                </p>

                                <h2><span class="highlight bolder-font">2)</span>  Obtain Professional Advice</h2>

                                <p>
                                    You now need to obtain professional advice. An investment in real estate is likely to be significant in relation to your
                                    current financial position. If you have already discussed the investment with a licensed financial planner or investment
                                    adviser and residential real estate is considered the most appropriate in your current circumstances, you will have
                                    considered aspects including rental return, maximum capital growth and/or tax effectiveness.
                                </p>

                                <p>
                                    You next need to locate a suitable property. There are buyers agents now available who can assist you in this
                                    process – potentially saving you money by disregarding inappropriate properties and concentrating on those that
                                    are more likely to deliver the highest return and capital increase to you over time.
                                </p>
                                <p>
                                    Following that, unless you have cash or other investments that can be converted to cash to make your property
                                    investment, the next step is to contact a <a href="/OurService/Our_Services"><span class="highlight">mortgage broker</span></a>
                                    to help you to secure finance to enable purchase.
                                </p>
                                <p>
                                    This will give you the opportunity to ask the broker as many questions needed to alleviate any uncertainty you may have about
                                    securing that finance.
                                </p>
                                <p>
                                    These days, brokers who assist consumers to secure finance for residential property are heavily regulated and must be licensed
                                    (or appointed by a licensee). They must also hold membership of the external dispute resolution scheme and must hold appropriate
                                    qualifications including maintaining continuing professional development. The broker should also hold membership of an industry
                                    body, like the Mortgage &amp; Finance Association of Australia (<a class="bold-font" href="https://www.mfaa.com.au/">MFAA</a>) which triggers a
                                    requirement of an additional layer of obligations through compliance with its Code of Practice.
                                </p>
                                <p>
                                    <em>Using the services of an accountant, financial planner, solicitor/conveyancer and property manager on your team will also assist you in coming to your decision.</em>
                                </p>
                                <h2><span class="highlight bolder-font">3)</span>  Assistance From Relatives & Friends</h2>
                                <p>
                                    Talking to friends, family and acquaintances who have already made such an investment, or are currently considering one, can help
                                    your awareness of stumbling blocks and potential issues that you might otherwise miss. While any issues you face may seem new, it
                                    can help to bounce these off a trusted friend or relative who has been there before.
                                </p>
                                <h2><span class="highlight bolder-font">4)</span>Collate Your Information </h2>
                                <p>
                                    In order to apply for finance, you will need proof of your current income, employment and your assets as well as all liabilities including
                                    debts, loans, rental payment,outstanding credit card obligations and any other due payments, for example, buy now pay later commitments.
                                    Collate these and also any paperwork that helps support your personal position. For example, if you have been a long-term tenant, get a
                                    12 month tenancy statement that proves your capacity to make regular repayments. Before applying for a loan, minimise your current debt
                                    load, and if possible, reduce the limit on, or cancel any credit cards you have, as this is perceived by lenders as potential for debt.
                                </p>
                                <p>
                                    It is strongly recommended that you have a <strong>fully assessed pre-approval</strong> before you start your search. This will allow
                                    you to know what your financial limits are so that you can make an offer when you’ve found a property you like.
                                </p>
                                <h2><span class="highlight bolder-font">5)</span> Other Things To Consider</h2>
                                <p>
                                    An investment property purchase should not be an emotional decision. It is a business decision. If the property isn’t as clean as you
                                    would like, don’t assume that it hasn’t been maintained unless there are other clues to demonstrate that. Cleaning and even simple
                                    maintenance tasks are things you can do yourself or have done for you that you can include in your budget.
                                </p>
                                <p>
                                    Consider choosing a property based on whether you feel like you could live in it. While it’s still a business decision, you also have
                                    to adopt the mindset that you could be selling to an owner/occupier down the track, which could be an emotional purchase for the buyer.
                                    If however you plan to rent the property, your decision should be based on what would appeal to the type of individual who wants to reside
                                    in the area.
                                </p>
                                <p>
                                    <a class="bold-font" href="/Contact/Index">Contact&nbsp;</a><span class="highlight bold-font">Priority Home Loans</span> to speak with one
                                    of our MFAA accredited Finance Brokers.
                                </p>
                                <p>&nbsp;</p>
                                <a class="red-button" href="/Resources/News">Back to News</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



