
@{
    ViewBag.Title = "_APRA_Process";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    .red-button {
        background-color: #ed193d;
        display: inline-block;
        color: #FFF !important;
        padding: 10px 10%;
        font-weight: bold;
    }

    /*.pa-margin {
        margin: 0px 0 13px;
        line-height: 1.2;
        font-weight: 100;
    }*/

    .grey-paragraph {
        background-color: #d49f24;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .red-paragraph {
        background-color: #ed193d;
        color: #FFF !important;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .zero {
        margin: 0px;
        padding: 0px;
    }

    .highlight {
        color: #ed1a3d;
    }

    .not-highlight {
        color: #00577f;
    }

    .bold-font {
        font-weight: 600;
    }

    .bolder-font {
        font-weight: 800;
    }
</style>


<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/OurService/Our_Services">Our Services</a></li>
                        <li><a href="/Resources/News">Blog</a></li>
                        <li class="active">APRA proposes regulation changes to help new Home Loan customers</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-grayblack pinside30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">APRA proposes regulation</span> changes to help new Home Loan customers</h1>
                        </div>
                        @*<div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="btn-action"> <a href="#" class="btn btn-default">How To Apply</a> </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                @*<div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Give me call back</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Emi Caculator</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-grayblack ">
                    <div class="about-section pinside40">
                        <div class="row highlight">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 zero">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <img class="display-left graphic" src="~/Assets/images/APRA.jpg" alt="APRA proposes regulation changes to help new Home Loan customers">
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <p>
                                            As the dust settles from the Coalition’s victory last weekend, our attention shifts
                                            toward the Australian Prudential Regulatory Authority (APRA). On Tuesday this week 
                                            APRA released their proposal to adjust some of the rules imposed on lenders of residential
                                            home loans. These changes may help customers applying for a home loan or to refinance their
                                            existing home loan.
                                        </p>
                                        <p>
                                            In December 2014, APRA introduced further restrictions on lenders in an effort to reduce excessive borrowing and
                                            ensure ‘sound residential lending standards’. This involved increasing the ‘buffer interest rate’ used when
                                            assessing a customer’s home loan application.
                                        </p>
                                        <p>
                                            Currently, lenders are required to assess an applicant’s ability to repay their home loan on an
                                            increased buffer rate, rather than the actual interest rate. If the applicant’s could not afford
                                            to repay the loan on the inflated buffer rate, the loan would not be approved.
                                        </p>
                                        
                                    </div>
                                </div>
                                <p style="text-align: justify">
                                    The minimum assessment rate used in a lender’s assessment (as set by APRA in 2014) is the higher of either:
                                </p>
                                <ul>
                                    <li style="text-align:justify">7% or;</li>
                                    <li style="text-align:justify">2% buffer above the actual interest rate</li>
                                </ul>
                                <p style="text-align: justify">
                                    For example, if a customer is applying to borrow $500,000 to be repaid over
                                    30 years with a current interest rate of 4%, the customer would be required to prove their ability
                                    to make loan repayments based on the inflated assessment rate (in this case it would be 7%).
                                </p>
                                <p style="text-align: justify">
                                    If, however, APRA decide to remove the interest rate floor of 7% and instead
                                    require that the lender assess the loan application based on only a 2% buffer
                                    above the actual rate, the inflated assessment rate would only be 6% (4% + 2%).
                                    This would mean that the applicant would be eligible to borrow more from their lender.
                                </p>
                                <p style="text-align: justify">
                                    Although APRA’s latest commentary on the regulation does not stipulate
                                    exactly how the rules will change, APRA Chair Wayne Byres has suggested
                                    that the current buffer rate floor of 7% is no longer appropriate based
                                    on current interest rates.
                                </p>
                                <p style="text-align: justify">
                                    “APRA introduced this guidance as part of a suite of measures designed to
                                    reinforce sound residential lending standards at a time of heightened risk.
                                    Although many of those risk factors remain – high house prices, low interest 
                                    rates, high household debt, and subdued income growth – two more recent developments
                                    have led us to review the appropriateness of the interest rate floor,” Mr Byres said.
                                </p>
                                <p class="black-paragraph" style="text-align: center;">
                                    “With interest rates at record lows, and likely to remain at historically low levels
                                    for some time, the gap between the 7 per cent floor and actual rates paid has become
                                    quite wide in some cases – possibly unnecessarily so.
                                </p>
                                <p style="text-align: justify">
                                    “In addition, the introduction of differential pricing in recent years – with a substantial
                                    gap emerging between interest rates for owner-occupiers with principal-and-interest loans on
                                    the one hand, and investors with interest-only loans on the other – has meant that the merits
                                    of a single floor rate across all products have been substantially reduced.
                                </p>
                                <p style="text-align: justify">
                                    “The changes, while likely to increase the maximum borrowing capacity for a given borrower, are
                                    not intended to signify any lessening in the importance that APRA places on the maintenance of
                                    sound lending standards. Rather, it is simply recognition that the current interest rate environment
                                    does not warrant a uniform mandated interest rate floor of 7 per cent across all products.
                                </p>
                                <p style="text-align: justify">
                                    "The proposed changes will provide ADIs with greater flexibility to set their own serviceability floors,
                                    while still maintaining a measure of prudence through the application of an appropriate buffer to reflect
                                    the inherent uncertainty in credit assessments.”
                                </p>
                                <p style="text-align: justify">
                                    We look forward to APRA releasing the final version of the updated regulations after a four week consultation ending on 18 June 2019.
                                </p>
                                
                                
                                

                                
                                <p style="text-align: justify">
                                    Information sourced from: 
                                    <a href="https://www.apra.gov.au/media-centre/media-releases/apra-proposes-amending-guidance-mortgage-lending">
                                        https://www.apra.gov.au/media-centre/media-releases/apra-proposes-amending-guidance-mortgage-lending
                                    </a>
                                </p>

                                <p>&nbsp;</p>
                                <a class="red-button" href="/Resources/News">Back to News</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>










