
@{
    ViewBag.Title = "Calculators";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .red-paragraph {
        background-color: #ed193d;
        color: #FFF !important;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .menu-li {
        list-style: none;
        padding: 10px;
        padding-left: 0px;
        border-bottom: 1px;
        border-bottom: 2px solid rgb(230, 230, 230);
    }

    .menu-li-list {
        list-style: none;
        padding: 10px 0;
    }

    .menu-ul {
        padding-top: 45px;
        padding-bottom: 40px;
        padding-right: 15px;
        padding-left: 15px;
    }

    audio, canvas, iframe, img, svg, video {
        vertical-align: middle;
        border: 0;
    }

    .highlight {
        color: #ed1a3d;
    }

    .not-highlight {
        color: #00577f;
    }

    .bold-font {
        font-weight: 600;
    }

    .first-video {
        max-width: 64%;
    }
    .f-weight {
        font-weight: 800;
    }
</style>
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active"><a href="#">Resources</a></li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-grayblack pinside30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">Our</span>Calculators</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="wrapper-content bg-grayblack">
                    <ul class="menu-ul">
                        <!--rm wsp-->
                        <li class="menu-li"><a href="Loan-Repayment-Calculator">Loan Repayment Calculator</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="fornightly-repayment-calculator">Fortnightly Repayments Calculator</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="Borrowing-Power-Calculator">Borrowing Power Calculator</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="Budget-Planner-Calculator">Budget Planner</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="Comparison-Rate-Calculator">Comparison Rate Calculator</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="Compound-Interest-Calculator">Compound Interest Calculator</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="Credit-Card-Calculator">Credit Card Calculator</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="Extra-Repayment-Calculator">Extra Repayment Calculator</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="Home-Loan-Offset-Calculator">Home Loan Offset Calculator</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="Repayment-Duration-Calculator">How Long to Repay Calculator</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="Income-Tax-Calculator">Income Tax Calculator</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="Interest-Only-Mortgage-Calculator">Interest-only Mortgage Calculator</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="Introductory-Rate-Loan-Calculator">Introductory Rate Loan Calculator</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="Leasing-Calculator">Leasing Calculator</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="Loan-Comparison-Calculator">Loan Comparison Calculator</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="Lump-Sum-Repayment-Calculator">Lump Sum Repayment</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="Property-Buying-Cost-Calculator">Property Buying Calculator</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="Property-Selling-Cost-Calculator">Property Selling Calculator</a></li>
                        <!--rm wsp--> 
                        <li class="menu-li"><a href="Reverse-Mortgage-Calculator">Reverse Mortgage Calculator</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="Saving-Calculator">Saving Calculator</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="how-long-to-save">How long to Save</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="how-much-to-deposit">How much to Deposit</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="Stamp-Duty-Calculator">Stamp Duty Calculator</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="Income-Annualisation-Calculator">Income Annualisation</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="Income-Gross-up-Calculator">Income Gross Calculator</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="Rent-Vs-Buy-Calculator">Rent vs Buy Calculator</a></li>
                        <!--rm wsp-->
                        <li class="menu-li-list"><a href="Mortgage-Switching-Calculator">Mortgage Switching Calculator</a></li>
                    
                    </ul>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="wrapper-content bg-grayblack">
                    <div class="section-scroll pinside60" id="section-about">
                        <p>Please select the calculator you wish to use for an idea, for more information please <a href="/Contact" class="f-weight">contact priority</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

