
@{
    ViewBag.Title = "_Comparing_Apples";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .red-button {
        background-color: #ed193d;
        display: inline-block;
        color: #FFF !important;
        padding: 10px 10%;
        font-weight: bold;
    }

    /*.pa-margin {
        margin: 0px 0 13px;
        line-height: 1.2;
        font-weight: 100;
    }*/

    .grey-paragraph {
        background-color: #f1f1f2;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .red-paragraph {
        background-color: #ed193d;
        color: #FFF !important;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .zero {
        margin: 0px;
        padding: 0px;
    }

    .highlight {
        color: #ed1a3d;
    }

    .not-highlight {
        color: #00577f;
    }

    .bold-font {
        font-weight: 600;
    }

    .bolder-font {
        font-weight: 800;
    }
</style>


<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/OurService/Our_Services">Our Services</a></li>
                        <li><a href="/Resources/News">Blog</a></li>
                        <li class="active">Comparing Apples with Apples: Comparison Rates explained</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-grayblack pinside30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">Comparing Apples with Apples:</span>Comparison Rates explained</h1>
                        </div>
                        @*<div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="btn-action"> <a href="#" class="btn btn-default">How To Apply</a> </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                @*<div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Give me call back</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Emi Caculator</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-grayblack ">
                    <div class="about-section pinside40">
                        <div class="row not-highlight">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 zero">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <img class="display-left graphic" src="~/Assets/images/Comparing apples with apples (2).jpg" alt="Comparing apples with apples">
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <p>
                                            Comparing apples with oranges doesn’t make sense. To make finding the
                                            right loan easier, and to make advertised rates as transparent as possible,
                                            we have <span class="bold-font">comparison rates</span>.
                                        </p>
                                        <p>
                                            You’re looking for the best mortgage deal and you see an ad. It shouts ‘3.8% INTEREST!’
                                            and, underneath that seemingly too-good-to-be-true rate, ‘7.9% comparison rate’. What
                                            does this mean?
                                        </p>
                                        <p>
                                            “Because a comparison rate includes all of the fees and charges that can be applied
                                            to a home loan, it helps to show customers what the true cost of a loan is. In some
                                            instances, lenders offering the lowest rate may not actually boast the cheapest loan,
                                            which is what a comparison rate shows,” explains Mortgage Choice Head of Corporate Affairs,
                                            Jessica Darnbrough.
                                        </p>
                                    </div>
                                </div>
                                <p>
                                    “In 2003, an amendment was made to the Uniform Consumer Credit Code (UCCC) that
                                    required comparison rates to be included in advertising. This change was made so
                                    that customers were not easily misled when it came to home loan interest rates.”
                                    The UCCC has since been replaced by the National Credit Code and the comparison
                                    rate requirement remains.
                                </p>

                                <p class="black-paragraph" style="text-align: center">
                                    This allows consumers to compare
                                    apples with apples, to an extent. It does make it much simpler to hold two loan
                                    products side by side and, regardless of whether one has a slightly higher interest
                                    rate and no fees while the other is a super-low interest rate with high fees,
                                    see at a glance which one is the better deal financially.
                                </p>
                                <p>
                                    <span class="bolder-font">However, it isn’t always this simple.</span>
                                    Fees and charges, the rate
                                    at which principle is paid down and the total interest paid over the loan term all
                                    change depending on the loan amount and on the term, so you need to delve a little
                                    further into how that comparison rate is calculated.
                                </p>
                                <p>
                                    While the comparison rate itself must be as prominently displayed as the interest rate –
                                    not buried in tiny fine print – somewhere on the advertisement, there will be a statement
                                    along the lines of ‘Comparison rate calculated on a loan of $150,000 for a term of 25 years,
                                    with monthly repayments’. If your loan is going to be for $500,000, the comparison rate for
                                    your loan will be vastly different.
                                </p>
                                <p>
                                    “In order to get an idea of the comparison rate that applies to a loan, it is a good idea for
                                    borrowers to look at the comparison rate for the amount and term closest to the amount and
                                    term of their loan,” Darnbrough suggests. “It is always a good idea to look at a comparison
                                    rate that is specific to their circumstances, otherwise they can be misled.”
                                </p>
                                <p>
                                    Priority Home Loans can help you make sense of advertised interest rates and calculate
                                    comparison rates for your specific circumstances.
                                    <a href="/Contact/Index" target="_blank">Contact </a>us today to arrange an appointment with
                                    one of our MFAA Accredited Finance Brokers.
                                </p>
                                
                                <a class="red-button" href="/Resources/News">Back to News</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


