
@{
    ViewBag.Title = "_Dont_Kill_Competition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .red-button {
        background-color: #ed193d;
        display: inline-block;
        color: #FFF !important;
        padding: 10px 10%;
        font-weight: bold;
    }

    /*.pa-margin {
        margin: 0px 0 13px;
        line-height: 1.2;
        font-weight: 100;
    }*/

    .grey-paragraph {
        background-color: #f1f1f2;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .red-paragraph {
        background-color: #ed193d;
        color: #FFF !important;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .zero {
        margin: 0px;
        padding: 0px;
    }

    .highlight {
        color: #ed1a3d;
    }

    .not-highlight {
        color: #00577f;
    }

    .bold-font {
        font-weight: 600;
    }

    .bolder-font {
        font-weight: 800;
    }
</style>


<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/OurService/Our_Services">Our Services</a></li>
                        <li><a href="/Resources/News">Blog</a></li>
                        <li class="active">Don't Kill Competition</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-grayblack pinside30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">Don't </span> Kill Competition</h1>
                        </div>
                        @*<div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="btn-action"> <a href="#" class="btn btn-default">How To Apply</a> </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                @*<div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Give me call back</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Emi Caculator</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-grayblack ">
                    <div class="about-section pinside40">
                        <div class="row not-highlight">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 zero">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <img class="display-left graphic" src="~/Assets/images/MFA0019_Facebook_Locked.jpg" alt="MFA0019_Facebook_Locked">
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <p>Dear Australian homeowners and home buyers,</p>
                                        <p>What would a world without Mortgage brokers look like?</p>
                                        <p>
                                            Possible legislation change threatens the mortgage broking industry,
                                            which could see
                                            <strong>
                                                all Australians having less access to smaller
                                                lenders and even less access to credit.
                                            </strong> As competition and
                                            choice declines, bank power and the risk of higher interest rates increases.
                                        </p>
                                        <p>
                                            Without Mortgage Brokers, finding a home loan will be harder
                                            and could become more expensive for home buyers.
                                        </p>
                                    </div>
                                </div>


                                <p>Did you know:</p>
                                <ul>
                                    <li><span class="bolder-font">Brokers drive mortgage interest rates down, which helps all borrowers.</span> Broker competition has contributed to a fall in net interest margin of over 3 percentage points¹, which delivers a saving of more than $300,000 on a $500,000 thirty-year home loan.</li>
                                    <li><span class="bolder-font">Brokers facilitate more than 59%² of all Australian home loans</span> and act as a shop front for smaller and non-bank lenders.</li>
                                    <li>More than <span class="bolder-font">half a million Australians take out a mortgage with the help of a broker</span> each year.</li>
                                    <li>Brokers are <span class="bolder-font">critical in regional and rural areas</span> where retail banks are less accessible.</li>
                                    <li>Mortgage brokers c<span class="bolder-font">ontribute $2.9bn to the Australian economy each year.¹</span></li>
                                </ul>

                                <p>Mortgage brokers are a key driver of competition and access to credit. Without them, you could pay more for your loan while the banks profit.</p>

                                <p>The last thing Australia needs is policy change that further entrenches power amount the few lenders with large branch networks.</p>

                                <p>We are asking everyday Australians to protect competition and choice by ensuring the mortgage broker channel remains strong.</p>

                                <p>Show your support by signing our online petition to keep choice alive at <a href="https://www.brokerbehindyou.com.au/" target="_blank"><span class="bolder-font">brokerbehindyou.com.au</span></a></p>

                                <p>Yours sincerely,</p>

                                <p><span class="bolder-font">The Australian Mortgage Broking Industry</span></p>

                                <pre>Authorised by Mortgage &amp; Finance Association of Australia, Sydney</pre>

                                <pre>
                                    ¹Deloitte Access Economics - The Value of Mortgage Broking (July 2018)
                                    ²MFAA's Quarterly Survey of leading mortgage brokers and aggregators (Jul-Sep 2018), produced by CoreLogic
                                </pre>




                                <a class="red-button" href="/Resources/News">Back to News</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>









