
@{
    ViewBag.Title = "_Five_Questions_Potentials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<style>
    .red-button {
        background-color: #ed193d;
        display: inline-block;
        color: #FFF !important;
        padding: 10px 10%;
        font-weight: bold;
    }

    /*.pa-margin {
        margin: 0px 0 13px;
        line-height: 1.2;
        font-weight: 100;
    }*/

    .grey-paragraph {
        background-color: #d49f24;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .red-paragraph {
        background-color: #ed193d;
        color: #FFF !important;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .zero {
        margin: 0px;
        padding: 0px;
    }

    .highlight {
        color: #ed1a3d;
    }

    .not-highlight {
        color: #00577f;
    }

    .bold-font {
        font-weight: 600;
    }

    .bolder-font {
        font-weight: 800;
    }
</style>


<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/OurService/Our_Services">Our Services</a></li>
                        <li><a href="/Resources/News">Blog</a></li>
                        <li class="active">Five questions potential first-home buyers should ask themselves</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-grayblack pinside30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">Five questions potential</span> first-home buyers should ask themselves</h1>
                        </div>
                        @*<div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="btn-action"> <a href="#" class="btn btn-default">How To Apply</a> </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                @*<div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Give me call back</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Emi Caculator</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-grayblack ">
                    <div class="about-section pinside40">
                        <div class="row highlight">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 zero">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <img class="display-left graphic" src="~/Assets/images/5 questions for first home buyers.jpg" alt="5 questions for first home buyers">
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <p>
                                            If you've never bought property or applied for a home loan before, you probably have a lot of questions. How much can I afford
                                            to buy for? How much deposit do I need? What will my loan repayments be? The answers to these questions will vary depending
                                            on your own personal situation.
                                        </p>
                                        <p>
                                            We have created five main questions for all first home buyers to consider which may help you to understand the process more clearly:
                                        </p>
                                        <p><span class="highlight bolder-font">1. Is it the right time?</span></p>
                                        <p>
                                            Moving house can be stressful and time-consuming, so consider whether it’s suitable right now. Will your children need to move school?
                                            Are there work obligations that could make a move challenging? If you’re planning major life changes like having a baby, you’ll need
                                            to factor these in.
                                        </p>

                                    </div>
                                </div>
                                <p><span class="highlight bolder-font">2. Am I ready?</span></p>
                                <p>
                                    When considering your financial situation, do you have debts (like a personal loan) that you’ll need to manage? Perhaps you can consolidate
                                    these into your home loan, or pay off the credit card first. You’ll need to ensure your deposit is big enough to both purchase your new home
                                    and cover the costs of buying.
                                </p>
                                <p><span class="highlight bolder-font">3. How much money do I need?</span></p>
                                <p>
                                    While the purchase price of your home will be your biggest cost, there are other expenses to pay. Some other costs include
                                    stamp duty, home owner’s insurance, legal fees and removalists.
                                </p>
                                <p><span class="highlight bolder-font">4. Can I afford the repayments?</span></p>
                                <p>
                                    Determine what you can afford by taking your income and deducting regular expenses.
                                    Add home-ownership expenses, like rates, and allow for some unexpected costs. Once
                                    you understand how much you can afford, work out how much you can borrow using an&nbsp;
                                    affordability calculator. We have a suite of calculators that may help you on our website
                                    that you can access
                                    <a href="/Resources/Calculators" target="_blank">here</a>.
                                    In particular, the
                                    <a href="/Budget-Planner-Calculator" target="_blank">Budget Planner</a>
                                    may help you determine your average monthly expenses and the
                                    <a href="/Loan-Repayment-Calculator" target="_blank">Loan Repayment Calculator</a>
                                    can give you an idea on expected loan repayments.
                                </p>
                                <p><span class="highlight bolder-font">5. Are there any grants that I can access?</span></p>
                                <p>
                                    The government’s&nbsp;
                                    <a href="http://www.firsthome.gov.au/" target="_blank">First Home Owner Grant (FHOG) scheme</a>&nbsp;
                                    may provide a substantial cash grant&nbsp;to first-home
                                    owners who meet certain criteria. Depending on which state or territory you’re in, and if
                                    you’re building your home, there may also be subsidies or tax exemptions available. Check
                                    out what your State Government is currently offering to first home buyers by clicking
                                    <a href="http://www.firsthome.gov.au/" target="_blank">here</a>.
                                </p>
                                <p>
                                    Priority Home Loans can assist you with searching for an appropriate home loan
                                    that will suit your needs and requirements. We will also help to explain the
                                    process and assist with your application to your chosen lender. If you are
                                    thinking of purchasing your first home, please
                                    <a href="/Contact/Index" target="_blank">contact us</a>
                                    to make an appointment to see one of our MFAA accredited Finance Brokers.
                                </p>

                                <a class="red-button" href="/Resources/News">Back to News</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>












