
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .menu-ul {
        padding-top: 45px;
        padding-bottom: 40px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .menu-li {
        list-style: none;
        padding: 10px;
        padding-left: 0px;
        border-bottom: 1px;
        border-bottom: 2px solid rgb(230, 230, 230);
    }

    .menu-li-list {
        list-style: none;
        padding: 10px 0;
    }



    .embeddedContent[data-align='center'], .embeddedContent[data-align='center'] iframe, .embeddedContent[data-align='center'] embed, .embeddedContent[data-align='center'] object {
        margin: 0 auto;
    }

    .embeddedContent iframe, .embeddedContent embed, .embeddedContent object {
        display: block;
        max-width: 100%;
    }

    iframe {
        width: 100%;
    }

    .embeddedContent[data-align='center'], .embeddedContent[data-align='center'] iframe, .embeddedContent[data-align='center'] embed, .embeddedContent[data-align='center'] object {
        margin: 0 auto;
    }

    .embeddedContent[data-align="none"] iframe, .embeddedContent[data-align="none"] embed, .embeddedContent[data-align="none"] object, .embeddedContent.KMS-video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .embeddedContent iframe, .embeddedContent embed, .embeddedContent object {
        display: block;
        max-width: 100%;
    }

    iframe {
        width: 100%;
    }

    audio, canvas, iframe, img, svg, video {
        vertical-align: middle;
        border: 0;
    }
</style>
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/Home/Index">Home</a></li>
                        <li class="active">Resources</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-grayblack pinside30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">Reso</span>urces</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="wrapper-content bg-grayblack">
                    <ul class="menu-ul">
                        <!--rm wsp-->
                        <li class="menu-li"><a href="/Resources/New_Customer">New Customer Form</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="/Resources/News">Blog</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="/Resources/Calculators">Calculators</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="/Resources/Subscribe">Subscribe</a></li>
                        <!--rm wsp-->
                        <li class="menu-li"><a href="/Resources/Our_Dispute_Resolution_Policy">Disputes and Complaints</a></li>
                        <!--rm wsp-->
                        <li class="menu-li-list"><a href="/Resources/Privacy_Policy">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="wrapper-content bg-grayblack">
                    <div class="section-scroll pinside60" id="section-about">
                        <h2>Your Appointment Checklist:</h2>
                        <div class="btn-box">
                            <a href="~/Assets/Appointment documents checklist Tamworth.pdf" class="btn btn-default red-btn">Download</a>
                        </div>
                        <h2>New Customer Form:</h2>
                        <div class="btn-box">
                            <a href="~/Assets/Client Information Form (editable).pdf" class="btn btn-default red-btn">Download</a>
                        </div>
                        <h2>Application Process Guide</h2>
                        <div class="btn-box">
                            <a href="~/Assets/ApplicationProcess - Guide for customers.pdf" class="btn btn-default red-btn">Download</a>
                        </div>
                        <div class="mt60">
                            <p></p>
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="text-primary mb0">Useful Links</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                       
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                           
                                            <ul class="list-unstyled bullet bullet-check-circle">
                                                <li>Your credit file: get a&nbsp;<a href="http://www.mycreditfile.com.au/home/free-credit-file.dot" target="_blank">free copy of your credit file</a>&nbsp;from Equifax</li>
                                                <li>Financial tips and advice:&nbsp;<a href="https://www.moneysmart.gov.au/?referrer=fido.gov.au" target="_blank">Money Smart</a>&nbsp;from the Australian Securities &amp; Investment Commission (ASIC)&nbsp;</li>
                                                <li>Loan Essentials: from&nbsp;<a href="http://www.essentialsofborrowing.com.au/" target="_blank">Mortgage &amp; Finance Association of Australia</a>&nbsp;(MFAA)</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

