
@{
    ViewBag.Title = "_Inspection_Checklist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    .red-button {
        background-color: #ed193d;
        display: inline-block;
        color: #FFF !important;
        padding: 10px 10%;
        font-weight: bold;
    }

    /*.pa-margin {
        margin: 0px 0 13px;
        line-height: 1.2;
        font-weight: 100;
    }*/

    .grey-paragraph {
        background-color: #f1f1f2;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .red-paragraph {
        background-color: #ed193d;
        color: #FFF !important;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .zero {
        margin: 0px;
        padding: 0px;
    }

    .highlight {
        color: #ed1a3d;
    }

    .not-highlight {
        color: #00577f;
    }

    .bold-font {
        font-weight: 600;
    }

    .bolder-font {
        font-weight: 800;
    }
</style>


<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/OurService/Our_Services">Our Services</a></li>
                        <li><a href="/Resources/News">Blog</a></li>
                        <li class="active">Inspection checklist</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-grayblack pinside30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">Inspection</span> checklist</h1>
                        </div>
                        @*<div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="btn-action"> <a href="#" class="btn btn-default">How To Apply</a> </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                @*<div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Give me call back</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Emi Caculator</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-grayblack ">
                    <div class="about-section pinside40">
                        <div class="row not-highlight">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 zero">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <img class="display-left graphic" src="~/Assets/images/Property inspection checklist.jpg" alt="Property inspection checklist">
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <p>
                                            When you’re house hunting, it’s easy to get distracted by aesthetics.
                                            This checklist will help you focus on what’s really important at a
                                            property inspection.
                                        </p>
                                        <p><span class="highlight bold-font">Is it right for you?</span></p>
                                        <p>
                                            Is a spare bedroom, second bathroom or ensuite a must? Will
                                            everyone be safe or comfortable climbing stairs? Does your
                                            dog need space to roam? Be realistic about the features you
                                            can’t live without.
                                        </p>
                                        <p><span class="highlight bold-font">Floor plan and room sizes</span></p>
                                        <p>
                                            Walk around the property to get a sense of how one room flows into the next.
                                            Check whether the rooms are the right size and shape for your existing furniture
                                            and appliances. If not, are you prepared to splash out on replacements? The rooms
                                            should also be practical. For example, does the kitchen layout suit your needs? Is
                                            there enough space for a dining table?
                                        </p>
                                    </div>
                                </div>
                                <p><span class="highlight bold-font">Orientation and natural light</span></p>

                                <p>
                                    Check where the property’s windows are, and whether trees or nearby
                                    buildings will block out sunlight. If the lights are on, switch them
                                    off to get a feel for the natural light. The inspection may have been
                                    timed to maximise natural light.
                                </p>
                                <p><span class="highlight bold-font">Neighbours</span></p>
                                <p>
                                    Consider whether neighbours can see directly into the property. It’s also
                                    worth checking whether they’ve lodged any development plans with the council.
                                    Walk around the block to see how well other properties in the area are maintained,
                                    and to listen for noisy pets.
                                </p>
                                <p><span class="highlight bold-font">Parking</span></p>
                                <p>
                                    If there’s off-street parking, are there enough spaces?
                                    Check local parking restrictions, and how much a resident’s
                                    or visitor’s parking permit costs. Consider how hard it would
                                    be to find on-street parking at peak times.
                                </p>
                                <p><span class="highlight bold-font">Heating, cooling and ventilation</span></p>
                                <p>
                                    If the property has heating or air conditioning systems, check that they work,
                                    how old they are and if they’ve been recently serviced. Keep in mind that high
                                    ceilings can make it difficult (and expensive) to heat a room. Ventilation is
                                    especially important in kitchens and bathrooms, so test the extractor fans.
                                </p>
                                <p><span class="highlight bold-font">Water</span></p>
                                <p>
                                    Check whether the water pressure’s up to scratch, especially in the shower.
                                    Can you get the right mix of warmth and pressure, or will it cost you to change this?
                                    Consider whether the hot water heater is big enough for your family’s needs.
                                    And don’t be afraid to flush the toilets.
                                </p>

                                <p><span class="highlight bold-font">Storage</span></p>
                                <p>
                                    Do the built-in wardrobes suit your needs? If there aren’t any,
                                    will the bedroom be large enough for a freestanding wardrobe?
                                    If there’s a garage, check that it’s big enough for your car
                                    and any other items you’d like to store.
                                </p>

                                <p><span class="highlight bold-font">Fixtures and fittings</span></p>
                                <p>
                                    Are there enough power points? Are they in convenient locations?
                                    Check behind the furniture, because they may be hidden. If the
                                    house has blinds, curtains, flyscreens, light fittings or other
                                    fixed features, they should ideally be clean and in good working
                                    order.
                                </p>

                                <p><span class="highlight bold-font">Noise</span></p>
                                <p>
                                    Common walls, floors and ceilings can be a real issue, as can communal
                                    areas such as stairwells. Consider how well-insulated the property is,
                                    how well-fitted the doors and windows are, and whether there’s carpet or
                                    double glazing. Traffic, shared courtyards and nearby schools and sporting
                                    grounds are all potential sources of noise.
                                </p>

                                <p><span class="highlight bold-font">Garden upkeep</span></p>
                                <p>
                                    Outdoor maintenance can be hard work. Do you have the time or money to mow the lawn, weed the flower beds or clean the pool?
                                </p>

                                <p><span class="highlight bold-font">Security</span></p>
                                <p>
                                    Will you need to install or repair security doors? If the property has a shared entrance,
                                    check whether the main door locks and if the other owners and tenants generally keep it closed.
                                </p>
                                <p>
                                    A building inspection covers the property’s structure, but there many other things to 
                                    consider. Check for what’s important to you, so you can make the best home-buying decision.
                                </p>

                                <a class="red-button" href="/Resources/News">Back to News</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



