
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/Home/Index">Home</a></li>
                        <li class="active">Blog</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-grayblack pinside30">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-9 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">Priority</span> Blog</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="wrapper-content bg-grayblack pinside20 hip-grid" id="example">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="/Resources/_How_To_Refinance" class="imghover"><img src="~/Assets/images/news/How to refinance to renovate.jpg" alt="Borrow - Loan Company Website Template" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="/Resources/_How_To_Refinance" class="title">How to Refinance To Renovate</a></h2>
                                    <p class="meta"><span class="meta-date">2021-08-18</span></p>
                                    <p>
                                        Refinancing your assets to renovate a property is a significant decision that will hopefully improve your standard of living or add substantial value to your
                                    </p>
                                    <a href="/Resources/_How_To_Refinance" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="/Resources/_Top_Ways_To_Cut_Expenses" class="imghover"><img src="~/Assets/images/news/Budgeting 2.jpg" alt="Borrow - Loan Company Website Template" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="/Resources/_Top_Ways_To_Cut_Expenses" class="title">Top Ways To Cut Expenses</a></h2>
                                    <p class="meta"><span class="meta-date">2021-06-25</span></p>
                                    <p>
                                        Is the key to saving a home deposit as simple as giving up smashed avo toast for breakfast? Well not quite, but spending less does make a difference.
                                    </p>
                                    <a href="/Resources/_Top_Ways_To_Cut_Expenses" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="/Resources/_Rentvesting" class="imghover"><img src="~/Assets/images/news/Investment.jpg" alt="Borrow - Loan Company Website Templates" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="/Resources/_Rentvesting" class="title">Rentvesting</a></h2>
                                    <p class="meta"><span class="meta-date">2021-06-25</span></p>
                                    <p>
                                        Enter the property market without sacrificing your current lifestyle. As property prices continue to rise, purchasing in a centrally-located or sought-after area is out of reach
                                    </p>
                                    <a href="/Resources/_Rentvesting" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="/Resources/_Your_First_Meeting" class="imghover"><img src="~/Assets/images/news/pexels-sora-shimazaki-5668859.jpg" alt="Borrow - Loan Company Website Templates" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="/Resources/_Your_First_Meeting" class="title">Your First Meeting With A Broker</a></h2>
                                    <p class="meta"><span class="meta-date">2021-06-25</span></p>
                                    <p>

                                        There are lots of brokers around and there is a lot to learn. But there are many steps you can take to be confident that your appointment will be a success.
                                    </p>
                                    <a href="/Resources/_Your_First_Meeting" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="/Resources/_Five_Ways_To_Fund" class="imghover"><img src="~/Assets/images/news/roselyn-tirado-GDWmu0bFfS4-unsplash.jpg" alt="Borrow - Loan Company Website Templates" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="/Resources/_Five_Ways_To_Fund" class="title">Five Ways To Fund A Renovation</a></h2>
                                    <p class="meta"><span class="meta-date">2021-06-25</span></p>
                                    <p>
                                        Considering transforming your home from ‘banal’ to ‘brilliant’, but lack the funds to support your makeover? Never fear, we’ve rounded up five home renovation finance options that
                                    </p>
                                    <a href="/Resources/_Five_Ways_To_Fund" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="/Resources/_What_Is_Lmi" class="imghover"><img src="~/Assets/images/roselyn-tirado-GDWmu0bFfS4-unsplash.jpg" alt="Borrow - Loan Company Website Templates" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="/Resources/_What_Is_Lmi" class="title">What Is LMI?</a></h2>
                                    <p class="meta"><span class="meta-date">2021-03-12</span></p>
                                    <p>
                                        Exploring the benefits of lenders mortgage insurance.
                                    </p>
                                    <a href="/Resources/_What_Is_Lmi" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="/Resources/_What_Are_The_Extra_Cost" class="imghover"><img src="~/Assets/images/What are the extra costs to buying a home.jpg" alt="Borrow - Loan Company Website Templates" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="/Resources/_What_Are_The_Extra_Cost" class="title">What are the extra costs of buying a home? </a></h2>
                                    <p class="meta"><span class="meta-date">2021-01-11</span></p>
                                    <p>
                                        When taking out a mortgage, many people forget to consider the associated fees and expenses.
                                        Here are some of the extra costs that you’ll need to consider when you take out a home loan.
                                        Home loan application fees Most lenders charge a home loan application fee. This can range from
                                        loan to l...
                                    </p>
                                    <a href="/Resources/_What_Are_The_Extra_Cost" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="/Resources/_2020_Christmas_Office_Closure_Dates" class="imghover"><img src="~/Assets/images/news/2020 Christmas closure post.png" alt="Borrow - Loan Company Website Templates" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="/Resources/_2020_Christmas_Office_Closure_Dates" class="title">2020 Christmas Office Closure Dates</a></h2>
                                    <p class="meta"><span class="meta-date">2021-06-25</span></p>
                                    <p>

                                        We would like to take this opportunity to thank our wonderful clients and associates for their support throughout 2020. Although it has been a challenging year
                                    </p>
                                    <a href="/Resources/_2020_Christmas_Office_Closure_Dates" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="#" class="imghover"><img src="~/Assets/images/news/2020 Christmas closure post.png" alt="Borrow - Loan Company Website Templates" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="#" class="title">Your Property Investing Checklist </a></h2>
                                    <p class="meta"><span class="meta-date">2020-09-30</span></p>
                                    <p>
                                        &nbsp;

                                        Investment in real property, such as residential real estate, is likely to be a lengthy process and one that usually involves a plan for the long term. To ensure you have considered what is required before making the big purchase, we’ve outlined steps you need to take in that process.

                                        &nbsp;
                                    </p>
                                    <a href="#" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="#" class="imghover"><img src="~/Assets/images/news/2020 Christmas closure post.png" alt="Borrow - Loan Company Website Templates" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblacke pinside20 outline">
                                    <h2><a href="#" class="title">Three Key Triggers Telling You To Get A Depreciation Schedule</a></h2>
                                    <p class="meta"><span class="meta-date"> 2019-11-05</span></p>
                                    <p>
                                        Thank you to MCG Quantity Surveyors&nbsp;for providing&nbsp;this blog post.
                                        Every year people complain about Easter eggs being in the shops already in 
                                        February, it’s one of those perennial water cooler topics like the magpie 
                                        swooping season. Tax time is no different and for my part, I wish I wasn’t
                                        dron...
                                    </p>
                                    <a href="#" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="#" class="imghover"><img src="~/Assets/images/news/How the RBA rate.jpg" alt="Borrow - Loan Company Website Templates" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="#" class="title">How RBA rate changes affect your interest rate</a></h2>
                                    <p class="meta"><span class="meta-date">2021-06-25</span></p>
                                    <p>

                                        There are lots of brokers around and there is a lot to learn. But there are many steps you can take to be confident that your appointment will be a success.
                                    </p>
                                    <a href="#" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="#" class="imghover"><img src="~/Assets/images/news/2020 Christmas closure post.png" alt="Borrow - Loan Company Website Templates" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="#" class="title">Another RBA Rate Cut!</a></h2>
                                    <p class="meta"><span class="meta-date">2019-07-02</span></p>
                                    <p>

                                        At its meeting today, the RBA board decided to lower the cash rate for the second month in a row by another 25 basis points to 1.00 per cent.

                                        Attention now turns to lenders, again, as we wait to see how this decision may affect..
                                    </p>
                                    <a href="#" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


