
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/Home/Index">Home</a></li>
                        <li class="active">Blog</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-grayblack pinside30">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-9 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">Priority</span> Blog</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="wrapper-content bg-grayblack pinside20 hip-grid" id="example">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="/Resources/_How_To_Refinance" class="imghover"><img src="~/Assets/images/news/How to refinance to renovate.jpg" alt="Borrow - Loan Company Website Template" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="/Resources/_How_To_Refinance" class="title">How to Refinance To Renovate</a></h2>
                                    <p class="meta"><span class="meta-date">2021-08-18</span></p>
                                    <p>
                                        Refinancing your assets to renovate a property is a significant decision that will hopefully improve your standard of living or add substantial value to your
                                    </p>
                                    <a href="/Resources/_How_To_Refinance" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="/Resources/_Top_Ways_To_Cut_Expenses" class="imghover"><img src="~/Assets/images/news/Budgeting 2.jpg" alt="Top Ways To Cut Expenses" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="/Resources/_Top_Ways_To_Cut_Expenses" class="title">Top Ways To Cut Expenses</a></h2>
                                    <p class="meta"><span class="meta-date">2021-06-25</span></p>
                                    <p>
                                        Is the key to saving a home deposit as simple as giving up smashed avo toast for breakfast? Well not quite, but spending less does make a difference.
                                    </p>
                                    <a href="/Resources/_Top_Ways_To_Cut_Expenses" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="/Resources/_Rentvesting" class="imghover"><img src="~/Assets/images/news/Investment.jpg" alt="Rentvesting" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="/Resources/_Rentvesting" class="title">Rentvesting</a></h2>
                                    <p class="meta"><span class="meta-date">2021-06-25</span></p>
                                    <p>
                                        Enter the property market without sacrificing your current lifestyle. As property prices continue to rise, purchasing in a centrally-located or sought-after area is out of reach
                                    </p>
                                    <a href="/Resources/_Rentvesting" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="/Resources/_Your_First_Meeting" class="imghover"><img src="~/Assets/images/news/pexels-sora-shimazaki-5668859.jpg" alt="Your First Meeting With A Broker" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="/Resources/_Your_First_Meeting" class="title">Your First Meeting With A Broker</a></h2>
                                    <p class="meta"><span class="meta-date">2021-06-25</span></p>
                                    <p>

                                        There are lots of brokers around and there is a lot to learn. But there are many steps you can take to be confident that your appointment will be a success.
                                    </p>
                                    <a href="/Resources/_Your_First_Meeting" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="/Resources/_Five_Ways_To_Fund" class="imghover"><img src="~/Assets/images/news/roselyn-tirado-GDWmu0bFfS4-unsplash.jpg" alt="Five Ways To Fund A Renovation" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="/Resources/_Five_Ways_To_Fund" class="title">Five Ways To Fund A Renovation</a></h2>
                                    <p class="meta"><span class="meta-date">2021-06-25</span></p>
                                    <p>
                                        Considering transforming your home from ‘banal’ to ‘brilliant’, but lack the funds to support your makeover? Never fear, we’ve rounded up ....
                                    </p>
                                    <a href="/Resources/_Five_Ways_To_Fund" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="/Resources/_What_Is_Lmi" class="imghover"><img src="~/Assets/images/lmi.PNG" alt="What Is LMI?" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="/Resources/_What_Is_Lmi" class="title">What Is LMI?</a></h2>
                                    <p class="meta"><span class="meta-date">2021-03-12</span></p>
                                    <p>
                                        Exploring the benefits of lenders mortgage insurance.
                                    </p>
                                    <a href="/Resources/_What_Is_Lmi" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="/Resources/_What_Are_The_Extra_Cost" class="imghover"><img src="~/Assets/images/What are the extra costs to buying a home.jpg" alt="What are the extra costs of buying a home?" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="/Resources/_What_Are_The_Extra_Cost" class="title">What are the extra costs of buying a home? </a></h2>
                                    <p class="meta"><span class="meta-date">2021-01-11</span></p>
                                    <p>
                                        When taking out a mortgage, many people forget to consider the associated fees and expenses.
                                        Here are some of the extra costs that you’ll need to consider when you take out a home loan...

                                    </p>
                                    <a href="/Resources/_What_Are_The_Extra_Cost" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="/Resources/_2020_Christmas_Office_Closure_Dates" class="imghover"><img src="~/Assets/images/news/2020 Christmas closure post.png" alt="2020 Christmas Office Closure Dates" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="/Resources/_2020_Christmas_Office_Closure_Dates" class="title">2020 Christmas Office Closure Dates</a></h2>
                                    <p class="meta"><span class="meta-date">2021-06-25</span></p>
                                    <p>

                                        We would like to take this opportunity to thank our wonderful clients and associates for their support throughout 2020. Although it has been a challenging year
                                    </p>
                                    <a href="/Resources/_2020_Christmas_Office_Closure_Dates" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="/Resources/_Your_Property_Invest_Checking" class="imghover"><img src="~/Assets/images/Property investing checklist.jpg" alt="Your Property Investing Checklist" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="/Resources/_Your_Property_Invest_Checking" class="title">Your Property Investing Checklist </a></h2>
                                    <p class="meta"><span class="meta-date">2020-09-30</span></p>
                                    <p>
                                        &nbsp;

                                        Investment in real property, such as residential real estate, is likely to be a lengthy process and one that usually involves a plan for the long term. To ensure you ....

                                        &nbsp;
                                    </p>
                                    <a href="/Resources/_Your_Property_Invest_Checking" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="/Resources/_Three_Key_Triggers" class="imghover"><img src="~/Assets/images/news/2020 Christmas closure post.png" alt="Three Key Triggers Telling You To Get A Depreciation Schedule" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblacke pinside20 outline">
                                    <h2><a href="/Resources/_Three_Key_Triggers" class="title">Three Key Triggers Telling You To Get A Depreciation Schedule</a></h2>
                                    <p class="meta"><span class="meta-date"> 2019-11-05</span></p>
                                    <p>
                                        Thank you to MCG Quantity Surveyors&nbsp;for providing&nbsp;this blog post.
                                        Every year people..
                                    </p>
                                    <a href="/Resources/_Three_Key_Triggers" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="/Resources/_How_Rba_Rate" class="imghover"><img src="~/Assets/images/news/How the RBA rate.jpg" alt="How RBA rate changes affect your interest rate" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="/Resources/_How_Rba_Rate" class="title">How RBA rate changes affect your interest rate</a></h2>
                                    <p class="meta"><span class="meta-date">2021-06-25</span></p>
                                    <p>
                                        There are lots of brokers around and there is a lot to learn. But there are many steps you can take to be confident that your appointment will be a success.
                                    </p>
                                    <a href="/Resources/_How_Rba_Rate" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="/Resources/_Another_Rba_Rate" class="imghover"><img src="~/Assets/images/anotherrba.png" alt="Another RBA Rate Cut" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="/Resources/_Another_Rba_Rate" class="title">Another RBA Rate Cut!</a></h2>
                                    <p class="meta"><span class="meta-date">2019-07-02</span></p>
                                    <p>

                                        At its meeting today, the RBA board decided to lower the cash rate for the second month in a row by another 25 basis points to 1.00 per cent.

                                        Attention now turns to lenders, again, as we wait to see how this decision may affect..
                                    </p>
                                    <a href="/Resources/_Another_Rba_Rate" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>








                        

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="/Resources/_Another_Rba_Rate" class="imghover"><img src="~/Assets/images/scissors-1803670_1920.jpg" alt="Another RBA Rate Cut" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="/Resources/_Another_Rba_Rate" class="title">RBA Rate Cut! </a></h2>
                                    <p class="meta"><span class="meta-date">2019-06-04</span></p>
                                    <p>
                                        At its Board meeting yesterday afternoon, the Reserve Bank of Australia decided
                                        to lower the official cash rate by 25 basis points to 1.25%. In a statement accompanying
                                        the decision, RBA Governor Philip Lowe said: The outlook for the global economy remains
                                        reasonable, although the downside ...
                                    </p>
                                    <a href="/Resources/_Another_Rba_Rate" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="/Resources/_Another_Rba_Rate" class="imghover"><img src="~/Assets/images/APRA.jpg" alt="Another RBA Rate Cut" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="/Resources/_Another_Rba_Rate" class="title">APRA proposes regulation changes to help new Home Loan customers </a></h2>
                                    <p class="meta"><span class="meta-date">2019-05-24</span></p>
                                    <p>
                                        As the dust settles from the Coalition’s victory last weekend, our attention shifts toward the Australian Prudential Regulatory
                                        Authority (APRA)....
                                    </p>
                                    <a href="/Resources/_Another_Rba_Rate" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="/Resources/_Another_Rba_Rate" class="imghover"><img src="~/Assets/images/What to consider when buying a second property.jpg" alt="Another RBA Rate Cut" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="/Resources/_Another_Rba_Rate" class="title">What to consider when buying a second property </a></h2>
                                    <p class="meta"><span class="meta-date">2019-05-14</span></p>
                                    <p>
                                        Buying your own home remains the great Australian dream – and purchasing a second property may help you take
                                        your wealth further. Whether you’re building your property investment ....
                                    </p>
                                    <a href="/Resources/_Another_Rba_Rate" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="/Resources/_Another_Rba_Rate" class="imghover"><img src="~/Assets/images/Stamp duty explained.jpg" alt="Another RBA Rate Cut" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="/Resources/_Another_Rba_Rate" class="title">Stamp Duty Explained </a></h2>
                                    <p class="meta"><span class="meta-date">2019-05-13</span></p>
                                    <p>
                                        Stamp duty is a charge which is applied by state governments in Australia  on transactions relating to the transfer
                                        of land or property. It is paid upfront and needs to be budgeted for in addition to your loan deposit. The amount
                                        of stamp duty you are required to pay differs in each state, how...
                                    </p>
                                    <a href="/Resources/_Another_Rba_Rate" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="/Resources/_Another_Rba_Rate" class="imghover"><img src="~/Assets/images/Can I make extra repayments.jpg" alt="Another RBA Rate Cut" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="/Resources/_Another_Rba_Rate" class="title">Why should I make extra repayments on my Home Loan? </a></h2>
                                    <p class="meta"><span class="meta-date">2019-05-13</span></p>
                                    <p>
                                        Making extra repayments on your home loan can be a clever financial strategy. Investing your extra cash into
                                        your home can speed up your loan’s life cycle, with the added benefit of saving money....
                                    </p>
                                    <a href="/Resources/_Another_Rba_Rate" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="/Resources/_Another_Rba_Rate" class="imghover"><img src="~/Assets/images/5 questions for first home buyers.jpg" alt="Another RBA Rate Cut" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="/Resources/_Another_Rba_Rate" class="title">Five questions potential first-home buyers should ask themselves</a></h2>
                                    <p class="meta"><span class="meta-date"> 2019-03-26</span></p>
                                    <p>
                                        If you've never bought property or applied for a home loan before, you probably have a lot of questions. How much can
                                        I afford to buy for? How much deposit do I need? What will my loan repayments...
                                    </p>
                                    <a href="/Resources/_Another_Rba_Rate" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="/Resources/_Another_Rba_Rate" class="imghover"><img src="~/Assets/images/Comparing apples with apples (2).jpg" alt="Another RBA Rate Cut" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="/Resources/_Another_Rba_Rate" class="title">Comparing Apples with Apples: Comparison Rates explained </a></h2>
                                    <p class="meta"><span class="meta-date">2019-03-26</span></p>
                                    <p>
                                        Comparing apples with oranges doesn’t make sense. To make finding the right loan easier, and to make advertised
                                        rates as transparent as possible, we have comparison rates. You’re looking for ...
                                    </p>
                                    <a href="/Resources/_Another_Rba_Rate" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="/Resources/_Another_Rba_Rate" class="imghover"><img src="~/Assets/images/Property inspection checklist.jpg" alt="Another RBA Rate Cut" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="/Resources/_Another_Rba_Rate" class="title">Inspection checklist </a></h2>
                                    <p class="meta"><span class="meta-date">2019-03-14</span></p>
                                    <p>
                                        When you’re house hunting, it’s easy to get distracted by aesthetics. This checklist will help you
                                        focus on what’s really important at a property inspection. Is it right for you? Is a spare bedroom,
                                        second bathroom or ensuite a must? Will everyone be safe or comfortable climbing stairs? Doe...
                                    </p>
                                    <a href="/Resources/_Another_Rba_Rate" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="/Resources/_Another_Rba_Rate" class="imghover"><img src="~/Assets/images/When is the best time to refinance.jpg" alt="Another RBA Rate Cut" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="/Resources/_Another_Rba_Rate" class="title">When is the best time to refinance your home loan? </a></h2>
                                    <p class="meta"><span class="meta-date">2019-03-13</span></p>
                                    <p>
                                        As a home owner with a mortgage, chances are you’ve heard of the term 'refinancing'. Refinancing involves reviewing
                                        your current mortgage, and potentially swapping your loan...
                                    </p>
                                    <a href="/Resources/_Another_Rba_Rate" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="/Resources/_Another_Rba_Rate" class="imghover"><img src="~/Assets/images/Thinking of buying off the plan.jpg" alt="Another RBA Rate Cut" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="/Resources/_Another_Rba_Rate" class="title">Thinking of buying off the plan? Read this first. </a></h2>
                                    <p class="meta"><span class="meta-date">2019-03-12</span></p>
                                    <p>
                                        Buying property off-plan can be exciting: the promise of a brand new home to which you can add your own personal touches,
                                        choosing your preferred designs and specifications. In a rising property market, it can also prove a lucrative ..
                                    </p>
                                    <a href="/Resources/_Another_Rba_Rate" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>
                    
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="/Resources/_Another_Rba_Rate" class="imghover"><img src="~/Assets/images/MFA0019_Facebook_Locked.jpg" alt="Another RBA Rate Cut" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="/Resources/_Another_Rba_Rate" class="title">Don't Kill Competition </a></h2>
                                    <p class="meta"><span class="meta-date">2019-02-15</span></p>
                                    <p>
                                        Dear Australian homeowners and home buyers,   What would a world without Mortgage brokers look like? Possible
                                        legislation change threatens the mortgage broking industry, which could see all Australians having less access
                                        to smaller lenders and even less access to credit. As competition a...
                                    </p>
                                    <a href="/Resources/_Another_Rba_Rate" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>
                    
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="/Resources/_Another_Rba_Rate" class="imghover"><img src="~/Assets/images/Why some interest only borrowers.jpg" alt="Another RBA Rate Cut" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="/Resources/_Another_Rba_Rate" class="title">Why some Interest-Only Borrowers are keen to switch </a></h2>
                                    <p class="meta"><span class="meta-date">2019-01-18</span></p>
                                    <p>
                                        New government regulations mean interest-only loans are on the decline. Given the changes, it may be 
                                        time to reconsider your own loan structure. Rewind a few years and many ..
                                    </p>
                                    <a href="/Resources/_Another_Rba_Rate" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                    
















                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


