
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/Home/Index">Home</a></li>
                        <li class="active">Blog</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-grayblack pinside30">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-9 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">Priority</span> Blog</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="wrapper-content bg-grayblack pinside20 hip-grid" id="example">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="#" class="imghover"><img src="~/Assets/images/news/How to refinance to renovate.jpg" alt="Borrow - Loan Company Website Template" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="#" class="title">How to Refinance To Renovate</a></h2>
                                    <p class="meta"><span class="meta-date">2021-08-18</span></p>
                                    <p>
                                        Refinancing your assets to renovate a property is a significant decision that will hopefully improve your standard of living or add substantial value to your
                                    </p>
                                    <a href="#" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="#" class="imghover"><img src="~/Assets/images/news/Budgeting 2.jpg" alt="Borrow - Loan Company Website Template" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="#" class="title">Top Ways To Cut Expenses</a></h2>
                                    <p class="meta"><span class="meta-date">2021-06-25</span></p>
                                    <p>
                                        Is the key to saving a home deposit as simple as giving up smashed avo toast for breakfast? Well not quite, but spending less does make a difference.
                                    </p>
                                    <a href="#" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="#" class="imghover"><img src="~/Assets/images/news/Investment.jpg" alt="Borrow - Loan Company Website Templates" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="#" class="title">Rentvesting</a></h2>
                                    <p class="meta"><span class="meta-date">2021-06-25</span></p>
                                    <p>
                                        Enter the property market without sacrificing your current lifestyle. As property prices continue to rise, purchasing in a centrally-located or sought-after area is out of reach
                                    </p>
                                    <a href="#" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="#" class="imghover"><img src="~/Assets/images/news/pexels-sora-shimazaki-5668859.jpg" alt="Borrow - Loan Company Website Templates" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="#" class="title">Your First Meeting With A Broker</a></h2>
                                    <p class="meta"><span class="meta-date">2021-06-25</span></p>
                                    <p>

                                        There are lots of brokers around and there is a lot to learn. But there are many steps you can take to be confident that your appointment will be a success.
                                    </p>
                                    <a href="#" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="#" class="imghover"><img src="~/Assets/images/news/roselyn-tirado-GDWmu0bFfS4-unsplash.jpg" alt="Borrow - Loan Company Website Templates" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="#" class="title">Five Ways To Fund A Renovation</a></h2>
                                    <p class="meta"><span class="meta-date">2021-06-25</span></p>
                                    <p>
                                        Considering transforming your home from ‘banal’ to ‘brilliant’, but lack the funds to support your makeover? Never fear, we’ve rounded up five home renovation finance options that
                                    </p>
                                    <a href="#" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="#" class="imghover"><img src="~/Assets/images/news/2020 Christmas closure post.png" alt="Borrow - Loan Company Website Templates" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="#" class="title">2020 Christmas Office Closure Dates</a></h2>
                                    <p class="meta"><span class="meta-date">2021-06-25</span></p>
                                    <p>

                                        We would like to take this opportunity to thank our wonderful clients and associates for their support throughout 2020. Although it has been a challenging year
                                    </p>
                                    <a href="#" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="#" class="imghover"><img src="~/Assets/images/news/How the RBA rate.jpg" alt="Borrow - Loan Company Website Templates" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="#" class="title">How RBA rate changes affect your interest rate</a></h2>
                                    <p class="meta"><span class="meta-date">2021-06-25</span></p>
                                    <p>

                                        There are lots of brokers around and there is a lot to learn. But there are many steps you can take to be confident that your appointment will be a success.
                                    </p>
                                    <a href="#" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 hip-item">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="#" class="imghover"><img src="~/Assets/images/news/2020 Christmas closure post.png" alt="Borrow - Loan Company Website Templates" class="img-fluid"></a>
                                </div>
                                <div class="bg-grayblack pinside20 outline">
                                    <h2><a href="#" class="title">Another RBA Rate Cut!</a></h2>
                                    <p class="meta"><span class="meta-date">2019-07-02</span></p>
                                    <p>

                                        At its meeting today, the RBA board decided to lower the cash rate for the second month in a row by another 25 basis points to 1.00 per cent.

                                        Attention now turns to lenders, again, as we wait to see how this decision may affect..
                                    </p>
                                    <a href="#" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


