
@{
    ViewBag.Title = "Our_Dispute_Resolution_Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .grey-paragraph {
        background-color: #f1f1f2;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .red-paragraph {
        background-color: #ed193d;
        color: #FFF !important;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .zero {
        margin: 0px;
        padding: 0px;
    }
    .highlight {
        color: #ed1a3d;
    }

    .not-highlight {
        color: #00577f;
    }

    .bold-font {
        font-weight: 600;
    }
</style>
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="index.html">Resources</a></li>
                        <li class="active">Our Dispute Resolution Policy</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-white pinside30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="page-title">Our Dispute Resolution Policy</h1>
                        </div>
                        @*<div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="btn-action"> <a href="#" class="btn btn-default">How To Apply</a> </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                @*<div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Give me call back</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Emi Caculator</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-white ">
                    <div class="about-section pinside40">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 zero not-highlight">
                                <h1 style="text-align:center"><span class="highlight">Disputes or&nbsp;Complaints</span></h1>
                                <h2 >What to do if you have a dispute or complaint?</h2>
                                <p >We are committed to providing our customers with the best possible service. If at any time we have not met our obligations – or you have a complaint about any of our services – please inform us so we can work towards a resolution. We will endeavour to deal with your complaint promptly, thoroughly and fairly.</p>
                                <h2 >How to make a complaint and the complaint process?</h2>
                                <p >If you have a complaint, we request you follow these steps:</p>
                                <ol >
                                    <li>If your&nbsp;complaint is about your loan, in the first instance please contact your lender or credit assistance provider.</li>
                                </ol>
                                <ol start="2">
                                    <li>If your complaint has not been resolved to your satisfaction within 5 business days or if your loan is about the services we give you, please contact the Licensee through our Complaints Officer (Lorraine Coleman) via:</li>
                                </ol>
                                <ul >
                                    <li>Telephone: 02 6766 9727</li>
                                    <li>OR Email: <a class="not-highlight bold-font" href="mailto:lorraine@yourpriority.com.au">lorraine@yourpriority.com.au</a></li>
                                    <li>OR Mail: PO Box 1341, Tamworth, NSW, 2340</li>
                                </ul>
                                <h2 >Third Party Products or Services</h2>
                                <p>If your complaint relates to a product or service acquired through a third party (for example, a lender) we may ask you to contact the relevant third party. They will deal with your complaint under their complaints resolution process.</p>
                                <p>If you are not satisfied with the resolution of your complaint by the third party under their complaints resolution process, you are entitled to have your dispute considered by their External Dispute Resolution Scheme. Please contact the third party for further details.</p>
                                <h2>Keeping You Informed</h2>
                                <p>If you are not satisfied with the resolution of your complaint by the third party under their complaints resolution process, you are entitled to have your dispute considered by their External Dispute Resolution Scheme. Please contact the third party for further details.</p>
                                <p>We will acknowledge receipt of your complaint within five business days. If unable to resolve the complaint/dispute to your satisfaction within five business days, they will write to you advising the procedures we will follow in investigating and handling your complaint.</p>
                                <p>Within 45 calendar days from the date you lodged the complaint with us, we will write to you advising you the outcome of the investigation and the reason/s for our decision, or if required, we will inform you if more time is needed to complete the investigation.</p>
                                <h2>Still Not Satisfied?</h2>
                                <p>If you do not think we have resolved your complaint to your satisfaction, you may take the matter – free of charge – to the relevant External Disputes Resolution Scheme (provided it is within the scheme’s terms of reference) as detailed below. You may also refer the matter to the relevant External Disputes Resolution Scheme at any time, but if our internal process is still in progress, they may request that our internal processes be complete before considering the matter further.</p>
                                <p>Our external dispute resolution service provider is the Australian Financial Complaints Authority (AFCA), which can be contacted via:</p>
                                <ul>
                                    <li>Online: <a class="not-highlight bold-font" href="http://www.afca.org.au">www.afca.org.au</a></li>
                                    <li>Email: <a class="not-highlight bold-font"href="mailto:info@afca.org.au">info@afca.org.au</a></li>
                                    <li>Phone: 1800 931 678</li>
                                    <li>Mail: GPO Box 3 Melbourne VIC 3001</li>
                                </ul>
                                <p>Please note that&nbsp;our&nbsp;licensee’s previous external dispute resolution service provider, the Credit and Investment Ombudsman (CIO), is no longer accepting complaints. All compaints after 1st November 2018 must be directed to the Australian Financial Complaints Authority (AFCA).</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

