
@{
    ViewBag.Title = "_Rentvesting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
   .graphic {
       height: 100%;
   }

    
    .zero {
        margin: 0px;
        padding: 0px;
    }

    .bold-font {
        font-weight: 600;
    }

    .bolder-font {
        font-weight: 800;
    }
</style>


<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/OurService/Our_Services">Our Services</a></li>
                        <li><a href="/Resources/News">Blog</a></li>
                        <li class="active">Rentvesting</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-white pinside30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">Rent</span>vesting</h1>
                        </div>
                        @*<div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="btn-action"> <a href="#" class="btn btn-default">How To Apply</a> </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                @*<div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Give me call back</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Emi Caculator</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-grayblack ">
                    <div class="about-section pinside40">
                        <div class="row not-highlight">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 zero">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                        <h3 class="graphic"><img class="graphic"  src="~/Assets/images/Investment.jpg" alt="Rentvesting"></h3>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                        <h3><span class="highlight">Rentvesting - Enter the property market without sacrificing your current lifestyle </span></h3>
                                        <p>
                                            As property prices continue to rise, purchasing in a centrally-located or sought-after area
                                            is out of reach for the average working millennial. Instead, many are opting to rent rathe
                                            r than buy as it means not having to compromise their inner city or beachside lifestyle.
                                            But for those who are still eager to <a class="bold-font" href="/OurService/First_Home_Buyers" target="_blank">enter the market</a>, there
                                            is a way to get the best of both worlds.
                                        </p>
                                        <p>
                                            ‘Rentvesting’ is the term coined for when you purchase a property
                                            for <a class="bold-font" href="/OurService/Investment_Loans" target="_blank">investment purposes</a>
                                            in an affordable location and continue to live and rent in the area of your choice. An example of how the market
                                            is evolving, it is a wealth creation strategy that is popular among the younger generation due to the flexibility
                                            it offers in comparison to being an owner-occupier.
                                        </p>
                                    </div>
                                </div>
                                <p>
                                    We are realising that millennials aren’t interested in purchasing a property in the outer suburbs and then having
                                    to commute into the CBD everyday. However, rentvesting allows your rental income to cover the mortgage expenses,
                                    so you can keep living the lifestyle you want without it costing you any money.
                                </p>

                                <p>
                                    "For this strategy to work, you’ve got to be a good saver and there needs to be a focus
                                    on delayed gratification", our broker mentions. “It’s all about living within your means.
                                    Don’t spend big at the start while you’re building it up. Step away from the mentality of
                                    negative gearing and tax minimisation and buy neutrally, or ideally, a positively geared
                                    property as this provides higher rental yields.”
                                </p>

                                <p>
                                    'Rentvesting' has become increasingly popular within the past 4 years but while this strategy
                                    may appear ideal to many, it’s not suited to everybody.
                                </p>

                                <p>
                                    “It’s still a foreign way of thinking to a lot of people. In the past, the great Australian
                                    dream was to <a class="bold-font" href="/OurService/Home_Loans" target="_blank">buy a home</a>
                                    on a quarter acre block and then do everything you can to pay that down as fast as possible
                                    in the hope of living debt-free. ‘Rentvesting’ is quite the opposite. It says we’re okay with
                                    good debt as long as we stick to our budget and keep using the money to invest further. You’ve
                                    got to have an open mind and be comfortable with debt.”
                                </p>
                                <p>To ensure you have the means to make ‘rentvesting’ work for you, <a class="bold-font" href="/Contact/Index" target="_blank">contact</a> 
                                    one of our brokers for advice on good debt and other strategies that will allow you to maintain your current lifestyle.</p>
                                <p>
                                    <a class="bold-font" href="/Home/Index" target="_blank">Priority Home Loans</a> 
                                </p>

                                <p class="pa-margin">Hunter Coast Ph: 02 4967 5256</p>
                                <p class="pa-margin">Tamworth Ph: 02 6766 9727</p>
                                <p class="pa-margin">&nbsp;</p>
                                <a class="red-button" href="/Resources/News">Back to News</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


