
@{
    ViewBag.Title = "_Thinking_Of_Buying";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    .red-button {
        background-color: #ed193d;
        display: inline-block;
        color: #FFF !important;
        padding: 10px 10%;
        font-weight: bold;
    }

    /*.pa-margin {
        margin: 0px 0 13px;
        line-height: 1.2;
        font-weight: 100;
    }*/

    .grey-paragraph {
        background-color: #f1f1f2;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .red-paragraph {
        background-color: #ed193d;
        color: #FFF !important;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .zero {
        margin: 0px;
        padding: 0px;
    }

    .highlight {
        color: #ed1a3d;
    }

    .not-highlight {
        color: #00577f;
    }

    .bold-font {
        font-weight: 600;
    }

    .bolder-font {
        font-weight: 800;
    }
</style>


<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/OurService/Our_Services">Our Services</a></li>
                        <li><a href="/Resources/News">Blog</a></li>
                        <li class="active">Thinking of buying off the plan? Read this first.</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-grayblack pinside30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">Thinking of buying</span> off the plan? Read this first.</h1>
                        </div>
                        @*<div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="btn-action"> <a href="#" class="btn btn-default">How To Apply</a> </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                @*<div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Give me call back</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Emi Caculator</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-grayblack ">
                    <div class="about-section pinside40">
                        <div class="row not-highlight">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 zero">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <img class="display-left graphic" src="~/Assets/images/Thinking of buying off the plan.jpg" alt="Thinking of buying off the plan">
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <p>
                                            Buying property off-plan can be exciting: the promise of a brand new
                                            home to which you can add your own personal touches, choosing your
                                            preferred designs and specifications. In a rising property market,
                                            it can also prove a lucrative investment – but not always. If you’re
                                            considering it, be prepared and ask yourself these five questions first.
                                        </p>
                                        <p class="highlight">
                                            1. Do you know the risks?
                                        </p>
                                        <p>
                                            When things go well, buyers purchase in a rising property market at
                                            today’s prices, and in a year or two’s time (when construction is complete)
                                            the property is worth more than they paid. However, there are inherent risks
                                            in buying real estate that’s yet to be built. Consider the following scenarios:
                                        </p>
                                    </div>
                                </div>


                                <ul>
                                    <li>
                                        <span class="bold-font">The property market falls:</span> In the years it takes to build the property,
                                        the economic landscape can change considerably. Tighter lending policies, higher interest rates or an
                                        oversupply in the area could lead to falling prices. If this happens, the property won’t be worth what
                                        you agreed to pay for it on completion. A lender won’t fund this gap, so you might well have to make up
                                        the shortfall yourself.
                                    </li>
                                    <li>
                                        <span class="bold-font">Your personal situation changes:</span> Anything can happen in the years
                                        between putting down a deposit and build completion. Regardless of your personal or financial circumstances,
                                        you’ll probably still be contractually obliged to settle.
                                    </li>
                                    <li>
                                        <span class="bold-font">The developer fails to deliver:</span>&nbsp;Despite the slick marketing,
                                        the developer may disappoint: the property may not be finished to the standard you expect, construction
                                        may be delayed or, in a worst-case scenario, the build may be left unfinished (if the developer goes bankrupt, for example).
                                    </li>
                                </ul>

                                <p class="highlight">
                                    2. Does your contract limit the risks?
                                </p>

                                <p>
                                    It’s very important to secure legal advice from a solicitor experienced in off-the-plan property purchases before you sign anything.
                                </p>

                                <p>
                                    Your contract should cover everything from price and completion date to legal rights and conditions, such as:
                                </p>

                                <ul>
                                    <li>What happens if the property is worth less at completion than the agreed price</li>
                                    <li>What happens to your deposit if the building does not go ahead</li>
                                    <li>What happens if construction or completion is delayed</li>
                                    <li>Whether you can specify the quality of brands for fixtures and fittings</li>
                                </ul>


                                <p class="highlight">
                                    3. Who is the builder or developer?
                                </p>

                                <p>
                                    Before you commit to buy, it’s important to discover whether or not the developer is reputable,
                                    so undertake some thorough research to help you establish their track record. Questions to ask include:
                                </p>

                                <ul>
                                    <li>How long have they been in the industry?</li>
                                    <li>How many properties have they completed?</li>
                                    <li>Did they deliver on time?</li>
                                    <li>How satisfied are their previous clients?</li>
                                    <li>What is the quality of their workmanship?</li>
                                </ul>

                                <p>
                                    It’s a good idea to physically visit some properties and any display homes and
                                    get a reference from previous clients. Visit the website and use online forums to
                                    find company reviews and additional information.
                                </p>

                                <p class="black-paragraph" style="text-align: center">
                                    It’s also advisable to find out what you can about the company’s financial position.
                                    Will they disclose any information about their solvency? Where is funding coming from?
                                    How many pre-sales have they made for this development?
                                </p>

                                <p>
                                    Additionally, consider whether or not you want to work with them. How much input can
                                    you have during construction? Are you able to make site visits, amend finishes and select
                                    appliances? What happens if the builder makes changes without telling you? Make sure you
                                    can have the working relationship you want.
                                </p>


                                <p><span class="highlight bold-font">4. Are you eligible for government grants and concessions?</span></p>
                                <p>
                                    While one of the best things about buying off-plan may be owning a shiny new property,
                                    there may also be stamp duty concessions or government grants available to you. There are
                                    first homeowner grants for new property that can be as much as $20,000, depending on your&nbsp;
                                    <a class="bold-font" href="http://www.firsthome.gov.au/">state or territory</a>. Check your eligibility.
                                </p>


                                <p><span class="highlight bold-font">5. Are you financially ready to buy off the plan?</span></p>
                                <p>
                                    You’ll usually need a deposit to secure the property with the balance payable on
                                    settlement. Because of the longer waiting period between exchange of contracts and settlement,
                                    those requiring loan pre-approval should check when approval can be obtained.
                                </p>

                                <p>
                                    While there are some risks when buying off the plan, being prepared, asking the right
                                    questions and talking to your mortgage broker about finances can help you enjoy the benefits
                                    of your very own brand new home.
                                </p>

                                <p>
                                    If you're thinking of buying a property 'Off the plan',
                                    <span class="highlight"><a href="/Contact/Index" target="_blank">contact us</a></span> so we can assist you with any finance questions.
                                </p>

                                <p>
                                    <span class="bolder-font">Sources</span><br>
                                    <a href="http://www.fairtrading.nsw.gov.au/ftw/Tenants_and_home_owners/Buying_property/Buying_off_the_plan.page" target="_blank">
                                        http://www.fairtrading.nsw.gov.au/ftw/Tenants_and_home_owners/Buying_property/Buying_off_the_plan.page
                                    </a>
                                </p>

                                <p>
                                    <a href="http://www.sro.vic.gov.au/plan-sales-concession" target="_blank"> http://www.sro.vic.gov.au/plan-sales-concession </a>
                                </p>

                                <p>
                                    <a href="https://www.qld.gov.au/law/housing-and-neighbours/buying-and-selling-a-property/buying-a-home/ways-to-buy-your-home/buying-off-the-plan/" target="_blank"> https://www.qld.gov.au/law/housing-and-neighbours/buying-and-selling-a-property/buying-a-home/ways-to-buy-your-home/buying-off-the-plan/ </a>
                                </p>

                                <p>
                                    <a href="http://www.yourinvestmentpropertymag.com.au/buying-property/the-trick-to-buying-off-the-plan-148257.aspx" target="_blank"> http://www.yourinvestmentpropertymag.com.au/buying-property/the-trick-to-buying-off-the-plan-148257.aspx </a>
                                </p>

                                <p>
                                    <a href="http://www.firsthome.gov.au/" target="_blank"> http://www.firsthome.gov.au </a>
                                </p>

                                <p>
                                    © Advantedge Financial Services Holdings Pty Ltd ABN 57 095 300 502. This article provides general information
                                    only and may not reflect the publisher’s opinion.&nbsp; None of the authors, the publisher or their employees
                                    are liable for any inaccuracies, errors or omissions in the publication or any change to information in the
                                    publication.&nbsp; This publication or any part of it may be reproduced only with the publisher’s prior
                                    permission.&nbsp; It was prepared without taking into account your objectives, financial situation or
                                    needs.&nbsp; Please consult your financial adviser, broker or accountant before acting on information
                                    in this publication.
                                </p>

                                <a class="red-button" href="/Resources/News">Back to News</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>







