
@{
    ViewBag.Title = "_Three_Key_Triggers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .red-button {
        background-color: #ed193d;
        display: inline-block;
        color: #FFF !important;
        padding: 10px 10%;
        font-weight: bold;
    }

    /*.pa-margin {
        margin: 0px 0 13px;
        line-height: 1.2;
        font-weight: 100;
    }*/

    .grey-paragraph {
        background-color: #f1f1f2;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .red-paragraph {
        background-color: #ed193d;
        color: #FFF !important;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .zero {
        margin: 0px;
        padding: 0px;
    }

    .highlight {
        color: #ed1a3d;
    }

    .not-highlight {
        color: #00577f;
    }

    .bold-font {
        font-weight: 600;
    }

    .bolder-font {
        font-weight: 800;
    }
</style>


<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/OurService/Our_Services">Our Services</a></li>
                        <li><a href="/Resources/News">Blog</a></li>
                        <li class="active">Three Key Triggers Telling You To Get A Depreciation Schedule</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-grayblack pinside30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">Three Key Triggers</span> Telling You To Get A Depreciation Schedule</h1>
                        </div>
                        @*<div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="btn-action"> <a href="#" class="btn btn-default">How To Apply</a> </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                @*<div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Give me call back</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Emi Caculator</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-grayblack ">
                    <div class="about-section pinside40">
                        <div class="row not-highlight">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 zero">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <img class="display-left graphic" src="~/Assets/images/Depreciation schedule.jpg" alt="Your Property Investing Checklist">
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <p>Thank you to <a class="highlight bolder-font" href="https://www.mcgqs.com.au/" target="_blank">MCG Quantity Surveyors</a>&nbsp;for providing&nbsp;this blog post.</p>
                                        <p>
                                            Every year people complain about Easter eggs being in the shops already in February,
                                            it’s one of those perennial water cooler topics like the magpie swooping season.
                                            Tax time is no different and for my part, I wish I wasn’t droning on about the end
                                            of the financial year approaching every year, but my insatiable thirst for saving
                                            people money takes precedence.
                                        </p>
                                        <p>
                                            The depreciation party isn’t over, but the game has changed. It wasn’t my idea to
                                            call it a party either, can you imagine it? Elbow pads, corduroy trousers and juice
                                            boxes as far as the eye can see. Anyway, I digress.
                                        </p>

                                    </div>
                                </div>

                                <p>
                                    The changes have tightened the reins on depreciation, but our statistics are still showing
                                    there’s value in all but the rarer cases. I’m often asked how to categorically tell if it’s
                                    worthwhile having a depreciation schedule. The standard question is something along the lines
                                    of “Can we say for example, that if the property was built in the 60s it won’t be worthwhile?”
                                    The answer is no, you can’t. We’ll get to that in a moment.
                                </p>
                                <p>Let’s start with a way you can all but guarantee that you need a depreciation schedule.</p>
                                <h3><span class="highlight bold-font">1. The property commenced construction after the 16th&nbsp;of September 1987</span></h3>
                                <p>
                                    If the property was built after this date, it means that you’ll be able to claim depreciation
                                    deductions on the value of the original building structure. These deductions are referred to
                                    as division 43 if you want to get nerdy. It’s a key trigger because worst case scenario, the
                                    report is going to be paying for itself.
                                </p>
                                <p>
                                    Let’s run some calculations. We’ve crunched the numbers from our database of landlords and found
                                    that the average build cost for a new investment property is $267,000. If we roughly index that
                                    back to say 1988 (because the cost to build back in 1988 was cheaper than today) you’re looking
                                    at a build cost of $102,000. Now some of that value would be plant and equipment, so we can
                                    conservatively knock off around $20,000 leaving us with $82,000 of qualifying division 43 building
                                    works. This will give you $2,050 worth of deductions each year until the year 2028, no matter when
                                    you bought the building.
                                </p>
                                <h3><span class="highlight bold-font">2. The property has been extended, had a new kitchen and bathroom after the 16th of September 1987</span></h3>
                                <p>
                                    Like the above, but based on the improvements, you’ll be able to claim 2.5% of the value of the
                                    new building works/renovations each year from the date of completion for 40 years, whether the
                                    works were done by the previous owner or yourself. Therefore, you cannot simply say that a property
                                    built in the 60s won’t be worthwhile. Regardless, people are given this dodgy advice daily.
                                    So, the original structure won’t qualify if built before the 1987 date, but the renovations will
                                    if after 1987 (structural things like paths &amp; fences would need to be after 26th&nbsp;of February 1992).
                                    The trick now is knowing the rough value of the work being done. For every $100,000 worth of building
                                    renovations, you’re able to claim $2,500 of deductions each year. A quantity surveyor would need to
                                    estimate the value of these works if they were done by the previous owner, but anything over around
                                    $40,000 is likely to produce some worthwhile claims and most people can spot a spend of $40,000 on
                                    a kitchen and bathroom when they see it. If you’re not sure, ask a quantity surveyor.
                                </p>
                                <h3><span class="highlight bold-font">3. You bought the property brand new</span></h3>
                                <p>
                                    Sounds simple, stupid even right? However, we’re still doing depreciation schedules for people
                                    that bought new properties and waited too many years to have one done and will subsequently not
                                    be able to back claim far enough to capture everything. The trick now with the depreciation
                                    changes is that if you bought after the 9 th of May 2017, you’ll kill the plant and equipment
                                    deductions if you ever decide to move in (plant items are things like carpets, appliances,
                                    heaters and the like). Also, if you bought prior to the 2017 budget, the property needed to
                                    be a rental in the 2016/2017 financial year. This is exactly why my blood boils when people
                                    say that you’re simply grandfathered if you bought prior to the 9 th of May 2017. Not if you
                                    moved straight in and kept living in it that year you’re not!
                                </p>
                                <p>
                                    I’ll wrap it up here owing to my indulgent introduction, but these are probably the simplest
                                    three triggers that point you in the direction of a depreciation schedule because it will save
                                    you money. There are plenty of odd cases and nuances, so an enquiry is always worth the cost of
                                    a bit of your time, but if you fall under any of these three categories, tax time might be
                                    a little more rewarding for you this year.
                                </p>

                                <p>A special thanks&nbsp;to <a class="highlight bold-font" href="https://www.mcgqs.com.au/" target="_blank">MCG Quantity Surveyors</a>&nbsp;for providing&nbsp;this blog post.</p>

                                <p>&nbsp;</p>
                                <a class="red-button" href="/Resources/News">Back to News</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>





