
@{
    ViewBag.Title = "_Top_Ways_To_Cut_Expenses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .red-button {
        background-color: #ed193d;
        display: inline-block;
        color: #FFF !important;
        padding: 10px 10%;
        font-weight: bold;
    }

    /*.pa-margin {
        margin: 0px 0 13px;
        line-height: 1.2;
        font-weight: 100;
    }*/

    .grey-paragraph {
        background-color: #f1f1f2;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .red-paragraph {
        background-color: #ed193d;
        color: #FFF !important;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .zero {
        margin: 0px;
        padding: 0px;
    }

    .highlight {
        color: #ed1a3d;
    }

    .not-highlight {
        color: #00577f;
    }

    .bold-font {
        font-weight: 600;
    }

    .bolder-font {
        font-weight: 800;
    }
</style>


<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/OurService/Our_Services">Our Services</a></li>
                        <li class=""><a href="/Resources/News">Blog</a></li>
                        <li class="active">Top Ways To Cut Expenses And Increase Savings For Your House Deposit</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-grayblack pinside30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">Top Ways To Cut Expenses</span> And Increase Savings For Your House Deposit</h1>
                        </div>
                        @*<div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="btn-action"> <a href="#" class="btn btn-default">How To Apply</a> </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                @*<div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Give me call back</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Emi Caculator</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-grayblack ">
                    <div class="about-section pinside40">
                        <div class="row bg-white ">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 zero">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <img class="display-left graphic" src="~/Assets/images/Budgeting 2.jpg" alt="Top Ways To Cut Expenses And Increase Savings For Your House Deposit">
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <p><span class="highlight bolder-font">Top Ways To Cut Your Expenses And Increase Your Savings</span></p>
                                        <p>Is the key to saving a home deposit as simple as giving up smashed avo for breakfast? Well not quite, but spending less does make a difference.</p>
                                        <p>On top of a budget, a savings plan and strategies such as a high-interest savings account, an effective way to save is to reduce or eliminate expenses.</p>
                                        <p><span class="highlight bolder-font">Start by understanding your spend</span></p>
                                        <p>It can be easy to lose track of how you’re spending money, especially due to cashless payments and credit cards.</p>
                                    </div>
                                </div>

                                <p>
                                    Many online banking systems include tools to categorise debits and make a budget – take advantage of them. Or download an app that helps you
                                    track your personal expenses on the go, like <a class="bold-font" href="https://moneysmart.gov.au/budgeting/budget-planner" target="_blank">ASIC’s Budget Planner</a>,
                                    or our <a class="bold-font" href="/Resources/Calculators" target="_blank">Priority Home Loans Budget Planner</a>.
                                </p>
                                <p class="pa-margin">&nbsp;</p>
                                <p><span class="bold-font">Find savings in the essentials</span></p>
                                <p>Some costs can’t be avoided – but many everyday expenses can be reduced. For example you could:</p>
                                <ul>
                                    <li class="text-white">Move in with your parents/relatives, or move into a cheaper rental or share house (short-term discomfort can pay off in the long term).</li>
                                    <li class="text-white">Implement tactics like meal planning, making grocery lists and buying in bulk to save money on food. Set aside a budget for eating out/take-away and stick to it.</li>
                                    <li class="text-white">Shop around to reduce your regular bills – you may get better value if you switch, or tell current providers you intend to switch. Seek discounts for taking out multiple policies with one insurer.</li>
                                    <li class="text-white">Use the car less: take public transport; carpool with colleagues; or try walking or riding. You’ll be amazed at how quickly it all adds up to savings.</li>
                                </ul>
                                <p>Make sure you’re paying off debts or credit cards completely each month or as much as possible, to avoid the added expense of paying interest.</p>
                                <p><span class="bold-font">Reduce common overspending</span></p>
                                <p>If you spend excessively on things like buying clothes, going out or expensive hobbies, it may be unrealistic to cut the expense entirely. Set a weekly or monthly limit and reduce that limit over time.</p>
                                <p>A survey of more than 1000 Australians showed that 73 per cent have a problem with overspending. In particular, people tend to go overboard when Christmas rolls around.</p>
                                <p>To reduce gift expenses, be like Santa: make a list (and a budget). Buy only planned items within your allocated budget – then stop! Ask your family for support; it’s easier to put a cap on gift values if everyone else does too.</p>
                                <p>Another common way Aussies overspend is on holidays. Commbank research&nbsp;has shown that a third of holidaymakers spent more on their trip than planned. Do your research and set a daily budget.</p>
                                <p><span class="bold-font">Costs that could be eliminated</span></p>
                                <p>Look for opportunities to eliminate costs. Cancel unused services. Update your internet or mobile plans if you’re always paying for excess data.</p>
                                <p>Ask yourself: are you really using that gym membership? Are you getting value from your subscriptions? Remember, every wasted dollar is money you could be spending on your own home.</p>



                                <p>
                                    Get in touch with <a class="bold-font" href="/Contact/Index" target="_blank">Priority Home Loans</a> to find out how&nbsp;you can cut your
                                    expenses and&nbsp;assist in saving for a <a class="bold-font" href="/OurService/Home_Loans" target="_blank">home loan</a>.
                                </p>

                                <p class="pa-margin">Hunter Coast Ph: 02 4967 5256</p>
                                <p class="pa-margin">Tamworth Ph: 02 6766 9727</p>
                                <p class="pa-margin">&nbsp;</p>
                                <a class="red-button" href="/Resources/News">Back to News</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

