
@{
    ViewBag.Title = "_What_To_Consider";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .red-button {
        background-color: #ed193d;
        display: inline-block;
        color: #FFF !important;
        padding: 10px 10%;
        font-weight: bold;
    }

    /*.pa-margin {
        margin: 0px 0 13px;
        line-height: 1.2;
        font-weight: 100;
    }*/

    .grey-paragraph {
        background-color: #d49f24;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .red-paragraph {
        background-color: #ed193d;
        color: #FFF !important;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .zero {
        margin: 0px;
        padding: 0px;
    }

    .highlight {
        color: #ed1a3d;
    }

    .not-highlight {
        color: #00577f;
    }

    .bold-font {
        font-weight: 600;
    }

    .bolder-font {
        font-weight: 800;
    }
</style>


<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/OurService/Our_Services">Our Services</a></li>
                        <li><a href="/Resources/News">Blog</a></li>
                        <li class="active">What to consider when buying a second property</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-grayblack pinside30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">What to consider</span> when buying a second property</h1>
                        </div>
                        @*<div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="btn-action"> <a href="#" class="btn btn-default">How To Apply</a> </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                @*<div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Give me call back</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Emi Caculator</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-grayblack ">
                    <div class="about-section pinside40">
                        <div class="row highlight">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 zero">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <img class="display-left graphic" src="~/Assets/images/What to consider when buying a second property.jpg" alt="What to consider when buying a second property">
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <p >
                                            Buying your own home remains the great Australian dream – and purchasing a
                                            second property may help you take your wealth further. Whether you’re building
                                            your property investment portfolio, buying a holiday house or supporting a family
                                            member, there are plenty of things to think about before you take that next step.
                                        </p>
                                        <p class="highlight">
                                            Consider your cashflow
                                        </p>
                                        <p >
                                            Property tends to be a long-term investment, so do your sums to make sure you can
                                            afford the additional repayments. If you are still paying off your exisitng home
                                            loan, you may also want to consider refinancing. This may help you to find a more
                                            competitive interest rate, save on annual or monthly fees and structure the debt
                                            to suit your immediate and future plans. <a href="/Contact/Index" target="_blank">Priority Home Loans</a> can assist
                                            you with this. Think about any major life changes on the horizon. For example, you may be
                                            planning to expand your family, or you might need to support a parent in the coming years.
                                        </p>

                                    </div>
                                </div>
                                <p class="highlight">
                                    Get to know the market and location
                                </p>
                                <p >
                                    Research what’s happening in the current market and whether it’s the right
                                    time for you to buy. Get to know the area you’re considering by speaking to
                                    local residents and real estate agents. It’s also wise to look into the short
                                    and long-term planning for the area. For example, nearby construction may affect
                                    your ability to find a tenant.
                                </p>

                                <p class="highlight">
                                    Investigate before you invest
                                </p>
                                <p >
                                    If you’re buying a property as an investment, carefully consider its location. Buying
                                    in a high-demand area is likely to see you enjoy a constant flow of income from the rent.
                                </p>
                                <p s>
                                    You’ll need to provide your lender with a rental estimate letter, which you can get from
                                    the agent managing the property. Keep in mind that generally lenders only take 50–80% of
                                    the rental income into account when calculating whether you can afford the loan.
                                </p>

                                <p class="highlight">
                                    Choose the right mortgage
                                </p>
                                <p >
                                    The amount you can borrow and the type of loan you choose will depend on various factors, 
                                    including the equity in your current home, your income and expenses, and your property 
                                    valuation. It helps to get quality advice on the right mortgage for you, along with other
                                    considerations such as negative gearing, and how to structure your loan to maximise tax
                                    effectiveness.
                                </p>
                                <p>
                                    Whatever your reason for considering a second property, being well-informed will ensure a smoother purchasing
                                    process and a financially secure future. <a href="/Contact/Index" target="_blank">Contact </a>Priority Home Loans
                                    to speak with one of our MFAA accredited Finance Brokers.
                                </p>

                                <p style="text-align: justify">
                                    Information sourced from:
                                    <a href="https://www.apra.gov.au/media-centre/media-releases/apra-proposes-amending-guidance-mortgage-lending">
                                        https://www.apra.gov.au/media-centre/media-releases/apra-proposes-amending-guidance-mortgage-lending
                                    </a>
                                </p>

                                <p>&nbsp;</p>
                                <a class="red-button" href="/Resources/News">Back to News</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>











