
@{
    ViewBag.Title = "_When_Is_The_Best";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    .red-button {
        background-color: #ed193d;
        display: inline-block;
        color: #FFF !important;
        padding: 10px 10%;
        font-weight: bold;
    }

    /*.pa-margin {
        margin: 0px 0 13px;
        line-height: 1.2;
        font-weight: 100;
    }*/

    .grey-paragraph {
        background-color: #f1f1f2;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .red-paragraph {
        background-color: #ed193d;
        color: #FFF !important;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .zero {
        margin: 0px;
        padding: 0px;
    }

    .highlight {
        color: #ed1a3d;
    }

    .not-highlight {
        color: #00577f;
    }

    .bold-font {
        font-weight: 600;
    }

    .bolder-font {
        font-weight: 800;
    }
</style>


<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/OurService/Our_Services">Our Services</a></li>
                        <li><a href="/Resources/News">Blog</a></li>
                        <li class="active">When is the best time to refinance your home loan?</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-grayblack pinside30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">When is the best</span> time to refinance your home loan?</h1>
                        </div>
                        @*<div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="btn-action"> <a href="#" class="btn btn-default">How To Apply</a> </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                @*<div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Give me call back</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Emi Caculator</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-grayblack ">
                    <div class="about-section pinside40">
                        <div class="row not-highlight">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 zero">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <img class="display-left graphic" src="~/Assets/images/When is the best time to refinance.jpg" alt="Property inspection checklist">
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <p>
                                            As a home owner with a mortgage, chances are you’ve heard of the term
                                            'refinancing'. Refinancing involves reviewing your current mortgage,
                                            and potentially swapping your loan to another lender who can better
                                            meet your current needs, wants and circumstances.
                                        </p>
                                        <p>
                                            Refinancing can also allow you to consolidate your debts or pay down your mortgage more quickly.
                                        </p>
                                        <p>
                                            Another common reason borrowers look to refinance is so that they can access equity – the amount you'd
                                            get from selling your home after settling any associated loans, such as a mortgage on that property, and
                                            any other costs associated with the property. Depending on that amount, you may be able to access equity
                                            in the property without having to sell it, for example, to make home renovations or to buy an investment
                                            property.
                                        </p>
                                    </div>
                                </div>


                                <p>
                                    However, refinancing is not suited to everyone. There are many different factors
                                    you will need to consider when thinking about refinancing a loan. Before you
                                    initiate an application to refinance, your broker will need to assess your needs
                                    and objectives as well as your current financial situation.
                                </p>

                                <p>
                                    So how will you know that refinancing is the right option for you?
                                </p>

                                <p>
                                    The first step is to speak to a professional, such as a mortgage broker,
                                    about your needs and whether you can afford a different loan structure or
                                    other change to your mortgage, particularly if you have more than one property.
                                </p>



                                <p><span class="highlight bold-font">Are you looking to pay less interest?</span></p>
                                <p>
                                    Some people are savvy researchers and will want to take advantage of a lower interest
                                    rate from another lender should that be available to reduce repayments. If you aim for
                                    a lower interest rate, this could potentially save you a lot of money in the long term.
                                </p>

                                <p>
                                    While saving money is often one of the biggest benefits of refinancing,
                                    it may not be as straightforward as that and careful consideration is required.
                                </p>

                                <p>
                                    At this point, the broker will need to find out about your existing loan, repayments and current loan structure.
                                </p>

                                <p>
                                    Your mortgage broker will also need to find out more about your current
                                    financial situation, including your income, any other current debts and
                                    about any assets you own.
                                </p>

                                <p>
                                    The current value of the property is also taken into consideration, so
                                    your broker will have access to current data that will indicate what
                                    your property is likely to be worth.
                                </p>

                                <p>
                                    The broker will then review the various loan options and figure out whether
                                    it’s worth it for you to refinance. Sometimes it’s not worth it if it’s only
                                    going to save a couple of hundred dollars a year, particularly when you take
                                    into consideration the exit and application fees involved. But if it’s going
                                    to save upward of $1,000 a year, refinancing might be a sensible approach.
                                </p>

                                <p>
                                    In some cases, the mortgage broker can tell you if getting a lower interest rate from your current lender can be achieved without refinancing.
                                </p>

                                <p><span class="highlight bold-font">Do you want to change your loan type?</span></p>
                                <p>
                                    One of the risks of refinancing your home loan is that you may need to pay Lender’s
                                    Mortgage Insurance (LMI)* to your new lender. If switching your loan means you will
                                    need to pay LMI again, it may not be worth refinancing.
                                </p>

                                <p>
                                    If you do decide to go down the refinancing path, working with a broker rather than going straight to a lender has advantages.
                                    Broker’s generally have access to loan options from a range of different lenders (on average 34 lenders), and if there’s a better
                                    opportunity for you, they’re usually able to access it.
                                </p>

                                <p>
                                    It is important to consider that when you take up a new home loan, it
                                    can incur exit fees and may not have all the features your existing home
                                    loan has.
                                </p>

                                <p><span class="highlight bold-font">Have your circumstances changed?</span></p>
                                <p>
                                    If you had a recent major life change such as a because of a loss of income or a change in marital status, you might be looking to refinance.
                                </p>

                                <p>
                                    If you want to refinance to lower lending costs to help you manage your monthly repayments, speak to your
                                    mortgage broker who can negotiate with your current lender for a rate suitable to your current situation.
                                </p>

                                <p>
                                    Your broker can also help you look at alternate options to consolidate your personal loans and credit cards into the one loan. This could
                                    help you in lowering your monthly repayments, or help you keep your repayments on time and even save you interest in the long-term. The
                                    key is to speak to a MFAA accredited mortgage broker who usually has access to many lenders and their products and has the expertise
                                    to help you through the refinance application process.
                                </p>

                                <p><a href="/Contact/Index" target="_blank">Contact </a>us today for a home loan review.</p>
                                <p>&nbsp;</p>
                                <p><em>*LMI protects the lender against potential loss.&nbsp;</em></p>
                                <p>&nbsp;</p>
                                <a class="red-button" href="/Resources/News">Back to News</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>





