
@{
    ViewBag.Title = "_Why_Should_I_Make";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .red-button {
        background-color: #ed193d;
        display: inline-block;
        color: #FFF !important;
        padding: 10px 10%;
        font-weight: bold;
    }

    /*.pa-margin {
        margin: 0px 0 13px;
        line-height: 1.2;
        font-weight: 100;
    }*/

    .grey-paragraph {
        background-color: #f1f1f2;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .red-paragraph {
        background-color: #ed193d;
        color: #FFF !important;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .zero {
        margin: 0px;
        padding: 0px;
    }

    .highlight {
        color: #ed1a3d;
    }

    .not-highlight {
        color: #00577f;
    }

    .bold-font {
        font-weight: 600;
    }

    .bolder-font {
        font-weight: 800;
    }
</style>


<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/OurService/Our_Services">Our Services</a></li>
                        <li><a href="/Resources/News">Blog</a></li>
                        <li class="active">Why should I make extra repayments on my Home Loan?</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-grayblack pinside30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">Why should I</span> make extra repayments on my Home Loan?</h1>
                        </div>
                        @*<div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="btn-action"> <a href="#" class="btn btn-default">How To Apply</a> </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                @*<div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Give me call back</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Emi Caculator</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-grayblack ">
                    <div class="about-section pinside40">
                        <div class="row not-highlight">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 zero">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <img class="display-left graphic" src="~/Assets/images/Can I make extra repayments.jpg" alt="Can I make extra repayments">
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <p><span class="highlight bold-font">Lenders Mortgage Insurance</span></p>
                                        <p>
                                            Making extra repayments on your home loan can be a clever financial strategy.
                                            Investing your extra cash into your home can speed up your loan’s life cycle,
                                            with the added benefit of saving money in the long run. However, care must be
                                            taken to ensure that extra repayments are planned and the right type of loan
                                            taken out to allow for them.
                                        </p>
                                        <p>
                                            Every reduction in a loan’s principal balance reduces the
                                            interest paid for the life of the loan, meaning that extra repayments aren’t
                                            just a ‘pat yourself on the back’ moment. They are a way to save serious amounts
                                            of cash. By increasing your&nbsp;repayment, you may be able to&nbsp;cut a 30-year
                                            loan term in half and save hundreds of thousands of dollars. Take a look at our
                                            interactive <a href="/Extra-Repayment-Calculator" target="_blank">Extra Repayment Calculator</a> to
                                            estimate how much you could save.
                                        </p>
                                    </div>
                                </div>
                                <p style="text-align: center;">
                                    <a class="red-button" href="/Extra-Repayment-Calculator" target="_blank">Extra Repayment Calculator</a>
                                </p>
                                <p>
                                    Most borrowers will, over the course of their careers, find themselves with higher
                                    earning potential as the years roll by. Having the option to pay more off your home
                                    loan as your cash flow increases offers a firmer grip on financial freedom, so it is
                                    important to consider what type of loan will suit you best if you intend to make extra
                                    repayments in the future, as not all loans offer this facility.
                                </p>
                                <p>“Generally speaking, almost every basic variable or variable-rate product will allow extra repayments,” says the broker.</p>
                                <p>You may be able to make extra repayments on a fixed-term loan, but there will usually be other restrictions involved.</p>
                                <p>
                                    “There are some fixed-rate loans that allow additional repayment,” says the broker.
                                    “The limitation there is that most fixed-rate loans don’t allow any redraw.”
                                </p>
                                <p class="black-paragraph" style="text-align: center;">
                                    It is advisable to ensure that extra repayments
                                    are built into your home loan structure if you plan on paying more than your monthly minimum,
                                    to ensure that you don’t get tripped up on break fees.
                                </p>
                                <p>
                                    <span>
                                        If you're using a finance broker, remember to tell them about your future plans
                                        and advise them if you plan to make additional repayments on your loan. If this is your plan, it is
                                        important to structure your loan in a way that enables additional repayments without limitation.
                                    </span>
                                </p>
                                <p>
                                    Choosing a home loan that will allow you to make extra repayments should be a decision
                                    made with your other liabilities in mind, too. For instance, if one of your other debts
                                    is incurring higher interest, it makes more financial sense to pay that off sooner. You
                                    may also want to wipe off a separate debt completely to improve your cash flow.
                                </p>
                                <p>
                                    These are important considerations, as choosing a variable rate home loan may end
                                    up costing you more if you don’t follow through with making extra repayments due
                                    to more pressing financial liabilities.
                                </p>
                                <p>
                                    <span class="highlight">
                                        Priority Home Loans
                                    </span> can assist you in finding&nbsp;a loan that matches your current needs and future plans.
                                    <a href="/Contact/Index" target="_blank">Contact us</a> to make an appointment with one of our MFAA Accredited Finance Brokers.
                                </p>

                                <a class="red-button" href="/Resources/News">Back to News</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


