
@{
    ViewBag.Title = "_Why_Some_Interest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    .red-button {
        background-color: #ed193d;
        display: inline-block;
        color: #FFF !important;
        padding: 10px 10%;
        font-weight: bold;
    }

    /*.pa-margin {
        margin: 0px 0 13px;
        line-height: 1.2;
        font-weight: 100;
    }*/

    .grey-paragraph {
        background-color: #f1f1f2;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .red-paragraph {
        background-color: #ed193d;
        color: #FFF !important;
        padding: 20px 3%;
        margin: 20px 0;
        font-weight: 500;
        font-size: 18px;
    }

    .zero {
        margin: 0px;
        padding: 0px;
    }

    .highlight {
        color: #ed1a3d;
    }

    .not-highlight {
        color: #00577f;
    }

    .bold-font {
        font-weight: 600;
    }

    .bolder-font {
        font-weight: 800;
    }
</style>


<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/OurService/Our_Services">Our Services</a></li>
                        <li><a href="/Resources/News">Blog</a></li>
                        <li class="active">Why some Interest-Only Borrowers are keen to switch</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-grayblack pinside30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">Why some Interest-Only</span> Borrowers are keen to switch</h1>
                        </div>
                        @*<div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="btn-action"> <a href="#" class="btn btn-default">How To Apply</a> </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                @*<div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Give me call back</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Emi Caculator</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-grayblack ">
                    <div class="about-section pinside40">
                        <div class="row not-highlight">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 zero">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <img class="display-left graphic" src="~/Assets/images/Why some interest only borrowers.jpg" alt="Why some interest only borrowers">
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <p>
                                            New government regulations mean interest-only loans are on the decline. Given the changes,
                                            it may be time to reconsider your own loan structure.
                                        </p>
                                        <p>
                                            Rewind a few years and many people would have confidently assured you that an interest-only
                                            loan – a home loan on which you only have to make interest payments for a set period of time
                                            – was the way to go. Its benefits were clear to many owner-occupiers and investors.
                                        </p>
                                        <p>
                                            For those buying their first home, for instance, it provided an opportunity to get on top of the
                                            initial costs of buying a place before they were hit with the full force of principal and interest
                                            (P&I) repayments. For those investing in property, it was a great chance to get a tax break, without
                                            tying up all their funds in the one asset.
                                        </p>

                                    </div>
                                </div>

                                <p class="highlight">
                                    Interest-only on the wane
                                </p>
                                <p>
                                    In early 2017, however, the Australian Prudential Regulation Authority (APRA) put a cap on the number
                                    of interest-only home loans banks could offer, down to 30 per cent* of all new mortgage lending. As a
                                    result, competition intensified and interest-only rates jumped well past P&I rates.
                                </p>
                                <p>
                                    Since then, far fewer people have taken up interest-only loans while a growing number have made the
                                    switch to P&I mortgages – whether or not their interest-only period had officially ended.
                                </p>
                                <p>
                                    As a result, the stock of interest-only loans in total housing credit declined noticeably over the
                                    past year, from close to 40 per cent of all loans to almost 30 per cent. This represented a $75 billion
                                    reduction in interest-only loans from about $600 billion in late 2016**.
                                </p>
                                <p class="highlight">
                                    Doing the sums
                                </p>
                                <p>
                                    It’s not surprising that a significant portion of
                                    the Australian population has swapped from interest-only loans given
                                    the interest rate differential. But it’s not the only reason to rethink your options.
                                </p>

                                <p class="black-paragraph" style="text-align:center">In fact there are a number of reasons to rethink your interest-only loan, once you sit down and do the sums.</p>
                                <p>
                                    <span class="bolder-font">1. Your total interest bill.</span>&nbsp;It’s worth considering the interest you’ll pay
                                    over the life of the loan. The longer you wait to chip away at that principal, the more interest
                                    you’ll be paying in the long run. For instance, a $450,000 loan over 25 years with an interest rate
                                    of 5 per cent could see you paying an extra $36,055 in interest if you took out an interest-only loan
                                    for the first five years.
                                </p>

                                <p>
                                    <span class="bolder-font">2. Go for low.</span>&nbsp;Today’s interest rates are very low – for now. Why not take
                                    the opportunity to reduce your mortgage before it’s hit by higher rates?
                                </p>

                                <p>
                                    <span class="bolder-font">3. Build equity.</span>&nbsp;If the housing market takes a dip, you risk being left with little
                                    to no equity in your home. That leaves you vulnerable to losing your family home.
                                </p>
                                <p>
                                    <span class="bolder-font">4. Know your budget.</span>&nbsp;Can you afford your repayments over the long term?
                                    Inevitably the interest-only period will end and you’ll be faced with paying the principal and
                                    interest. Plus, with less time to pay it off, your repayments are likely to be quite a bit higher.
                                </p>

                                <p>
                                    <span class="bolder-font">5. Save today.</span>&nbsp;It may be that you’ve got used to having the additional cash, spending it on a
                                    mix of day-to-day necessities and luxuries instead of investing it or paying down debt. That might leave you ill-equipped
                                    to handle higher repayments and worse off in the long run.
                                </p>

                                <p>
                                    <span class="bolder-font">6. Avoid a fire sale.</span>&nbsp;Come 2020, about two-thirds of interest-only loans are due to expire.
                                    While the Reserve Bank of Australia plays down the effect this will have on Australia’s economy , it does acknowledge
                                    that some of these borrowers may experience genuine difficulties in meeting their higher repayments and as
                                    a result will be forced to sell. That’s not a situation any owner-occupier wants to be in – especially as a
                                    good number of other people will be forced to sell at the same time.
                                </p>

                                <p>
                                    *<a class="highlight bold-font" href="https://www.apra.gov.au/sites/default/files/Further-measures-to-reinforce-sound-residential-mortgage-lending-practices.pdf" target="_blank">https://www.apra.gov.au/sites/default/files/Further-measures-to-reinforce-sound-residential-mortgage-lending-practices.pdf</a><br>
                                    **<a class="highlight bold-font" href="https://www.rba.gov.au/speeches/2018/sp-ag-2018-04-24.html" target="_blank">https://www.rba.gov.au/speeches/2018/sp-ag-2018-04-24.html</a>
                                </p>





                                <a class="red-button" href="/Resources/News">Back to News</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>











