@{
    ViewBag.Title = "Home Page";
}
<div class="slider" id="slider">
    <!-- slider -->
    <div class="slider-img">
        <img src="~/Assets/images/Lowest-1.png" alt="" class="">
        @*<div class="second-img">
            <img src="~/Assets/images/LadderMan.png" alt="" class="">
        </div>*@
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="slider-captions">
                        <!-- slider-captions -->
                        <h1 class="slider-title">Looking for finance?</h1>
                        @*<p class="slider-text d-none d-xl-block d-lg-block d-sm-block">
                            Leave your searching to us.
                            <br>

                        </p>*@
                        <a href="#" class="btn btn-default">Browse Our Services</a>
                    </div>
                    <!-- /.slider-captions -->
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="slider-img">
            <img src="~/Assets/images/slider-2.jpg" alt="" class="">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="slider-captions">
                            <!-- slider-captions -->
                            <h1 class="slider-title"> Lowest Car Loan Rate <br/><strong class="text-highlight">9.60%</strong> </h1>

                            <a href="#" class="btn btn-default">Browse Our Services</a>
                        </div>
                        <!-- /.slider-captions -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="slider-img">
            <img src="~/Assets/images/Lowest-4.png" alt="" class="">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="slider-captions">
                            <!-- slider-captions -->
                            <h1 class="slider-title">Home Loans<strong class="text-highlight">9.60%</strong></h1>
                            <a href="#" class="btn btn-default ">Browse Our Services</a>
                        </div>
                        <!-- /.slider-captions -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="rate-table">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="rate-counter-block">
                    <div class="icon rate-icon  "> <img src="~/Assets/images/mortgage.svg" alt="" class="icon-svg-1x"></div>
                    <div class="rate-box">
                        <h1 class="loan-rate">3.74%</h1>
                        <small class="rate-title">Home Loans</small>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="rate-counter-block">
                    <div class="icon rate-icon  "> <img src="~/Assets/images/loan.svg" alt="" class="icon-svg-1x"></div>
                    <div class="rate-box">
                        <h1 class="loan-rate">8.96%</h1>
                        <small class="rate-title">Business Loans</small>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="rate-counter-block">
                    <div class="icon rate-icon  "> <img src="~/Assets/images/car.svg" alt="" class="icon-svg-1x"></div>
                    <div class="rate-box">
                        <h1 class="loan-rate">6.70%</h1>
                        <small class="rate-title">Car Loans</small>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="rate-counter-block">
                    <div class="icon rate-icon  "> <img src="~/Assets/images/credit-card.svg" alt="" class="icon-svg-1x"></div>
                    <div class="rate-box">
                        <h1 class="loan-rate">9.00%</h1>
                        <small class="rate-title">Investment Loans</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-space80">
    <div class="container">
        <div class="row">
            <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
                <div class="mb60 text-center section-title">
                    <!-- section title start-->
                    <h1>Find Loan Service We Offers</h1>

                </div>
                <!-- /.section title start-->
            </div>
        </div>
        <div class="row">
            <div class="service" id="service">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="bg-grayblack pinside40 service-block outline mb30">
                        <div class="icon mb40"> <img src="~/Assets/images/loan.svg" alt="" class="icon-svg-2x"> </div>
                        <h2><a href="#" class="title">Commercial Loans</a></h2>
                        <p> Priority Commercial gives you access to Australia’s leading commercial lenders and a dedicated broker to discuss the many options available to you and your business.</p>
                        <a href="#" class="btn-link">Read More</a>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="bg-grayblack pinside40 service-block outline mb30">
                        <div class="icon mb40"> <img src="~/Assets/images/mortgage.svg" alt="" class="icon-svg-2x"></div>
                        <h2><a href="#" class="title">Home Loan</a></h2>
                        <p> At Priority Home Loans, our specialist mortgage advisors are trained with all current industry knowledge and remain up to date with products from the entire market.</p>
                        <a href="#" class="btn-link">Read More</a>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="bg-grayblack pinside40 service-block outline mb30">
                        <div class="icon mb40"> <img src="~/Assets/images/piggy-bank.svg" alt="" class="icon-svg-2x"></div>
                        <h2><a href="#" class="title">Investment Loans</a></h2>
                        <p> When it comes to investing in property, you need to consider all aspects of your financial situation. Priority can help you understand the many facets that make up your portfolio.</p>
                        <a href="#" class="btn-link">Read More</a>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="bg-grayblack pinside40 service-block outline mb30">
                        <div class="icon mb40"> <img src="~/Assets/images/loan.svg" alt="" class="icon-svg-2x"></div>
                        <h2><a href="#" class="title">Business Loan</a></h2>
                        <p>There are so many opportunities you can take advantage of if you have the right finance in place. If you’re looking at expanding your business, finding new or additional premises,</p>
                        <a href="#" class="btn-link">Read More</a>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="bg-grayblack pinside40 service-block outline mb30">
                        <div class="icon mb40"> <img src="~/Assets/images/car.svg" alt="" class="icon-svg-2x"></div>
                        <h2><a href="#" class="title">Construction Loans</a></h2>
                        <p>Construction loans are really a version of a standard home loan which rolls out in stages as the different phases of your land purchase through to your house construction unfold. While you can</p>
                        <a href="#" class="btn-link">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="bg-grayblack section-space80">
        <div class="container">
            <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
                    <div class="mb100 text-center section-title">
                        <!-- section title start-->
                        <h1>Fast &amp; Easy Application Process.</h1>

                    </div>
                    <!-- /.section title start-->
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                    <div class="bg-grayblack pinside40 number-block outline mb60 bg-boxshadow">
                        <div class="circle"><span class="number">1</span></div>
                        <h3 class="number-title">Choose Loan Amount</h3>
                        <p>Suspendisse accumsan imperdue ligula dignissim sit amet vestibulum in mollis etfelis.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                    <div class="bg-grayblack pinside40 number-block outline mb60 bg-boxshadow">
                        <div class="circle"><span class="number">2</span></div>
                        <h3 class="number-title">Approved Your Loan</h3>
                        <p>Fusce tempor sstibulum varius sem nec mi luctus viverra edcongue lobortis faucibus.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                    <div class="bg-grayblack pinside40 number-block outline mb60 bg-boxshadow">
                        <div class="circle"><span class="number">3</span></div>
                        <h3 class="number-title">Get Your Cash</h3>
                        <p>Get your money in minutes simtibulm varius semnec mluctus gue lobortis faucibus.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12 text-center"> <a href="#" class="btn btn-default">View Our Loans</a> </div>
            </div>
        </div>
    </div>*@
<div class="section-space80" style="overflow: hidden;background: #2a2a2a;">
    <div class="container">

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="position-re ">
                    <div class="row">
                        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 nopadding height-300">
                            <img src="~/Assets/images/news/Yellow-Calculator.png" class="background-image"/>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 nopadding">
                            <div class="bg-grayblack pinside60 number-block outline">
                                <div class="mb20"><i class="icon-calculator  icon-4x icon-primary"></i></div>
                                <h3>Calculators</h3>
                                <a href="#" class="btn btn-outline mt20">Repayment Calculators</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-default section-space80">
    <div class="container">
        <div class="row">
            <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
                <div class="mb20 text-center section-title">
                    <!-- section title start-->
                    <h1 class="title-white">
                        What our clients say<h1>

                </div>
                <!-- /.section title start-->
            </div>
        </div>
        <div class="row">
            <div class="testimonial" id="testimonial">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 clearfix ">
                    <div class="testimonial-block mb30">
                        <div class="bg-grayblack pinside30 mb20">
                            <p class="testimonial-text">
                                “Thank you so much for your thorough and comprehensive assistance and advice in purchasing our investment property.
                                You went above and beyond for us. Thank you.”
                            </p>
                        </div>
                        <div class="testimonial-autor-box">
                            <div class="testimonial-img pull-left"></div>
                            <div class="testimonial-autor pull-left">
                                <h4 class="testimonial-name">Alex & Anna</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 clearfix ">
                    <div class="testimonial-block mb30">
                        <div class="bg-grayblack pinside30 mb20">
                            <p class="testimonial-text">
                                “Getting your first home loan is very daunting, however, Priority Home Loans just make everything seem so simple and they found an amazing interest rate that I would never have found if I didn’t go ”
                            </p>
                        </div>
                        <div class="testimonial-autor-box">
                            <div class="testimonial-img pull-left"></div>
                            <div class="testimonial-autor pull-left">
                                <h4 class="testimonial-name">Jake</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 clearfix ">
                    <div class="testimonial-block mb30">
                        <div class="bg-grayblack pinside30 mb20">
                            <p class="testimonial-text">
                                “The Priority Home Loans team have been assisting us for over 10 years with all our finance needs.
                                What makes Priority Home Loans special to us, is the personal professional service that they ha...”
                            </p>
                        </div>
                        <div class="testimonial-autor-box">
                            <div class="testimonial-img pull-left"> </div>
                            <div class="testimonial-autor pull-left">
                                <h4 class="testimonial-name">Callum & Melinda </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 clearfix ">
                    <div class="testimonial-block mb30">
                        <div class="bg-grayblack pinside30 mb20">
                            <p class="testimonial-text">
                                “I cannot recommend Priority Home Loans enough. One of the brokers I dealt with was a whiz and a gentleman to boot.  He made the process so simple and was a strong advocate in getting us the bes..”
                            </p>
                        </div>
                        <div class="testimonial-autor-box">
                            <div class="testimonial-img pull-left"></div>
                            <div class="testimonial-autor pull-left">
                                <h4 class="testimonial-name">Jenna</h4>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@*<div class="section-space40 bg-grayblack">
        <div class="container">
            <div class="row">
                <div class="logo-slider" id="logo-slider">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/AdelaideBank-web.jpg" alt=""> </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/AMP logo web.jpg" alt=""> </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/ANZ-logo.jpg" alt=""> </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/Australian-First-Mortgage-web.jpg" alt=""> </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/AusWideweb.jpg" alt=""> </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/Bank_of_Melbourne_web.jpg" alt=""> </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/Bank-Me-web.jpg" alt=""> </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/BankSA_web.jpg" alt=""> </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/BankWest_web.jpg" alt=""> </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/beyond-bank-web.jpg" alt=""> </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/BOQ.jpg" alt=""> </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/CBA.jpg" alt=""> </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/download.jpg" alt="" style="width:100px !important"> </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/Fast Lend.png" alt=""> </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/Firefighters-Mutual.jpg" alt=""> </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/First-Mac-web.jpg" alt=""> </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/Heritage-Bank-web.jpg" alt=""> </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/Homeloans-web.jpg" alt=""> </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/Homestart-web.jpg" alt=""> </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/INGDweb.jpg" alt=""> </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/Keystart LOGO.jpg" alt=""> </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/Latrobe-web.jpg" alt=""> </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/Liberty Financial.png" alt=""> </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/loan-web.jpg" alt=""> </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/Macquarie.jpg" alt=""> </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/MortgageMart.jpg" alt=""> </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/My State web.jpg" alt=""> </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/NABl_NAB-web.jpg" alt=""> </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/ParamountLogoweb.jpg" alt=""> </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/PepperMoney.jpg" alt=""> </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/PNBank.png" alt=""> </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/St George-web.jpg" alt=""> </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/Suncorp-Bank-web.jpg" alt=""> </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/Teachers-Mutual-Bank-Logo.jpg" alt=""> </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/UniBankweb.jpg" alt=""> </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/virgin-money-logo-white.jpg" alt=""> </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> <img src="Assets/images/lender/Westpac.jpg" alt=""> </div>
                </div>
            </div>
        </div>
    </div>*@
<div class="section-space40 bg-grayblack image-section">
    <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
        <div class="mb60 text-center section-title">
            <!-- section title start-->

            <h1>Our Lender Panel</h1>
        </div>
        <!-- /.section title start-->
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/AdelaideBank-web.jpg" alt=""> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/AMP logo web.jpg" alt=""> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/ANZ-logo.jpg" alt=""> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/Australian-First-Mortgage-web.jpg" alt=""> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/AusWideweb.jpg" alt=""> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/Bank_of_Melbourne_web.jpg" alt=""> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/Bank-Me-web.jpg" alt=""> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/BankSA_web.jpg" alt=""> </div>

            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/BankWest_web.jpg" alt=""> </div>

            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/beyond-bank-web.jpg" alt=""> </div>

            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/BOQ.jpg" alt=""> </div>

            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/CBA.jpg" alt=""> </div>

            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/download.jpg" alt="" style="width:112px;"> </div>

            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/Fast Lend.png" alt=""> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/Firefighters-Mutual.jpg" alt=""> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/First-Mac-web.jpg" alt=""> </div>

            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/Heritage-Bank-web.jpg" alt=""> </div>

            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/Homeloans-web.jpg" alt=""> </div>

            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/Homestart-web.jpg" alt=""> </div>

            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/INGDweb.jpg" alt=""> </div>

            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/Keystart LOGO.jpg" alt=""> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/Latrobe-web.jpg" alt=""> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/Liberty Financial.png" alt=""> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/loan-web.jpg" alt=""> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/Macquarie.jpg" alt=""> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/MortgageMart.jpg" alt=""> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/My State web.jpg" alt=""> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/NABl_NAB-web.jpg" alt=""> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/ParamountLogoweb.jpg" alt=""> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/PepperMoney.jpg" alt=""> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/PNBank.png" alt=""> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/St George-web.jpg" alt=""> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/Suncorp-Bank-web.jpg" alt=""> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/Teachers-Mutual-Bank-Logo.jpg" alt=""> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/UniBankweb.jpg" alt=""> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="~/Assets/images/lender/virgin-money-logo-white.jpg" alt="" class="image-mobile"> </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="display: flex;justify-content: center;"> <img src="~/Assets/images/lender/Westpac.jpg" alt=""> </div>
        </div>
        <p>If you are looking for expert lending advice, look no further than the experienced team at Priority Home Loans. We can help you with home loans, investment loans, leasing, commercial loans, business finance, car loans, refinancing and deposit bonds. We put our customers first. So whether you are a first home buyer, looking to invest, want to extend or renovate, need a new vehicle or simply a mortgage health check, give us a call. Our accredited mortgage brokers are based in the Priority Home Loans Hunter Coast Office and Priority Home Loans Tamworth Office, serving the North West, Gunnedah, Manilla, Mayfield, Maitland, Newcastle, Central Coast, Lake Macquarie, Cessnock, Nelson Bay, Port Stephens and Australia wide. We compare over 35 lenders to ensure your tailored finance solution is well researched and you receive the most appropriate finance for your situation. Priority Home Loans Newcastle and Priority Home Loans Tamworth consist of a team of dedicated mortgage brokers&nbsp;here to help you. So if you are looking for mortgage brokers Tamworth, mortgage brokers Gunnedah, mortgage brokers Manilla,&nbsp;mortgage brokers North West, mortgage brokers Newcastle, mortgage brokers mayfield, mortgage brokers Hunter, mortgage brokers Lake Macquarie, mortgage brokers Port Stephens or mortgage brokers Australia wide, search no further than Priority Home Loans.</p>

    </div>

</div>
<div class="section-space80">
    <div class="container">
        <div class="row">
            <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
                <div class="mb60 text-center section-title">
                    <!-- section title start-->
                    <h1>News from Loan Company</h1>
                </div>
                <!-- /.section title start-->
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="post-block mb30">
                    <div class="post-img">
                        <a href="#" class="imghover"><img src="~/Assets/images/news/How to refinance to renovate.jpg" alt="" class="img-fluid"></a>
                    </div>
                    <div class="bg-grayblack pinside40 outline">
                        <h2><a href="#" class="title">How to Refinance To Renovate</a></h2>
                        <p class="meta"><span class="meta-date">2021-08-18</span></span></p>
                        <p>Refinancing your assets to renovate a property is a significant decision that will hopefully improve your</p>
                        <a href="#" class="btn-link">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="post-block mb30">
                    <div class="post-img">
                        <a href="#" class="imghover"><img src="~/Assets/images/news/Budgeting 2.jpg" alt="" class="img-fluid"></a>
                    </div>
                    <div class="bg-grayblack pinside40 outline">
                        <h2><a href="#" class="title">Top Ways To Cut Expenses</a></h2>
                        <p class="meta"><span class="meta-date">2021-06-25</span></p>
                        <p>Is the key to saving a home deposit as simple as giving up smashed avo toast for breakfast? Well not quite</p>
                        <a href="#" class="btn-link">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="post-block mb30">
                    <div class="post-img">
                        <a href="#" class="imghover"><img src="~/Assets/images/news/Investment.jpg" alt="s" class="img-fluid"></a>
                    </div>
                    <div class="bg-grayblack pinside40 outline">
                        <h2><a href="#" class="title">Rentvesting</a></h2>
                        <p class="meta"><span class="meta-date">2021-06-25</span></p>
                        <p>
                            Enter the property market without sacrificing your current lifestyle. As property prices continue to rise, purchasing in a centrally-located or sought-after area is out of reach
                        </p>
                        <a href="#" class="btn-link">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12 text-center"> <a href="#" class="btn btn-default">View More News</a> </div>
        </div>
    </div>
</div>
<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="footer-logo">
                    <!-- Footer Logo -->
                    <img src="~/Assets/images/logo.svg" alt="">
                </div>
                <!-- /.Footer Logo -->
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">

                        <div class="customer">
                            <h3>Take the first step</h3>
                            <p>Complete the Contact Form online and we'll be in touch.</p>
                            <p class="button"><a href="/contact">Get in touch with us</a></p>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
                        <div class="newsletter-form">
                            <h3 class="newsletter-title">Signup Our Newsletter</h3>
                            <!-- Newsletter Form -->
                            <form action="https://jituchauhan.com/borrow/bootstrap-4/newsletter.php" method="post">
                                <div class="input-group">
                                    <input type="email" class="form-control" id="FirstName" name="FirstName" placeholder="First Name" required>

                                </div>
                                <div class="input-group">

                                    <input type="email" class="form-control" id="LastName" name="LastName" placeholder="Last Name" required>

                                </div>

                                <div class="input-group">

                                    <input type="email" class="form-control" id="newsletter" name="newsletter" placeholder="Write E-Mail Address" required>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">Go!</button>
                                    </span>
                                </div>                                    <!-- /input-group -->
                            </form>
                        </div>
                        <!-- /.Newsletter Form -->
                    </div>
                </div>
                <!-- /.col-lg-6 -->
            </div>
        </div>
    </div>
</div>
